<!-- HEADER -->
<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <!-- Title -->
          <h1 class="header-title">
            Commissions
          </h1>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Your Commission History
              </h4>

            </div>
            <div class="col-auto">

                <!-- Refresh -->
                <button class="btn btn-sm btn-white" type="button" name="button" (click) = "refresh()"><i class="fe fe-refresh-cw align-middle" *ngIf="isLoading() == false"></i><div class="loader loader-sm loader-secondary my-1" *ngIf="isLoading()"></div></button>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th class="text-muted">
                    Cycle Number
                </th>
                <th class="text-muted">
                    Commission Amount ($DAI)
                </th>
                <th class="text-muted">
                    Timestamp
                </th>
                <th class="text-muted">
                    Transaction
                </th>
              </tr>
            </thead>
            <tbody class="list" id="commissions-table">
              <tr *ngFor="let entry of commissionHistory">
                <td class="align-middle">
                  {{entry.cycle}}
                </td>
                <td class="align-middle">
                  {{entry.amount.toFormat(18)}}
                </td>
                <td class="align-middle">
                  {{entry.timestamp}}
                </td>
                <td class="align-middle">
                  <div class="input-group-append">
                    <a class="btn btn-white h-100" href="https://ropsten.etherscan.io/tx/{{entry.txHash}}" target="_blank"><i class="fe fe-external-link"></i></a>
                  </div>
                </td>
              </tr>
              <tr *ngIf="commissionHistory.length == 0">
                <td colspan="4" class="text-center">
                  <h3 class="my-4">You have not received any commission yet</h3>
                  <img class="w-50 mx-auto d-block" src="assets/img/illustrations/undraw_empty_xct9.svg" alt="zero-state-illustration">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>

<!-- Redeem modal -->
<div class="modal fade fixed-right" id="modalRedeem" tabindex="-1" role="dialog" aria-labelledby="modalRedeem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <!-- Select Asset title -->
            <h4 class="card-header-title">
              Redeem your commissions
            </h4>

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>

          </div>
        </div> <!-- / .row -->
      </div>
      <div class="modal-body">
        <!-- commissions amount -->
        <div class="row" *ngIf="step === 0">
          <div class="col">
            <h6 class="header-pretitle text-secondary">
              This month's commission
            </h6>
            <h3 class="display-3 mb-0">
              {{commissionAmount.toFormat(4)}} DAI
            </h3>
          </div>
        </div>
        <!-- Max acceptable price -->
        <div class="row justify-content-center" *ngIf="step === 0">
          <div class="col">
            <div id="accordion">
              <!-- question -->
              <div class="card border-0 shadow-none mb-0">
                <div class="card-header border-0 shadow-none px-0" id="headingOne">
                  <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class="row align-items-center no-gutters">
                      <div class="col mr-auto">
                        <span class="card-text text-muted small">
                          Advanced
                        </span>
                      </div>
                      <div class="col-auto">
                        <i class="fe fe-plus"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body p-0 pb-4">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="header-pretitle">
                          Cycle's commissions
                        </h6>
                        <p>Choose which cycle's commissions you want to redeem:</p>
                        <div>
                          <select class="form-control form-control-lg">
                            <option selected>Cycle 7</option>
                            <option>Cycle 6</option>
                            <option>Cycle 5</option>
                            <option>Cycle 4</option>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Do you know section step 1 -->
        <div class="card bg-light border mt-4 mb-0" *ngIf="step === 0">
          <div class="card-body">

            <h4 class="mb-2">
              Do you know?
            </h4>

            <p class="small text-muted mb-0">
              You can redeem your commissions in Betoken fund shares (BTKS) - meaning you swap your commissions for an equivalent number of shares in the fund. By doing so, you will make the fund Assets Under Management (AUM) grow quicker. A bigger AUM means more money to manage in the next cycle, and more commissions for you.
            </p>

          </div>
        </div>

        <!-- Confirm redeem body -->
        <p class="text-center text-muted mb-5" *ngIf="step === 1">
          Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick with these defaults gas limit and price.
        </p>
        <!-- Processing redeem body -->
        <img class="image-fluid d-block mx-auto mb-4" src="assets/img/animated-logo.svg" alt="Betoken logo" style="width: 88px;" *ngIf="step === 2">
        <p class="text-center text-muted mb-5" *ngIf="step === 2">
          Your commissions is being saved on the Ethereum blockchain.
        </p>
        <hr *ngIf="step === 2">
        <form *ngIf="step === 2">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://ropsten.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>
        <!-- Redeem confirmed body -->
        <p class="h1 text-center" *ngIf="step === 3">
          <i class="fe fe-check-circle text-success"></i>
        </p>
        <p class="text-center text-muted mb-5" *ngIf="step === 3">
          You redeeemed <span class="text-secondary">{{commissionAmount}}</span> $DAI (or equivalent Betoken Shares).
        </p>
        <hr *ngIf="step === 3">
        <form *ngIf="step === 3">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://ropsten.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Redeem button for step 1 -->
      <div class="modal-footer border-0" *ngIf="step === 0">
          <div class="row">
              <div class="col mb-2">
                  <button type="submit" class="btn btn-success btn-lg btn-block" aria-label="Redeem in BTKS" (click)="redeemCommission(1)" >
                    Redeem in $BTKS
                  </button>
              </div>
              <div class="col">
                  <button type="submit" class="btn btn-white btn-lg btn-block" aria-label="Redeem in DAI" (click)="redeemCommission(0)" >
                    Redeem in $DAI
                  </button>
              </div>
          </div>
      </div>

      <!-- close button -->
      <div class="modal-footer border-0" *ngIf="step === 3">
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
    </div>
  </div>
</div><!-- / modal -->
