<!-- HEADER -->
<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="alert alert-primary alert-dismissible fade show d-flex d-md-none" role="alert">
        <a class="text-white" data-toggle="modal" href="#modalReferral">
          <strong>Invite friends</strong>, earn Kairo
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row align-items-end">
        <div class="col">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Overview
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            Commissions
          </h1>
        </div>
        <div class="col-auto d-none d-md-flex">

          <!-- Button -->
          <button class="btn btn-primary mt-3 mt-md-0" data-toggle="modal" href="#modalReferral">
            Invite friends, earn Kairo
          </button>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Your Commission History
              </h4>

            </div>
            <div class="col-auto">

                <!-- Refresh -->
                <button class="btn btn-sm btn-white" type="button" name="button" (click) = "refresh()"><i class="fe fe-refresh-cw align-middle" *ngIf="isLoading() == false"></i><div class="loader loader-sm loader-secondary my-1" *ngIf="isLoading()"></div></button>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th class="text-muted">
                    Cycle Number
                </th>
                <th class="text-muted">
                    Commission Amount ($DAI)
                </th>
                <th class="text-muted">
                    Timestamp
                </th>
              </tr>
            </thead>
            <tbody class="list" id="commissions-table">
              <tr *ngFor="let entry of commissionHistory">
                <td class="py-auto">
                  {{entry.cycle}}
                </td>
                <td class="align-middle">
                  {{entry.amount}}
                </td>
                <td class="align-middle">
                  {{entry.timestamp}}
                </td>
                <td class="align-middle">
                  <div class="input-group-append">
                    <a class="btn btn-white h-100" href="https://rinkeby.etherscan.io/tx/{{entry.txHash}}" target="_blank"><i class="fe fe-external-link"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>
