<!-- HEADER -->
<div class="header">
  <div class="container-fluid px-md-5">
    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <!-- Title -->
          <h1 class="header-title" i18n="@@upgradeHeaderTitle">
            Upgrade Governance
          </h1>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->
  </div>
</div> <!-- / .header -->
<!-- CARDS -->
<div class="container-fluid pb-6 px-md-5">
  <div class="row">
    <div class="col-12">
      <div class="card list-group mb-4">
        <div class="card-header border-bottom-0">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <!-- Title -->
              <h4 class="card-header-title" i18n="@@upgradeCardTitle">
                Current Status
              </h4>
            </div>
            <div class="col-auto text-right">
              <!-- State -->
              <h4 class="card-header-title" i18n="@@upgradeCardStateDEV_PROPOSED"
                *ngIf="upgradeState == UpgradeState.DEV_PROPOSED">
                Development team proposed upgrade
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateSIGNALING_ENOUGH"
                *ngIf="upgradeState == UpgradeState.SIGNALING_ENOUGH">
                Has enough support for initiating upgrade
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateSIGNALING_NOT_ENOUGH"
                *ngIf="upgradeState == UpgradeState.SIGNALING_NOT_ENOUGH">
                Not enough support for initiating upgrade
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStatePROPAGATING"
                *ngIf="upgradeState == UpgradeState.PROPAGATING">
                Propagating news of upgrade initiation
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStatePROPOSING_NO_CANDIDATE"
                *ngIf="upgradeState == UpgradeState.PROPOSING_NO_CANDIDATE">
                Waiting for an upgrade candidate to be proposed
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStatePROPOSING_HAS_CANDIDATE"
                *ngIf="upgradeState == UpgradeState.PROPOSING_HAS_CANDIDATE">
                Proposing upgrade candidate
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateVOTING_NO_CANDIDATE"
                *ngIf="upgradeState == UpgradeState.VOTING_NO_CANDIDATE">
                No upgrade candidate to vote on
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateVOTING_ENOUGH"
                *ngIf="upgradeState == UpgradeState.VOTING_ENOUGH">
                Upgrade candidate has enough support
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateVOTING_NOT_ENOUGH"
                *ngIf="upgradeState == UpgradeState.VOTING_NOT_ENOUGH">
                Upgrade candidate doesn't have enough support
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStatePASSED" *ngIf="upgradeState == UpgradeState.PASSED">
                Upgrade candidate accepted
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStatePASSED_NOT_FINALIZED"
                *ngIf="upgradeState == UpgradeState.PASSED_NOT_FINALIZED">
                Upgrade candidate accepted but needs to be finalized
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateALL_FAILED"
                *ngIf="upgradeState == UpgradeState.ALL_FAILED">
                All upgrade candidates rejected
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateFINALIZED"
                *ngIf="upgradeState == UpgradeState.FINALIZED">
                Will upgrade to candidate after Intermission phase ends
              </h4>
              <h4 class="card-header-title" i18n="@@upgradeCardStateIDLE" *ngIf="upgradeState == UpgradeState.IDLE">
                Upgrade process inactive
              </h4>
            </div>
          </div> <!-- / .row -->
        </div>
        <!-- If signaling -->
        <ng-container
          *ngIf="upgradeState == UpgradeState.SIGNALING_ENOUGH || upgradeState == UpgradeState.SIGNALING_NOT_ENOUGH">
          <div class="list-group-item border-bottom-0 border-left-0 border-right-0">
            <div class="row d-flex align-items-center no-gutters">
              <div class="col-auto mr-2">
                <span class="small">👍 {{progressBarValue}} / {{progressBarMax}}</span>
              </div>
              <div class="col text-right">
                <div class="progress progress-sm">
                  <div
                    [ngClass]="{'bg-success': upgradeState == UpgradeState.SIGNALING_ENOUGH, 'bg-danger': upgradeState == UpgradeState.SIGNALING_NOT_ENOUGH}"
                    class="progress-bar" role="progressbar"
                    [ngStyle]="{'width': toBigNumber(progressBarValue).div(progressBarMax).times(100).toFormat(2) + '%'}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0" href="#"
            data-toggle="modal" data-target="#modalUpgrade" (click)="managerVotingSupport = true"
            *ngIf="upgradeState == UpgradeState.SIGNALING_ENOUGH || upgradeState == UpgradeState.SIGNALING_NOT_ENOUGH">
            <div class="row d-flex align-items-center no-gutters">
              <div class="col-auto">
                <span class="avatar avatar-xs">
                  <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check-circle h4 mb-0"></i></span>
                </span>
              </div>
              <div class="col pl-3">
                <h4 class="mb-0" i18n="@@upgradeBetoken">Signal your support for a smart contract upgrade</h4>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0" href="#"
            data-toggle="modal" data-target="#modalUpgrade" (click)="managerVotingSupport = false"
            *ngIf="(upgradeState == UpgradeState.SIGNALING_ENOUGH || upgradeState == UpgradeState.SIGNALING_NOT_ENOUGH) && managerSignal">
            <div class="row d-flex align-items-center no-gutters">
              <div class="col-auto">
                <span class="avatar avatar-xs">
                  <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x h3 mb-0"></i></span>
                </span>
              </div>
              <div class="col pl-3">
                <h4 class="mb-0" i18n="@@cancelUpgradeSignal">Cancel your support for a smart contract upgrade</h4>
              </div>
            </div>
          </a>
        </ng-container>

        <!-- If dev candidate -->
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0"
          href="https://etherscan.io/address/{{nextVersion}}#code" target="_blank"
          *ngIf="upgradeState == UpgradeState.DEV_PROPOSED">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-primary"><i class="fe fe-code h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0" i18n="@@upgradeDevsCandidate">The development team has proposed an upgrade candidate</h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold" i18n="@@review">Review</span>
            </div>
          </div>
        </a>
        <!-- If upgrade initiated -->
        <div class="list-group-item border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.PROPAGATING">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-transparent">
                  <div class="spinner-grow text-success spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-1 text-secondary" i18n="@@upgradeInitiated">Upgrade Initiated</h4>
              <h6 class="text-secondary mb-0" i18n="@@upgradeInitiatedSubTitle">The first 3 days are reserved for
                letting the news of the upgrade propagate.</h6>
            </div>
          </div>
        </div>
        <!-- If upgrade initiated and proposing -->
        <div class="list-group-item border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.PROPOSING_NO_CANDIDATE">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-transparent">
                  <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-1 text-secondary" i18n="@@waitingUpgradeCandidate">Proposing upgrade candidate</h4>
              <h6 class="text-secondary mb-0" i18n="@@waitingUpgradeCandidateSubtitle">Any manager can propose a smart
                contract as the upgrade candidate, unless another manager with more votes has proposed/proposes a
                candidate.</h6>
            </div>
          </div>
        </div>
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.PROPOSING_HAS_CANDIDATE"
          href="https://etherscan.io/address/{{nextVersion}}#code" target="_blank">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-transparent">
                  <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-1 text-secondary">
                <ng-container i18n="@@upgradeCandidateProposed">Upgrade candidate proposed: </ng-container>
                {{nextVersion}}
              </h4>
              <h6 class="text-secondary mb-0" i18n="@@upgradeCandidateProposedSubtitle">You can change the upgrade
                candidate if you are the current proposer or have more votes than the current proposer.</h6>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold" i18n="@@review">Review</span>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.PROPOSING_HAS_CANDIDATE" href="https://etherscan.io/address/{{proposer}}"
          target="_blank">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-transparent">
                  <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-1 text-secondary">
                <ng-container i18n="@@upgradeProposer">Proposer: </ng-container>{{proposer}} ({{proposerVotingWeight}}
                votes)
              </h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold" i18n="@@review">Review</span>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0" href="#"
          data-toggle="modal" data-target="#modalUpgrade"
          *ngIf="upgradeState == UpgradeState.PROPOSING_NO_CANDIDATE || (upgradeState == UpgradeState.PROPOSING_HAS_CANDIDATE && (+managerVotingWeight > +proposerVotingWeight || managerAddress === proposer))">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-primary"><i
                    class="fe fe-git-pull-request h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0" i18n="@@submitUpgradeCandidate">Submit upgrade candidate</h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold" i18n="@@modalCtaContinue">Continue</span>
            </div>
          </div>
        </a>
        <!-- If manager upgrade and voting -->
        <!-- If no candidate -->
        <div class="list-group-item border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.VOTING_NO_CANDIDATE">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@votingNoCandidate">No candidate proposed, please wait for the current 3-day voting
                  chunk to end.</ng-container>
              </h4>
            </div>
          </div>
        </div>
        <!-- If has candidate -->
        <div class="list-group-item border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.VOTING_ENOUGH || upgradeState == UpgradeState.VOTING_NOT_ENOUGH">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto mr-2">
              <span class="small">👍 {{forVotes}}</span>
            </div>
            <div class="col text-right">
              <div class="progress progress-sm">
                <div
                  [ngClass]="{'bg-success': upgradeState == UpgradeState.VOTING_ENOUGH, 'bg-danger': upgradeState == UpgradeState.VOTING_NOT_ENOUGH}"
                  class="progress-bar" role="progressbar"
                  [ngStyle]="{'width': toBigNumber(progressBarValue).div(progressBarMax).times(100).toFormat(2) + '%'}">
                </div>
              </div>
            </div>
            <div class="col-auto ml-2">
              <span class="small">{{againstVotes}} 👎</span>
            </div>
          </div>
        </div>
        <div class="list-group-item border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.VOTING_ENOUGH || upgradeState == UpgradeState.VOTING_NOT_ENOUGH">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-transparent">
                  <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-1 text-secondary">
                <ng-container i18n="@@votingUpgradeCandidate">Voting on upgrade candidate</ng-container> <a
                  target="_blank" href="https://etherscan.io/address/{{nextVersion}}#code">&nbsp;{{nextVersion}}</a>
              </h4>
              <h6 class="text-secondary mb-0" i18n="@@votingUpgradeCandidateSubtitle">Need >10% votes to participate and
                >75% of participating votes to support the candidate in order for it to be accepted.</h6>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold">
                <ng-container i18n="@@votingQuorum">Quorum</ng-container>: {{quorumPercentage}}%/10%, <ng-container
                  i18n="@@votingSupport">Support</ng-container>: {{supportPercentage}}%/75%
              </span>
            </div>
          </div>
        </div>
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0" href="#"
          data-toggle="modal" data-target="#modalUpgrade" (click)="managerVotingSupport = true;"
          *ngIf="upgradeState == UpgradeState.VOTING_ENOUGH || upgradeState == UpgradeState.VOTING_NOT_ENOUGH">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check-circle h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@upgradeTo">Upgrade to</ng-container>&nbsp;{{nextVersion}}
              </h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold">Vote</span>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0" href="#"
          data-toggle="modal" data-target="#modalUpgrade" (click)="managerVotingSupport = false;"
          *ngIf="upgradeState == UpgradeState.VOTING_ENOUGH || upgradeState == UpgradeState.VOTING_NOT_ENOUGH">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@dontUpgradeTo">Don't upgrade to</ng-container>&nbsp;{{nextVersion}}
              </h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold">Vote</span>
            </div>
          </div>
        </a>
        <!-- If manager upgrade candidate accepted but hasn't been finalized -->
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0" href="#"
          data-toggle="modal" data-target="#modalUpgrade" *ngIf="upgradeState == UpgradeState.PASSED_NOT_FINALIZED">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-primary"><i class="fe fe-code h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@upgrade">Upgrade</ng-container>&nbsp;{{nextVersion}}&nbsp;<ng-container
                  i18n="@@acceptedNotFinalized">accepted but needs to be finalized.</ng-container>
              </h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold" i18n="@@finalize">Finalize</span>
            </div>
          </div>
        </a>
        <!-- If manager upgrade candidate accepted and is still in manage phase -->
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0"
          href="https://etherscan.io/address/{{nextVersion}}#code" target="_blank"
          *ngIf="upgradeState == UpgradeState.PASSED">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check-circle h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@upgrade">Upgrade</ng-container>&nbsp;{{nextVersion}}&nbsp;<ng-container
                  i18n="@@accepted">accepted</ng-container>
              </h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold" i18n="@@review">Review</span>
            </div>
          </div>
        </a>
        <!-- If all votes have failed and is in manage phase -->
        <div class="list-group-item border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.ALL_FAILED">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@allFailed">No upgrade candidate had enough vote to be accepted.</ng-container>
              </h4>
            </div>
          </div>
        </div>
        <!-- If is intermission and a candidate was accepted -->
        <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0"
          href="https://etherscan.io/address/{{nextVersion}}#code" target="_blank"
          *ngIf="upgradeState == UpgradeState.FINALIZED">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check-circle h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@willUpgradeTo">Will upgrade to</ng-container>&nbsp;{{nextVersion}}
                <ng-container i18n="@@afterThisIntermissionPhase">after this Intermission phase</ng-container>
              </h4>
            </div>
            <div class="col-auto text-right">
              <span class="font-weight-bold" i18n="@@review">Review</span>
            </div>
          </div>
        </a>
        <!-- If is manage phase and voting is inactive -->
        <div class="list-group-item border-bottom-0 border-left-0 border-right-0"
          *ngIf="upgradeState == UpgradeState.IDLE">
          <div class="row d-flex align-items-center no-gutters">
            <div class="col-auto">
              <span class="avatar avatar-xs">
                <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x h4 mb-0"></i></span>
              </span>
            </div>
            <div class="col pl-3">
              <h4 class="mb-0">
                <ng-container i18n="@@votingInactive">Voting is inactive</ng-container>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card list-group">
        <div class="card-header border-bottom-0">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <!-- Title -->
              <h4 class="card-header-title" i18n="@@upgradeHistoryCardTitle">
                Upgrades history
              </h4>
            </div>
          </div> <!-- / .row -->
        </div>
        <div *ngFor="let contractAddr of upgradeHistory; let i = index">
          <a class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-0"
            href="https://etherscan.io/address/{{contractAddr}}#code" target="_blank">
            <div class="row d-flex align-items-center no-gutters">
              <div class="col-auto">
                <span class="avatar avatar-xs">
                  <span class="avatar-title rounded-circle bg-success"><i class="fe fe-git-merge h4 mb-0"></i></span>
                </span>
              </div>
              <div class="col pl-3">
                <h4 class="mb-0">
                  {{contractAddr}} <ng-container i18n="@@currentSmartContract" *ngIf="i == 0">(current smart contract)
                  </ng-container>
                </h4>
              </div>
              <div class="col-auto text-right">
                <span class="font-weight-bold" i18n="@@review">Review</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
  <a href="https://github.com/solidified-platform/audits/blob/master/Audit%20Report%20-%20%20Betoken%20%5B20.05.2019%5D.pdf"
    target="_blank">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto mb-2 mb-lg-0">
        <div class="avatar avatar-sm">
          <img class="avatar-img rounded-circle bg-secondary" src="assets/img/solidified-logo.png"
            alt="Solidified logo">
        </div>
      </div>
      <div class="col-auto">
        <p class="small text-secondary mb-0 text-center" i18n="@@solidifiedAudit">Betoken Smart Contracts are audited
          and secured by Solidified</p>
      </div>
      <div class="col-auto">
        <i class="fe fe-arrow-right text-secondary"></i>
      </div>
    </div>
  </a>
</div>

<!-- modalUpgrade -->
<div class="modal fade fixed-right" id="modalUpgrade" tabindex="-1" role="dialog" aria-labelledby="modalUpgrade"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <ng-container *ngIf="modalStep == 0">
          <h4 class="modal-title" i18n="@@modalUpgradeVoteTitle"
            *ngIf="upgradeState == UpgradeState.SIGNALING_ENOUGH || upgradeState == UpgradeState.SIGNALING_NOT_ENOUGH || upgradeState == UpgradeState.VOTING_ENOUGH || upgradeState == UpgradeState.VOTING_NOT_ENOUGH">
            Vote
          </h4>
          <h4 class="modal-title" i18n="@@modalUpgradeSubmitCandidateTitle"
            *ngIf="upgradeState == UpgradeState.PROPOSING_HAS_CANDIDATE || upgradeState == UpgradeState.PROPOSING_NO_CANDIDATE">
            Submit upgrade candidate
          </h4>
          <h4 class="modal-title" i18n="@@modalUpgradeFinalizeTitle"
            *ngIf="upgradeState == UpgradeState.PASSED_NOT_FINALIZED">
            Finalize upgrade
          </h4>
        </ng-container>
        <!-- Confirm tx -->
        <h4 class="modal-title " i18n="@@modalTitleConfirmTx" *ngIf="modalStep == 1">
          Confirm transaction
        </h4>
        <!-- Processing tx -->
        <h4 class="modal-title " i18n="@@modalTitleProcessingTx" *ngIf="modalStep == 2">
          Processing transaction
        </h4>
        <!-- Confirmed tx -->
        <h4 class="modal-title " i18n="@@modalTitleTxConfirmed" *ngIf="modalStep == 3">
          Transaction confirmed
        </h4>
        <!-- Error -->
        <h4 class="modal-title " i18n="@@modalTitleError" *ngIf="modalStep == -1">
          That's an error
        </h4>
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" i18n-aria-label="@@modalAriaLabelClose"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- progress bar vote -->
      <div class="card-header py-0 border-0" style="min-height: 24px;">
        <div class="progress" style="height: 8px;">
          <div [ngClass]="{'bg-success': modalStep >= 0, 'bg-secondary': modalStep !== 0}"
            class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div [ngClass]="{'bg-success': modalStep >= 1, 'bg-secondary': modalStep !== 1}"
            class="progress-bar border-left" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div [ngClass]="{'bg-success': modalStep >= 2, 'bg-secondary': modalStep !== 2}"
            class="progress-bar border-left" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div [ngClass]="{'bg-success': modalStep >= 3, 'bg-secondary': modalStep !== 3}"
            class="progress-bar border-left" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>

      <div class="modal-body pb-5">
        <ng-container *ngIf="modalStep == 0">
          <div class="row">
            <ng-container
              *ngIf="upgradeState == UpgradeState.SIGNALING_ENOUGH || upgradeState == UpgradeState.SIGNALING_NOT_ENOUGH">
              <!-- IDEA: Signal for a manager initiated upgrade -->
              <div class="col text-center" *ngIf="managerVotingSupport">
                <span class="avatar mb-4">
                  <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check-circle h3 mb-0"></i></span>
                </span>
                <h1 i18n="@@upgradeBetoken">Upgrade Betoken</h1>
                <p class="text-secondary mb-0" i18n="@@modalUpgradeBetokenSubtitle">Signal your support for a manager
                  initiated upgrade.
                </p>
                <a href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance#2-manager-initiated-upgrade"
                  target="_blank" i18n="@@learnMore">Learn more</a>
              </div>
              <!-- IDEA: Cancel signaling for a manager initiated upgrade -->
              <div class="col text-center" *ngIf="!managerVotingSupport">
                <span class="avatar mb-4">
                  <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x h3 mb-0"></i></span>
                </span>
                <h1 i18n="@@dontUpgradeBetoken">Don't upgrade Betoken</h1>
                <p class="text-secondary mb-0" i18n="@@modalDontUpgradeBetokenSubtitle">Cancel your support for a
                  manager
                  initiated
                  upgrade.</p>
                <a href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance#2-manager-initiated-upgrade"
                  target="_blank" i18n="@@learnMore">Learn more</a>
              </div>
            </ng-container>

            <!-- IDEA: submit upgrade candidate -->
            <div class="col text-center"
              *ngIf="upgradeState == UpgradeState.PROPOSING_HAS_CANDIDATE || upgradeState == UpgradeState.PROPOSING_NO_CANDIDATE">
              <span class="avatar mb-4">
                <span class="avatar-title rounded-circle bg-primary"><i
                    class="fe fe-git-pull-request h3 mb-0"></i></span>
              </span>
              <h1 i18n="@@submitUpgradeCandidate">Submit upgrade candidate</h1>
              <p class="text-secondary mb-0" i18n="@@modalSubmitUpgradeCandidateSubtitle">Submit the candidate smart
                contract to vote on. During the next two days, managers other than you may vote on
                whether or not to accept this candidate as the upgrade target.</p>
              <a href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance#2-manager-initiated-upgrade"
                target="_blank" i18n="@@learnMore">Learn more</a>
              <form class="my-4">
                <div class="form-group">
                  <label for="smartContractAddress" i18n="@@smartContractAddress">Smart contract address</label>
                  <input type="text" class="form-control" id="smartContractAddress" placeholder="0x00.."
                    [(value)]="managerProposedCandidate">
                </div>
              </form>
            </div>
            <ng-container
              *ngIf="upgradeState == UpgradeState.VOTING_NOT_ENOUGH || upgradeState == UpgradeState.VOTING_ENOUGH">
              <!-- IDEA: Vote for the upgrade to 0x000 -->
              <div class="col text-center" *ngIf="managerVotingSupport">
                <span class="avatar mb-4">
                  <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check-circle h3 mb-0"></i></span>
                </span>
                <h1>
                  <ng-container i18n="@@upgradeTo">Upgrade to</ng-container>&nbsp;{{nextVersion}}
                </h1>
                <p class="text-secondary" i18n="@@modalUpgradeToSubtitle">Vote in support of upgrading to this smart
                  contract.
                </p>
                <a class="btn btn-small btn-white mr-2" href="https://etherscan.io/address/{{nextVersion}}#code"
                  target="_blank">Review</a>
                <a class="btn btn-small btn-link"
                  href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance#2-manager-initiated-upgrade"
                  target="_blank" i18n="@@learnMore">Learn more</a>
              </div>
              <!-- IDEA: Vote against the upgrade to 0x000 -->
              <div class="col text-center" *ngIf="!managerVotingSupport">
                <span class="avatar mb-4">
                  <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x h3 mb-0"></i></span>
                </span>
                <h1>
                  <ng-container i18n="@@dontUpgradeTo">Don't upgrade to</ng-container>&nbsp;{{nextVersion}}
                </h1>
                <p class="text-secondary" i18n="@@modalDontUpgradeToSubtitle">Vote against upgrading to this smart
                  contract.</p>
                <a class="btn btn-small btn-white mr-2" href="https://etherscan.io/address/{{nextVersion}}#code"
                  target="_blank" i18n="@@review">Review</a>
                <a class="btn btn-small btn-link"
                  href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance#2-manager-initiated-upgrade"
                  target="_blank" i18n="@@learnMore">Learn more</a>
              </div>
            </ng-container>
            <!-- IDEA: Finalize the upgrade to 0x000 -->
            <div class="col text-center" *ngIf="upgradeState == UpgradeState.PASSED_NOT_FINALIZED">
              <span class="avatar mb-4">
                <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check-circle h3 mb-0"></i></span>
              </span>
              <h1>
                <ng-container i18n="@@finalizeUpgradeTo">Finalize the upgrade to</ng-container>&nbsp;{{nextVersion}}
              </h1>
              <p class="text-secondary" i18n="@@finalizeUpgradeToSubtitle">Finalize the upgrade to this smart
                contract.
              </p>
              <a class="btn btn-small btn-white mr-2" href="https://etherscan.io/address/{{nextVersion}}#code"
                target="_blank">Review</a>
              <a class="btn btn-small btn-link"
                href="https://betoken.gitbook.io/docs/govern/what-is-the-upgrade-governance#2-manager-initiated-upgrade"
                target="_blank" i18n="@@learnMore">Learn more</a>
            </div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col text-center">
              <h1 class="display-2 mb-2">{{managerVotingWeight}}</h1>
              <h6 class="header-pretitle" i18n="@@modalUpgradeVotingWeight">Your voting weight</h6>
              <small class="text-secondary" i18n="@@modalUpgradeVotingWeightSubtitle">
                Your voting weight is equal to your Kairo balance from 3 cycles ago.
              </small>
            </div>
          </div>
        </ng-container>

        <!--Step 1: confirm tx in wallet-->
        <img class="image-fluid d-block mx-auto mb-4" src="assets/img/animated-logo.svg" alt="Betoken logo"
          style="width: 88px;" *ngIf="modalStep == 1 || modalStep === 2">
        <p class="text-center text-muted mb-5" *ngIf="modalStep === 1" i18n="@@modalBodyTextStep1">
          Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick
          with these defaults gas limit and price.
        </p>

        <!--Step 2: tx broadcasted-->
        <p class="text-center text-muted mb-5" *ngIf="modalStep == 2" i18n="@@modalBodyTextTxBroadcasted">
          Your transaction is being saved on the Ethereum blockchain.
        </p>

        <!--Step 3: tx confirmed-->
        <div *ngIf="modalStep == 3">
          <p class="h1 text-center">
            <i class="fe fe-check-circle text-success"></i>
          </p>
          <p class="text-center text-muted mb-5" i18n="@@modalBodyTextVoteConfirmed">
            You have successfully voted.
          </p>
        </div>

        <hr *ngIf="modalStep === 2 || modalStep === 3">
        <form *ngIf="modalStep === 2 || modalStep === 3">
          <div class="form-group">
            <label i18n="@@modalBodyTxHash">Transaction hash</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}"
                aria-label="Transaction hash">
              <div class="input-group-append">
                <a class="btn btn-white h-100 d-flex align-items-center"
                  href="https://etherscan.io/tx/{{transactionId}}" target="_blank"><i
                    class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>

        <!-- error -->
        <div *ngIf="modalStep == -1">
          <p class="h1 text-center">
            <i class="fe fe-alert-circle text-danger"></i>
          </p>
          <p class="text-center text-muted mb-5" i18n="@@modalErrorText">
            The operation has resulted in an error. Please try again.
          </p>
          <p class="text-center text-muted mb-5">
            <ng-container i18n="@@modalErrorMsg">Error message:</ng-container>&nbsp;{{errorMsg}}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <!-- Continue button -->
        <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="Continue" (click)="continue()"
          i18n="@@modalCtaContinue" *ngIf="modalStep == 0">
          Continue
        </button>
      </div>
      <div class="modal-footer" *ngIf="modalStep === 2 || modalStep === 3">
        <!-- close button panel -->
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal"
          i18n-aria-label="@@modalAriaLabelClose" aria-label="Close" i18n="@@modalCtaClose">
          Close
        </button>
      </div>
      <div class="modal-footer" *ngIf="modalStep == -1">
        <!-- Try again button for error -->
        <button type="submit" class="btn btn-block btn-white mt-auto" i18n="@@modalTryAgainAriaLabel"
          aria-label="Try again" (click)="modalStep = 0" i18n="@@modalTryAgain">
          Try again
        </button>
      </div>
    </div>
  </div>
</div><!-- / modal -->