<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
  <div class="container-fluid px-md-5">

    <div class="navbar-text p-0">
      <h6 class="header-pretitle text-muted mb-1 time-left-title">
        <ng-container i18n="@@timeCounterTitle">Time left</ng-container>&nbsp;<ng-container *ngIf="phase == 0"
          i18n="@@timeCounterActionIntermission">until managing begins</ng-container>
        <ng-container *ngIf="phase == 1" i18n="@@timeCounterActionManage">to manage</ng-container>
      </h6>
      <h4 class="header-title text-secondary time-left-value">
        {{days}}<ng-container i18n="@@timeLeftInDays">d</ng-container>&nbsp;{{hours}}<ng-container
          i18n="@@timeLeftInHours">h</ng-container>&nbsp;{{minutes}}<ng-container i18n="@@timeLeftInMinutes">m
        </ng-container>&nbsp;{{seconds}}<ng-container i18n="@@timeLeftInSeconds">s</ng-container>
      </h4>
    </div>

    <!-- User -->
    <div class="navbar-user">
      <div class="mr-4 d-none d-md-flex">
        <!-- Toggle -->
        <a data-toggle="modal" href="#modalLanguage">
          <span class="icon">
            <img src="assets/img/icons/baseline-translate-24px.svg" alt="">
          </span>
        </a>
      </div>
      <div class="mr-4 d-none d-md-flex">
        <!-- Toggle -->
        <a class="text-muted mt-2" data-toggle="modal" href="#modalEmailUpdates">
          <i class="fe fe-bell h2 mr-1"></i>
          <span class="badge badge-success badge-pill align-items-top mt-n4 ml-n3">23</span>
        </a>
      </div>
      <!--Account display-->
      <button class="btn btn-white text-truncate" style="width: 12rem;" (click)="reloadAll()"
        *ngIf="user_address !== ZERO_ADDR"><span class="text-success">●</span> {{user_address}}</button>
      <button class="btn btn-white text-truncate" (click)="reloadAll()" *ngIf="user_address == ZERO_ADDR"><span
          class="text-danger">●</span>&nbsp;<ng-container i18n="@@headerConnectWalletCTA">Connect Wallet</ng-container>
        </button>
    </div>
  </div>
</nav>

<!-- PREHADER
================================================== -->
<div *ngIf="errorMsg !== '' ">
  <div class="alert alert-warning rounded-0 mb-0">
    {{errorMsg}}
  </div>
</div>
<div *ngIf="phase == 1 && 7 > days && !checkRouterURL('/invest')">
  <div class="alert alert-warning alert-dismissible fade show rounded-0 mb-0">
    <ng-container i18n="@@managerAlert1">Please note you have only</ng-container>&nbsp;{{days}}&nbsp;<ng-container
      i18n="@@managerAlert2">days left to manage. You MUST sell all of your investments during this time, or you WILL
      LOSE your staked Kairo tokens.</ng-container>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
  </div>
</div>

<!-- Get Updates modal -->
<div class="modal fade fixed-right" id="modalEmailUpdates" tabindex="-1" role="dialog"
  i18n-aria-describedby="@@headerGetUpdateModalAriaDescribedby" aria-describedby="Get update modal by email"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title" i18n="@@modalBeNotifiedByEmail">
          Notifications
        </h4>
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" i18n-aria-label="@@modalAriaLabelClose"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-5">
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col mb-4 px-0"
          target="_blank" novalidate>
          <label class="small" for="mce-EMAIL">Get notified by email</label>
          <div class="input-group input-group-lg">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL"
              i18n-placeholder="@@modalEmailPlaceholder" placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append bg-black">
              <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-0">

            <div class="row">
              <div class="col-auto">
                <div class="avatar">
                  <span class="avatar-title rounded-circle bg-warning"><i class="fe fe-alert-circle"></i></span>
                </div>

              </div>
              <div class="col ml-n2">

                <!-- Content -->
                <div class="small text-secondary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                </div>

              </div>
            </div> <!-- / .row -->

          </li>
          <li class="list-group-item px-0">

            <div class="row">
              <div class="col-auto">
                <div class="avatar">
                  <span class="avatar-title rounded-circle bg-success"><i class="fe fe-check"></i></span>
                </div>

              </div>
              <div class="col ml-n2">

                <!-- Content -->
                <div class="small text-secondary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                </div>

              </div>
            </div> <!-- / .row -->

          </li>
          <li class="list-group-item px-0">

            <div class="row">
              <div class="col-auto">
                <div class="avatar">
                  <span class="avatar-title rounded-circle bg-danger"><i class="fe fe-x"></i></span>
                </div>

              </div>
              <div class="col ml-n2">

                <!-- Content -->
                <div class="small text-secondary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                </div>

              </div>
            </div> <!-- / .row -->

          </li>
          <li class="list-group-item px-0">

            <div class="row">
              <div class="col-auto">
                <div class="avatar">
                  <span class="avatar-title rounded-circle bg-info"><i class="fe fe-info"></i></span>
                </div>

              </div>
              <div class="col ml-n2">

                <!-- Content -->
                <div class="small text-secondary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                </div>

              </div>
            </div> <!-- / .row -->

          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- / modal -->

<!-- Languages modal -->
<div class="modal fade fixed-right" id="modalLanguage" tabindex="-1" role="dialog"
  i18n-aria-describedby="@@headerLanguageModalAriaDescribedby" aria-describedby="Switch to another language"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title" i18n="@@headerLanguageModalTitle">
          Switch to another language
        </h4>
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" i18n-aria-label="@@modalAriaLabelClose"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/">
              English
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/zh-Hans/">
              简体中文
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/ja/">
              日本語
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/pt/">
              Português
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
