<div class="proposal-wrapper col-12 col-lg-10 float-right">
    <div class="row">
        <div class="alert-window" *ngIf="sellalert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Sell your assets to redeem all your KRO staked before cycle’s end. <a class="text-white" href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
                <button class="btn btn-link text-center alert-button" (click)="hidealert()">DISMISS</button>
            </div>
        </div>

        <div class="alert-window" *ngIf="nextphasealert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Portfolio proposal phase ended. Switch to next phase.</p>
                <button class="btn btn-link text-center alert-button" (click)="changeproposal()">NEXT PHASE</button>
            </div>
        </div>

        <div class="alert-window" *ngIf="redeemalert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Redeem your commissions before the phase ends. <a class="text-white" href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
                <button class="btn btn-link text-center alert-button" routerLink="/redeem">REDEEM COMMISSSION</button>
            </div>
        </div>
        <div class="proposal-table-sec col-8">
            <div class="sec-header d-flex justify-content-between align-items-center">
                <p class="sec-title">Active Investments</p>
                <button class="text-center outline-button" (click) = "refresh()">
                    <span *ngIf="isLoading() == false">REFRESH</span>
                    <span *ngIf="isLoading()">Loading...</span>
                </button>
            </div>
            <div class="cards table-responsive">
                <table class="table proposal-table">
                    <thead class="betoken-font">
                        <tr>
                            <th scope="col" class="pl-0">Asset</th>
                            <th scope="col">Buy price</th>
                            <th scope="col">Current price</th>
                            <th scope="col">Staked KRO</th>
                            <th scope="col">KRO to redeem</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="black-font">
                        <tr *ngFor = "let data of activeInvestmentList">
                            <td class="identy pl-0">
                                <div class="d-flex align-items-center">
                                    <p class="m-0 abrivation">{{data.tokenSymbol}}</p>
                                </div>
                            </td>
                            <td class="pl-0">{{data.buyPrice.toFormat(4)}} DAI</td>
                            <td class="current-sell-price">{{data.sellPrice.toFormat(4)}} DAI</td>
                            <td>{{data.stake.toFormat(4)}}</td>
                            <td class="profit">
                                <span class="diffrence">{{data.currValue.toFormat(4)}}</span>
                                <span class="value green-font" *ngIf = "+data.ROI >= 0">{{data.ROI.toFormat(4)}}%</span>
                                <span class="value red-font" *ngIf = "0 > +data.ROI">{{data.ROI.toFormat(4)}}%</span>
                            </td>
                            <td *ngIf = "data.isSold == false">
                                <button class="outline-button active" (click)="sell(data)" style="background-color: #18daa3; color: white">SELL</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="sec-header d-flex justify-content-between align-items-center">
                <p class="sec-title">Past Investments</p>
            </div>
            <div class="cards table-responsive">
                <table class="table proposal-table">
                    <thead class="betoken-font">
                        <tr>
                            <th scope="col" class="pl-0">Asset</th>
                            <th scope="col">Buy price</th>
                            <th scope="col">Sell price</th>
                            <th scope="col">Staked KRO</th>
                            <th scope="col">Redeemed KRO</th>
                        </tr>
                    </thead>
                    <tbody class="black-font">
                        <tr *ngFor = "let data of inactiveInvestmentList">
                            <td class="identy pl-0">
                                <div class="d-flex align-items-center">
                                    <p class="m-0 abrivation">{{data.tokenSymbol}}</p>
                                </div>
                            </td>
                            <td>{{data.buyPrice.toFormat(4)}} DAI</td>
                            <td class="current-sell-price">{{data.sellPrice.toFormat(4)}} DAI</td>
                            <td>{{data.stake.toFormat(4)}}</td>
                            <td class="profit">
                                <span class="diffrence">{{data.currValue.toFormat(4)}}</span>
                                <span class="value green-font" *ngIf = "+data.ROI >= 0">{{data.ROI.toFormat(4)}}%</span>
                                <span class="value red-font" *ngIf = "0 > +data.ROI">{{data.ROI.toFormat(4)}}%</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="email-update-sec col-4 col-md-3 col-lg-4 mb-3">
            <div class="sec-header">
                <p class="sec-title">Receive updates</p>
            </div>

            <div class="cards">

                <p class="update-info black-font">
                    Get updates about the fund status, beginning of new investment cycle phases and date to redeem commissions.
                </p>

                <p>
                    Email address
                </p>

                <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="emailer-box">
                        <input class="outline-button w-100 mb-3" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
                        <div class="input-group-append">
                            <button class="text-center outline-button black-font w-100 mb-3" name="subscribe" id="mc-embedded-subscribe">
                                GET UPDATED
                            </button>
                        </div>
                    </div>
                </form>

                <div class="update-footer">
                    <a target="_blank" href="https://t.me/betokenfund">
                        <p class="black-font" style="text-align: center;">
                            Join our Telegram community
                            <img src="assets/images/iconmonstr-telegram-4.svg" width="24" class="ml-1">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="proposal-modal-wrapper"  [@toggleProposal]="state" [class.active]="active">
    <div class="content proposal-phase" *ngIf="proposalfund">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Invest in assets
            </div>
            <div class="modal-close">
                <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="time-wrapper">
            <span class="time-left-title">Time left to invest: </span> <span class="time-left-value">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</span>
        </div>

        <div class="main-sec" *ngIf="step1">
            <p class="m-0 pb-4 black-font">Stake Kairo tokens to invest in crypto-assets.</p>
            <p class="m-0 pb-4 black-font">If the price of the asset goes up, you're rewarded with more Kairo.
                More Kairo means more monthly commissions, as well as more money you can use for investing.</p>

            <p>Select an asset</p>
            <div class="mt-2 mb-3 outline-box w-100 d-flex  align-items-center justify-content-between">
                <select id="selectedTokenSymbolidd"   class="border-0 betoken-font w-100" (change)="updateTokenSymbol($event.target.value)" class="border-0 betoken-font" >
                    <option *ngFor = "let token of tokenList" >{{token}} </option>
                </select>
            </div>
            <div class="trading-view">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div class="tradingview-widget-container__widget"></div>
                  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BINANCE-ETHUSD/" rel="noopener" target="_blank"><span class="blue-text">ETHUSD Rates</span></a> by TradingView</div>
                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                  {
                  "symbol": "BINANCE:ETHUSD",
                  "width": "383",
                  "height": "287",
                  "locale": "en",
                  "dateRange": "1m",
                  "colorTheme": "light",
                  "trendLineColor": "#37a6ef",
                  "underLineColor": "#e3f2fd",
                  "isTransparent": false,
                  "autosize": false,
                  "largeChartUrl": ""
                }
                  </script>
                </div>
                <!-- TradingView Widget END -->
            </div>
            <div class="token-price"*ngIf = "tradeAssetval !== undfined">
                <p>Current Price on Kyber Network: <b>{{tradeAssetval}} DAI</b></p>
            </div>
            <div>
                <p>24h change: <span [ngClass]="{'green-font': +getTokenDailyPriceChange(selectedTokenSymbol) >= 0, 'red-font': 0 > +getTokenDailyPriceChange(selectedTokenSymbol)}">{{getTokenDailyPriceChange(selectedTokenSymbol)}}%</span></p>
            </div>
            <hr>
            <p class="mt-4">
                KRO to stake • Your Balance: {{kairo_balance}} KRO
            </p>
            <input type="text" class="outline-box w-100 d-flex" (keyup) = "kairoInput($event)" placeholder="e.g. 1.0000">
        </div>

        <div class="confirmation-sec" *ngIf="step2">
            <p class="mb-3">
                🚨 Confirm your trade for this asset
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund contract.
                It's fine to stick with these defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>
        </div>

        <div class="broadcast-sec m-3" *ngIf="step3">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain.
                You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-5">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
                <input class="tx-hash" type="text" name="" value="{{transactionId}}">
                <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>

        <div class="final-sec m-3" *ngIf="step4">
            <p class="mb-3">
                🙌 Done. Trade registered. Good choice!
            </p>
            <p class="m-0 pb-4 black-font">
                You staked {{kairoinput}} KRO to support {{selectedTokenSymbol}}.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/finish.png" class="pointer ">
            </div>
            <p class="m-0">
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>

        </div>

        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" (click)="support()" *ngIf= "step1">INVEST</button>
            <button class="text-center outline-button active w-100" (click)="closePopup()" *ngIf= "step4">MAKE A NEW INVESTMENT</button>
        </div>

    </div>

    <div class="content proposal-trade-phase" *ngIf="tradeproposalfund">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Sell Your Assets
            </div>
            <div class="modal-close">
              <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="time-wrapper">
            <span class="time-left-title">Time left to sell assets: </span> <span class="time-left-value">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</span>
        </div>
        <div class="confirmation-sec" *ngIf="sellStep1">
            <p class="mb-3">
                🚨 Confirm your transaction
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund.
                It's fine to stick with these defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" class="pointer " (click)="confirmsell()" width="128" height="128">
            </div>

        </div>
        <div class="broadcast-sec m-3" *ngIf="sellStep2">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain.
                You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-5">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="final-sec m-3" *ngIf="sellStep3">
            <p class="mb-3">
                🙌 Done. Check your balance!
            </p>
            <p class="m-0 pb-4 black-font">
                You redeeemed {{kroRedeemed}} KRO.
            </p>
            <div class="d-flex justify-content-center mb-4">
                <img src="assets/images/finish.png" class="pointer ">
            </div>
            <p class="m-0 mt-4">
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" *ngIf="sellStep3" (click)="newsupport()">TRADE SUCCESSFUL</button>
        </div>
    </div>

    <div class="content proposal-changefund-phase" *ngIf="changeproposalfund">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Change fund phase
            </div>
            <div class="modal-close">
              <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="main-sec" *ngIf="changeStep1">
            <p class="m-0 pb-5 black-font">This action will be repercuted on all the fund’s participants.
                By being the first to operate this action, you’ll be granted 10 KRO.
            </p>
        </div>
        <div class="confirmation-sec" *ngIf="changeStep2">
            <p class="mb-3">
                🚨 Confirm your transaction
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund contract. It's fine to stick with these
                defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" class="pointer " (click)="confirmcchangefund()" width="128" height="128">
            </div>
        </div>
        <div class="broadcast-sec m-3" *ngIf="changeStep3">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain. You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-5">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" (click)="changefundstep1()" *ngIf="changeStep1">GO TO NEXT INVESTMENT PHASE</button>
            <button class="text-center outline-button active w-100 mt-4" (click)="finalchangefund()" *ngIf="changeStep3">FUND CHANGED</button>
        </div>
    </div>
</div>
<div class="overlay-popup" [class.active]="active" (click)="closePopup()"></div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3"
    *ngIf="footerbtn1">
    <button class="text-center outline-button active" (click)="proposalPopup()">TRADE ASSSETS</button>
</div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3"
*ngIf="footerbtn2">
    <button class="text-center outline-button active" (click)="changeproposalPopup()">NEXT PHASE</button>
</div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3" *ngIf="footerbtn3">
    <button class="text-center outline-button active" routerLink="/redeem">REDEEM COMMISSION</button>
</div>
