<!-- HEADER -->
<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="alert alert-primary alert-dismissible fade show d-flex d-md-none" role="alert">
        <a class="text-white" data-toggle="modal" href="#modalReferral">
          <strong>Invite friends</strong>, earn Kairo
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row align-items-end">
        <div class="col">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Overview
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            My Investments
          </h1>

        </div>
        <div class="col-auto d-none d-md-flex">

          <!-- Button -->
          <button class="btn btn-primary mt-3 mt-md-0" data-toggle="modal" href="#modalReferral">
            Invite friends, earn Kairo
          </button>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="card-deck mb-5">
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="Amount of Betoken's AUM you manage. The more Kairo you own, the more money you will manage.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Your Portfolio Value
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              $24,500
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 text-muted mb-0">DAI</span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="The more Kairo you own, the more money you will manage, the more commission you will receive. You will be able to earn Kairo by making profitable investments for the Betoken fund.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              YOUR AVAILABLE KRO
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              56.9982 KRO
            </span>

            <!-- Badge -->
            <span class="badge badge-soft-success">
              +3.5%
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-zap text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>

    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="The more you stake KRO, the more you put at work Betoken's money, the more you earn commissions.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Staked KRO
            </h6>

            <div class="row align-items-center no-gutters">
              <div class="col-auto">

                <!-- Heading -->
                <span class="h2 mr-2 mb-0">
                  84.5%
                </span>

              </div>
              <div class="col">

                <!-- Progress -->
                <div class="progress progress-sm">
                  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-database text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="<strong>20%</strong> of Betoken's profits (if any) is set aside as commission and distributed among Kairo holders proportional to the amount they hold. <strong>0.1%</strong> is also set aside and distributed among Kairo holders. <strong>3%</strong> is charged whenever a limited partner (aka investor) withdraws his funds, and distributed among Kairo holders.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Your Mo. Est. Commission
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              143.1970
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 text-muted mb-0">DAI</span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
  </div> <!-- / .row -->
  <div class="row">
    <div class="col-12">
      <!-- Card -->
      <div class="card" data-toggle="lists" data-lists-values='["asset", "buy-price", "current-price", "staked-kro", "redeem-kro", "asset-status", "action"]'>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Your Investments
              </h4>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-12">

              <!-- Form -->
              <form>
                <div class="input-group input-group-flush input-group-merge">
                  <input type="search" class="form-control form-control-prepended search" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  <a href="#" class="text-muted sort" data-sort="asset">
                    Asset
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="buy-price">
                    Buy Price
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="current-price">
                    Current Price
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="staked-kro">
                    Staked KRO
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="redeem-kro">
                    KRO To Redeem
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="asset-status">
                    Status
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="action">
                    Action
                  </a>
                </th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <td class="asset py-auto">
                  <!-- Avatar -->
                  <span class="avatar avatar-xs align-middle">
                    <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                  </span>
                  <span class="align-middle ml-2">
                    ETH • <small class="text-muted small">Ethereum</small>
                  </span>
                </td>
                <td class="buy-price align-middle">
                  154.1900 DAI
                </td>
                <td class="current-price align-middle">
                  157.1900 DAI
                </td>
                <td class="staked-kro align-middle">
                  1.1202 KRO
                </td>
                <td class="redeem-kro align-middle">
                  1.2343 KRO
                  <!-- Badge -->
                  <span class="badge badge-soft-success">
                    +3.5%
                  </span>
                </td>
                <td class="asset-status align-middle">
                  <div class="badge badge-soft-danger">
                    Sold
                  </div>
                </td>
                <td class="action align-middle">
                </td>
              </tr>
              <tr>
                <td class="asset py-auto">
                  <!-- Avatar -->
                  <span class="avatar avatar-xs align-middle">
                    <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                  </span>
                  <span class="align-middle ml-2">
                    ETH • <small class="text-muted small">Ethereum</small>
                  </span>
                </td>
                <td class="buy-price align-middle">
                  154.1900 DAI
                </td>
                <td class="current-price align-middle">
                  157.1900 DAI
                </td>
                <td class="staked-kro align-middle">
                  1.1202 KRO
                </td>
                <td class="redeem-kro align-middle">
                  1.2343 KRO
                  <!-- Badge -->
                  <span class="badge badge-soft-success">
                    +3.5%
                  </span>
                </td>
                <td class="asset-status align-middle">
                  <div class="badge badge-soft-success">
                    Active
                  </div>
                </td>
                <td class="action align-middle">
                  <button class="btn btn-sm btn-success" type="button" name="button" data-toggle="modal" href="#modalSell">Sell</button>
                </td>
              </tr>
              <tr>
                <td class="asset py-auto">
                  <!-- Avatar -->
                  <span class="avatar avatar-xs align-middle">
                    <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                  </span>
                  <span class="align-middle ml-2">
                    ETH • <small class="text-muted small">Ethereum</small>
                  </span>
                </td>
                <td class="buy-price align-middle">
                  154.1900 DAI
                </td>
                <td class="current-price align-middle">
                  157.1900 DAI
                </td>
                <td class="staked-kro align-middle">
                  1.1202 KRO
                </td>
                <td class="redeem-kro align-middle">
                  1.2343 KRO
                  <!-- Badge -->
                  <span class="badge badge-soft-danger">
                    -3.5%
                  </span>
                </td>
                <td class="asset-status align-middle">
                  <div class="badge badge-soft-success">
                    Active
                  </div>
                </td>
                <td class="action align-middle">
                  <button class="btn btn-sm btn-success" type="button" name="button" data-toggle="modal" href="#modalSell">Sell</button>
                </td>
              </tr>
              <tr>
                <td class="asset py-auto">
                  <!-- Avatar -->
                  <span class="avatar avatar-xs align-middle">
                    <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                  </span>
                  <span class="align-middle ml-2">
                    ETH • <small class="text-muted small">Ethereum</small>
                  </span>
                </td>
                <td class="buy-price align-middle">
                  154.1900 DAI
                </td>
                <td class="current-price align-middle">
                  157.1900 DAI
                </td>
                <td class="staked-kro align-middle">
                  1.1202 KRO
                </td>
                <td class="redeem-kro align-middle">
                  1.2343 KRO
                  <!-- Badge -->
                  <span class="badge badge-soft-success">
                    +3.5%
                  </span>
                </td>
                <td class="asset-status align-middle">
                  <div class="badge badge-soft-danger">
                    Sold
                  </div>
                </td>
                <td class="action align-middle">

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>

<!-- angular stuff
<div class="proposal-wrapper col-12 col-lg-10 float-right">
    <div class="row">
        <div class="alert-window" *ngIf="errorMsg !== '' ">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">{{errorMsg}}</p>
            </div>
        </div>
        <div class="alert-window" *ngIf="sellalert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Sell your assets to redeem all your KRO staked before cycle’s end. <a href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
                <button class="btn btn-link text-center alert-button" (click)="hideAlert()">DISMISS</button>
            </div>
        </div>

        <div class="alert-window" *ngIf="nextphasealert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Current phase has ended.</p>
                <button class="btn btn-link text-center alert-button" (click)="hideNextPhaseAlert()">DISMISS</button>
            </div>
        </div>

        <div class="alert-window" *ngIf="redeemalert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Redeem your commissions before the phase ends. <a href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
                <button class="btn btn-link text-center alert-button" routerLink="/redeem">REDEEM COMMISSSION</button>
            </div>
        </div>
        <div class="proposal-table-sec col-8">
            <div class="sec-header d-flex justify-content-between align-items-center">
                <p class="sec-title">Active Investments</p>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-outline-secondary text-secondary bg-white btn-sm" (click) = "refresh()">
                      <span *ngIf="isLoading() == false">REFRESH</span>
                      <span *ngIf="isLoading()">Loading...</span>
                  </button>
                </div>
            </div>
            <div class="cards table-responsive">
                <input class="outline-box w-100" id="search-box" (keyup)="filterTable($event,'investment-table',0)" placeholder="Search">
                <table class="table proposal-table">
                    <thead class="betoken-font">
                        <tr>
                            <th scope="col" class="pl-0">Asset</th>
                            <th scope="col">Buy price</th>
                            <th scope="col">Current price</th>
                            <th scope="col">Staked KRO</th>
                            <th scope="col">KRO to redeem</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="black-font" id="investment-table">
                        <tr *ngFor = "let data of activeInvestmentList">
                            <td class="identy pl-0">
                                <div class="d-flex align-items-center">
                                    <p class="m-0 abrivation">{{data.tokenSymbol}}</p>
                                </div>
                            </td>
                            <td class="pl-0">{{data.buyPrice.toFormat(4)}} DAI</td>
                            <td class="current-sell-price">{{data.sellPrice.toFormat(4)}} DAI</td>
                            <td>{{data.stake.toFormat(4)}}</td>
                            <td class="profit">
                                <span class="diffrence">{{data.currValue.toFormat(4)}}</span>
                                <span class="value green-font" *ngIf = "+data.ROI >= 0">{{data.ROI.toFormat(4)}}%</span>
                                <span class="value red-font" *ngIf = "0 > +data.ROI">{{data.ROI.toFormat(4)}}%</span>
                            </td>
                            <td class="pt-1" *ngIf = "data.isSold == false">
                                <button class="outline-button active" (click)="sell(data)" style="background-color: #18daa3; color: white">SELL</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="sec-header d-flex justify-content-between align-items-center">
                <p class="sec-title">Past Investments</p>
            </div>
            <div class="cards table-responsive">
                <input class="outline-box w-100" id="search-box" (keyup)="filterTable($event,'past-investment-table',0)" placeholder="Search">
                <table class="table proposal-table">
                    <thead class="betoken-font">
                        <tr>
                            <th scope="col" class="pl-0">Asset</th>
                            <th scope="col">Buy price</th>
                            <th scope="col">Sell price</th>
                            <th scope="col">Staked KRO</th>
                            <th scope="col">Redeemed KRO</th>
                        </tr>
                    </thead>
                    <tbody class="black-font" id="past-investment-table">
                        <tr *ngFor = "let data of inactiveInvestmentList">
                            <td class="identy pl-0">
                                <div class="d-flex align-items-center">
                                    <p class="m-0 abrivation">{{data.tokenSymbol}}</p>
                                </div>
                            </td>
                            <td>{{data.buyPrice.toFormat(4)}} DAI</td>
                            <td class="current-sell-price">{{data.sellPrice.toFormat(4)}} DAI</td>
                            <td>{{data.stake.toFormat(4)}}</td>
                            <td class="profit">
                                <span class="diffrence">{{data.currValue.toFormat(4)}}</span>
                                <span class="value green-font" *ngIf = "+data.ROI >= 0">{{data.ROI.toFormat(4)}}%</span>
                                <span class="value red-font" *ngIf = "0 > +data.ROI">{{data.ROI.toFormat(4)}}%</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="email-update-sec col-4 col-md-3 col-lg-4 mb-3">
            <!-- how to use betoken start
            <div class="sec-header">
                <p class="sec-title">How to join Betoken Beta?</p>
            </div>
            <div class="alert-window">
                <div class="alert bg-primary py-3 cards rounded" role="alert">
                  <a class="alert-link" href="https://betoken.fund/iao/" target="_blank">Create a manager account</a> by participating in our Initial Account Offering (IAO). You will receive Kairo --- Betoken's utility token necessary for managing the fund. Testnet Kairo will be credited at the end of each investment cycle (check the timer in the sidebar).
                </div>
            </div>
            <!-- how to use betoken END
            <div class="sec-header">
                <p class="sec-title">Receive updates</p>
            </div>
            <div class="cards">
                <p class="update-info black-font">
                    Get updates about the fund status, beginning of new investment cycle phases and date to redeem commissions.
                </p>
                <p>Email address</p>
                <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="emailer-box">
                        <input class="outline-button w-100 mb-3" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
                        <div class="input-group-append">
                            <button class="text-center outline-button black-font w-100 mb-3" name="subscribe" id="mc-embedded-subscribe">
                                GET UPDATED
                            </button>
                        </div>
                    </div>
                </form>
                <div class="update-footer">
                    <a target="_blank" href="https://t.me/betokenfund">
                        <p class="black-font" style="text-align: center;">
                            Join our Telegram community
                            <img src="assets/images/iconmonstr-telegram-4.svg" width="24" class="ml-1">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="proposal-modal-wrapper"  [@toggleProposal]="state" [class.active]="active">
    <div class="content proposal-phase" *ngIf="showCreateInvestmentPopup">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Invest in assets
            </div>
            <div class="modal-close">
                <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="time-wrapper">
            <span class="time-left-title">Time left to invest: </span> <span class="time-left-value">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</span>
        </div>

        <div class="main-sec" *ngIf="createInvestmentPopupStep === 0">
            <p class="m-0 pb-4 black-font">Stake Kairo tokens to invest in crypto-assets.</p>
            <p class="m-0 pb-4 black-font">If the price of the asset goes up, you're rewarded with more Kairo.
                More Kairo means more monthly commissions, as well as more money you can use for investing.</p>
            <div class="row">
              <div class="col">
                <p>Select an asset</p>
                <div class="outline-box w-100 d-flex align-items-center justify-content-between">
                    <select id="selectedTokenSymbolidd" class="border-0 betoken-font w-100" (change)="updateDisplayedTokenInfo($event.target.value)" class="border-0 betoken-font" >
                        <option *ngFor = "let token of tokenList" >{{token}} </option>
                    </select>
                </div>
              </div>
              <div class="col">
                <p>KRO to stake</p>
                <input type="text" class="outline-box w-100 d-flex" (keyup) = "kairoInput($event)" placeholder="e.g. 1.0000">
              </div>
            </div>
            <hr>
            <div>
                <p>Your available balance: <span class="text-dark">{{kairo_balance}} KRO</span></p>
            </div>
            <hr *ngIf="showWidget === false">
            <div class="row" *ngIf="showWidget === false">
              <div class="col">
                <div class="token-price" *ngIf = "tradeAssetval !== undfined">
                    <p class="m-0">Current Price: <br><span class="text-dark">{{tradeAssetval}} DAI</span></p>
                </div>
              </div>
              <div class="col">
                <div>
                    <p class="m-0">24h change: <br><span [ngClass]="{'green-font': +getTokenDailyPriceChange(selectedTokenSymbol) >= 0, 'red-font': 0 > +getTokenDailyPriceChange(selectedTokenSymbol)}">{{dailyPriceChange}}%</span></p>
                </div>
              </div>
            </div>
            <hr *ngIf="showWidget === true">
            <div *ngIf="showWidget === true">
                <p>Monthly market trend:</p>
                <div class="trading-view">
                <!-- TradingView Widget BEGIN
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BINANCE-{{selectedTokenSymbol}}USD/" rel="noopener" target="_blank"><span class="blue-text"> {{selectedTokenSymbol}}USD Rates</span></a> by TradingView</div>
                    <div id="chartview"></div>
                </div>
                <!-- TradingView Widget END
                </div>
            </div>
        </div>

        <div class="confirmation-sec" *ngIf="createInvestmentPopupStep === 1">
            <p class="mb-3">
                🚨 Confirm your trade for this asset
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund contract.
                It's fine to stick with these defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>
        </div>

        <div class="broadcast-sec m-3" *ngIf="createInvestmentPopupStep === 2">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain.
                You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-3">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
                <input class="tx-hash" type="text" name="" value="{{transactionId}}">
                <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>

        <div class="final-sec m-3" *ngIf="createInvestmentPopupStep === 3">
            <p class="mb-3">
                🙌 Done. Trade registered. Good choice!
            </p>
            <p class="m-0 pb-4 black-font">
                You staked {{kairoinput}} KRO to support {{selectedTokenSymbol}}.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/finish.png">
            </div>
            <p class="m-0">
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>

        </div>

        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" (click)="createInvestment()" *ngIf= "createInvestmentPopupStep === 0">INVEST</button>
            <button class="text-center outline-button active w-100" (click)="closePopup()" *ngIf= "createInvestmentPopupStep === 3">MAKE A NEW INVESTMENT</button>
        </div>

    </div>

    <div class="content proposal-trade-phase" *ngIf="showSellInvestmentPopup">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Sell Your Assets
            </div>
            <div class="modal-close">
              <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="time-wrapper">
            <span class="time-left-title">Time left to sell assets: </span> <span class="time-left-value">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</span>
        </div>
        <div class="confirmation-sec" *ngIf="sellInvestmentPopupStep === 0">
            <p class="mb-3">
                🚨 Confirm your transaction
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund.
                It's fine to stick with these defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>

        </div>
        <div class="broadcast-sec m-3" *ngIf="sellInvestmentPopupStep === 1">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain.
                You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-3">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="final-sec m-3" *ngIf="sellInvestmentPopupStep === 2">
            <p class="mb-3">
                🙌 Done. Check your balance!
            </p>
            <p class="m-0 pb-4 black-font">
                You redeeemed {{kroRedeemed}} KRO.
            </p>
            <div class="d-flex justify-content-center mb-4">
                <img src="assets/images/finish.png">
            </div>
            <p class="m-0 mt-4">
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" *ngIf="sellInvestmentPopupStep === 2" (click)="closePopup()">TRADE SUCCESSFUL</button>
        </div>
    </div>

    <div class="content proposal-changefund-phase" *ngIf="showNextPhasePopup">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Change fund phase
            </div>
            <div class="modal-close">
              <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="main-sec" *ngIf="nextPhasePopupStep === 0">
            <p class="m-0 pb-5 black-font">This action will be repercuted on all the fund’s participants.
                By being the first to operate this action, you’ll be granted 10 KRO.
            </p>
        </div>
        <div class="confirmation-sec" *ngIf="nextPhasePopupStep === 1">
            <p class="mb-3">
                🚨 Confirm your transaction
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund contract. It's fine to stick with these
                defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>
        </div>
        <div class="broadcast-sec m-3" *ngIf="nextPhasePopupStep === 2">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain. You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-3">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" (click)="changefundstep1()" *ngIf="nextPhasePopupStep === 0">GO TO NEXT INVESTMENT PHASE</button>
            <button class="text-center outline-button active w-100 mt-4" (click)="closePopup()" *ngIf="nextPhasePopupStep === 2">DONE</button>
        </div>
    </div>
</div>
<div class="overlay-popup" [class.active]="active" (click)="closePopup()"></div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3"
    *ngIf="footerbtn1">
    <button class="text-center outline-button active" (click)="proposalPopup()">TRADE ASSSETS</button>
</div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3"
*ngIf="footerbtn2">
    <button class="text-center outline-button active" (click)="nextPhasePopup()">NEXT PHASE</button>
</div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3" *ngIf="footerbtn3">
    <button class="text-center outline-button active" routerLink="/redeem">REDEEM COMMISSION</button>
</div>
-->
