<div class="account-wrapper header-height col-12 col-lg-10 float-right">
  <div class="row">

    <div class="account-table-sec col-12 mt-3">
      <div class="sec-header">
          <p class="sec-title">Transactions</p>
      </div>
      <div class="cards table-responsive">
          <table class="table proposal-table">
              <thead class="betoken-font">
                <tr>
                  <th scope="col">Time</th>
                  <th scope="col">Type</th>
                  <th scope="col">BTF share</th>
                  <th scope="col">DAI amount</th>
                  <th scope="col">Details tx</th>
                </tr>
              </thead>
              <tbody class="black-font">
                <tr>
                  <td>March 28, 2018</td>
                  <td>Withdraw</td>
                  <td>1.0000</td>
                  <td>104.0000</td>
                  <td><img src="assets/images/export.png" class="pointer"></td>
                </tr>
                <tr>
                  <td>February 2, 2018</td>
                  <td>Invest</td>
                  <td>1.0000</td>
                  <td>100.0000</td>
                  <td></td>
                </tr>
              </tbody>
          </table>
          <div class="transaction-details-div">
            <p class="mb-1 mt-3">Betoken contract address</p>
            <div class="outline-box d-flex justify-content-between align-items-center">
              <p class="m-0">0x7287b58335073c9df9ea5cbd865d941086c1d6f4</p>
              <img src="assets/images/copy.png" class="pointer">
            </div>
            <p class="mb-1 mt-3">Kairo (KRO) contract address</p>
            <div class="outline-box d-flex justify-content-between align-items-center">
              <p class="m-0">0x7287b58335073c9df9ea5cbd865d941086c1d6f4</p>
              <img src="assets/images/copy.png" class="pointer">
            </div>
          </div>
      </div>  
    </div>
  </div>
</div>
