<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container px-lg-7">
    <div class="row justify-content-center my-5">
      <div class="col-11 col-md-12">
        <img class="image-fluid mb-4" src="assets/img/illustrations/betoken-particuls.svg" alt="Betoken particuls" style="max-width: 88px;">
      </div>
    </div>
    <div class="row justify-content-center mb-6">
      <div class="col-11 col-lg-6 pr-lg-4 order-2 order-lg-1">
        <h5 class="header-pretitle d-none d-lg-block">
          Become a
        </h5>
        <h1 class="display-2 font-weight-bold d-none d-lg-block">Fund Manager</h1>
        <p class="lead font-weight-bold mb-5 d-none d-lg-block">Connect your crypto-trading expertise to the Betoken's pool of capital and earn commissions!</p>
        <div class="media mb-4 mb-lg-3">
          <i class="fe fe-check text-green mr-3"></i>
          <div class="media-body">
            <h6 class="header-pretitle">
              The best managers earn the most
            </h6>
            <p>
              The Betoken protocol recognizes and quantifies the talent of its fund managers by allocating units of reputation to them, denominated in <a href="https://github.com/Betoken/Whitepaper/blob/master/BetokenWhitepaper.md#12-betokens-solution" target="_blank">Kairo tokens</a>, and financially rewards them based on their talent and contributions. The more Kairo tokens you have, the more money in the Betoken fund you can manage and the more income you’ll get every month as commissions on your investments. <a href="https://betoken.gitbook.io/docs/manage-the-fund/how-does-the-managers-monthly-commission-work" target="_blank">More about Betoken's commissions structure<i class="fe fe-arrow-right ml-2"></i></a>
            </p>
          </div>
        </div>
        <div class="media mb-4 mb-lg-3">
          <i class="fe fe-check text-green mr-3"></i>
          <div class="media-body">
            <h6 class="header-pretitle">
              Margin trading and instant liquidity
            </h6>
            <p>
              Betoken uses the full value of the open finance ecosystem like Kyber Network, Compound, Fulcrum by bZx and DAI stable coin. These financial primitives enable margin trading with up to 4x leverage on Betoken and guaranteed liquidity.
            </p>
          </div>
        </div>
      </div>
      <div class="col-11 col-lg-6 pl-lg-4 order-1 order-lg-2">
        <h5 class="header-pretitle d-block d-lg-none">
          Become a
        </h5>
        <h1 class="display-4 font-weight-bold d-block d-lg-none">Fund Manager</h1>
        <p class="lead font-weight-bold mb-4 d-block d-lg-none">Connect your crypto-trading expertise to the Betoken's decentralized pool of capital and actively trade against the market to earn commissions! Get started by buying a manager account.</p>
        <div class="card mb-6">
          <div class="card-header d-flex text-center text-md-left">
            <!-- cta -->
            <span class="text-truncate d-block" *ngIf="user_address !== ZERO_ADDR"><span class="text-success">●</span> {{user_address}}</span>
            <span class="text-truncate" *ngIf="user_address == ZERO_ADDR"><span class="text-danger">●</span> No Wallet Connected</span>
          </div>
          <div class="card-body text-center text-md-left">
            <div *ngIf="user_address == ZERO_ADDR">
              <p class="text-secondary text-center">Please enable Metamask or visit this page in a Web3 browser to interact with Betoken on the Ethereum Mainnet.</p>
              <a class="btn btn-block btn-lg btn-success" target="__blank" href="https://metamask.io">Get Metamask (Desktop)</a>
              <a class="btn btn-block btn-lg btn-success" target="__blank" href="https://wallet.coinbase.com/">Get Coinbase Wallet (Mobile)</a>
            </div>
            <button class="btn btn-block btn-lg btn-success" type="button" data-toggle="modal" data-target="#modalBuy" *ngIf="user_address != ZERO_ADDR && kairoBalance.eq(0)">Get Started</button>
            <div *ngIf="user_address != ZERO_ADDR && kairoBalance.gt(0)">
              <p class="text-secondary text-center">You are already a manager.</p>
              <a class="btn btn-block btn-lg btn-success" href="#/dashboard">Sign in</a>
            </div>
          </div>
          <a href="https://drive.google.com/file/d/1Cwk-SMzcTxRC0XAi0qejvTd4Quik-1TF/view?usp=sharing" target="_blank">
            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="avatar avatar-sm">
                    <img class="avatar-img rounded-circle bg-secondary" src="assets/img/solidified-logo.png" alt="Solidified logo">
                  </div>
                </div>
                <div class="col">
                  <p class="small text-secondary mb-0">Betoken Smart Contracts are audited and secured by Solidified</p>
                </div>
                <div class="col-auto">
                  <i class="fe fe-arrow-right text-secondary"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card card-inactive mb-6">
          <div class="card-body">
            <h3>Disclaimer</h3>
            <p class="text-muted">
              Nothing herein constitutes an offer to sell, or the solicitation of an offer to buy, any securities or tokens.
            </p>
            <p class="text-muted">
              Betoken enables capital connection and managing using smart contracts which are open source. Betoken does not take custody of tokens and is only a collaborative hub for investors and managers. Betoken is not a licensed bank, broker-dealer, investment advisor or an exchange. Betoken uses partner protocols (Kyber, Compound, bZx, Maker DAO) to power its own ecosystem.
            </p>
            <p class="text-danger">
              💀 This project is in beta. Use at your own risk.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-11 col-lg-6">
        <h1 class="text-center">Frequently asked questions</h1>
        <div id="accordion">
          <!-- question -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text">
                      What is Kairo?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>Kairo is Betoken's non-transferable reputation token. Managers need to possess Kairo tokens to manage funds on Betoken. Kairo represents how good a manager is at investing. The more Kairo tokens you have, the more money in the Betoken fund you can manage and the more income you’ll get every month as commissions on your investments.</p>
              </div>
            </div>
            <div class="card-header border-bottom" id="headingTwo">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text">
                      How can I buy Kairo tokens?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>Click on the Get Started button and follow the instructions. You'll be able to use Ether or any of our 70+ supported ERC-20 tokens to buy Kairo tokens (KRO).</p>
              </div>
            </div>
            <div class="card-header border-bottom" id="headingSeven">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text">
                      Do I receive my Kairo immediately after purchase?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                <p>Yes. The Kairo will be given to your wallet after your purchase transaction has been accepted by the Ethereum blockchain, which may take up to a few minutes.</p>
              </div>
            </div>
            <div class="card-header border-bottom" id="headingThree">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text">
                      What is the commissions structure?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h3>Management commissions</h3>
                <p>After the management phase is over (every 27 days):</p>
                <h4>IF the fund is profitable OR not profitable</h4>
                <p>0.1% of the total Betoken funds is set aside and distributed among fund manager holding Kairo.</p>
                <h4>ONLY IF the fund is profitable</h4>
                <p>20% of the total Betoken's monthly profits is set aside as commission and distributed among fund managers holding Kairo proportional to the amount they hold and their <a href="#"></a> risk profile. The commission is taken into account IF and ONLY IF the fund is profitable during the actual investment cycle.</p>
              </div>
            </div>
            <div class="card-header border-bottom" id="headingFour">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text">
                      How can I manage and follow the activity of the fund?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                You have access to a <a href="https://betoken.fund/portal/#/dashboard">Portal</a> where you can view Betoken's fund performances and your manager trading interface.
              </div>
            </div>
            <div class="card-header border-bottom" id="headingFive">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text">
                      Can I sell my Kairo tokens?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                No. Kairo is a non-transferable reputation token, which means that you cannot sell or give your Kairo to someone else.
              </div>
            </div>
            <div class="card-header border-bottom-0" id="headingSix">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text">
                      Can I buy more Kairo after with the same Wallet address?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                No. You can only buy Kairo tokens once per Ethereum account. <a href="https://github.com/Betoken/Whitepaper/blob/master/BetokenWhitepaper.md#212-continuous-distribution" target="_blank">More about Kairo distribution and price.</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-11 col-lg-6">
        <div class="card bg-green">
          <div class="card-body text-center">
            <h3 class="text-white">Can’t find what you’re looking for?</h3>
            <a class="btn btn-white mr-3" href="https://t.me/betokenfund">Telegram</a>
            <a class="btn btn-white mr-3" href="https://betoken.gitbook.io/docs/">Help Center</a>
          </div>
        </div>
        <ul class="nav justify-content-center my-4">
          <li class="nav-item">
            <a href="https://betoken.fund" class="nav-link text-center text-secondary">Home</a>
          </li>
          <li class="nav-item">
            <a href="https://medium.com/betoken" class="nav-link text-center text-secondary">Blog</a>
          </li>
        </ul>
        <p class="text-center text-secondary">Contact us at <a class="text-secondary" href="mailto:hello@betoken.fund?subject=Hey">hello@betoken.fund</a></p>
      </div>
    </div>

    <!-- Buy BTKS modal -->
    <div class="modal fade fixed-right" id="modalBuy" tabindex="-1" role="dialog" aria-labelledby="modalBuy" aria-hidden="true">
      <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
        <div class="modal-content" data-toggle="lists" data-lists-values="[&quot;name&quot;]">
          <div class="modal-header border-0">
            <!-- Confirm rules title -->
            <h4 class="modal-title" *ngIf="buyStep == 0">
              Please confirm before continuing
            </h4>
            <!-- BTKS amount title -->
            <h4 class="modal-title" *ngIf="buyStep == 1">
              How many Kairo do you want to buy?
            </h4>
            <!-- BTKS Confirm buy title -->
            <h4 class="modal-title" *ngIf="buyStep == 2">
              Confirm order
            </h4>
            <!-- BTKS Processing buy title -->
            <h4 class="modal-title" *ngIf="buyStep == 3">
              Processing order
            </h4>
            <!-- BTKS confirmed buy title -->
            <h4 class="modal-title" *ngIf="buyStep == 4">
              Order confirmed
            </h4>
            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="card-header py-0 border-0" style="min-height: 24px;">
            <div class="progress" style="height: 8px;">
              <div [ngClass]="{'bg-success': buyStep >= 0, 'bg-secondary': buyStep !== 0}" class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              <div [ngClass]="{'bg-success': buyStep >= 1, 'bg-secondary': buyStep !== 1}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              <div [ngClass]="{'bg-success': buyStep >= 2, 'bg-secondary': buyStep !== 2}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              <div [ngClass]="{'bg-success': buyStep >= 3, 'bg-secondary': buyStep !== 3}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              <div [ngClass]="{'bg-success': buyStep >= 4, 'bg-secondary': buyStep !== 4}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="modal-body">
            <!-- before starting confirm rules -->
            <div *ngIf="buyStep == 0">
              <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="rule1" (change)="checkboxes[0] = !checkboxes[0]">
                <label class="custom-control-label small text-secondary" for="rule1">You are NEITHER a citizen or resident of, NOR currently located in any of the following states or territories, NOR an entity formed under the laws of: Afghanistan, Cuba, Democratic People's Republic of Korea, Iran, Iraq, People’s Republic of China, Russian Federation, Somalia, Sudan, Syria, United Arab Emirates, United States of America, Venezuela, Yemen.</label>
              </div>
              <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="rule2" (change)="checkboxes[1] = !checkboxes[1]">
                <label class="custom-control-label small text-secondary" for="rule2">You have read and agree to the <a href="#">Terms of Use</a>, <a href="#">Privacy Policy</a> and <a href="#">AML Policy</a>.</label>
              </div>
              <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="rule3" (change)="checkboxes[2] = !checkboxes[2]">
                <label class="custom-control-label small text-danger" for="rule3">💀 You understand that Betoken Protocol is in beta. Use at your own risk.</label>
              </div>
            </div>

            <!-- Step 1: enter amount -->

            <!-- Quantity of Kairo to buy -->
            <div *ngIf="buyStep == 1">
              <h6 class="header-pretitle">
                Current Kairo Token Price
              </h6>
              <h4 class="mb-5">
                {{kairoPrice.toFormat(4)}} DAI/KRO
              </h4>
              <h6 class="header-pretitle text-secondary">I want to buy Kairo with</h6>
              <div class="row justify-content-center mb-4">
                <div class="col">
                  <form>
                    <div class="form-group row mb-2">
                      <div class="col">
                        <div class="input-group">
                          <input aria-describedby="Betoken Shares Amount to buy" class="form-control form-control-lg pr-0" type="number" placeholder="0.0" id="sharesAmountToBuy" (input)="refreshBuyOrderDetails($event.target.value); continueEnabled = true">
                          <div class="input-group-append">
                            <button class="btn btn-white" name="button" type="button" (click)="maxBuyAmount()">Max</button>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <select class="form-control form-control-lg" id="buyTokenSelect" (change)="selectBuyToken($event.target.value)">
                          <option *ngFor="let token of tokenData">{{token.symbol}}</option>
                        </select>
                      </div>
                    </div>
                    <small class="form-text text-secondary d-inline-block mb-0">{{selectedTokenBalance.toFormat(4)}} {{selectedTokenSymbol}} available</small>
                    <small class="form-text text-warning d-inline-block mb-0 mt-1">Max payment: {{getMaxPaymentAmount().toFormat(4)}} {{selectedTokenSymbol}} <a href="https://betoken.gitbook.io/docs/manage-the-fund/why-is-there-a-max-kairo-purchase" target="_blank">Why?</a></small>
                  </form>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table mb-4">
                  <thead>
                    <tr>
                      <th class="px-0 bg-transparent border-top-0">
                        <span class="h6">Order Details</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="px-0 small align-baseline text-muted">
                        Kairo tokens to receive
                      </td>
                      <td class="px-0 text-right small align-baseline">
                        {{buyKairoAmount.toFormat(4)}} KRO
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 small align-baseline text-muted">
                        Total cost
                      </td>
                      <td class="px-0 text-right h3 align-baseline">
                        {{buyTokenAmount.toFormat(6)}} {{selectedTokenSymbol}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


            <!-- Step 2: confirm transaction -->
            <p class="text-center text-muted mb-5" *ngIf="buyStep == 2">
              Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick with these defaults gas limit and price.
            </p>

            <!-- Step 3: transaction broadcasted -->
            <!-- Processing investment body -->
            <div *ngIf="buyStep == 3">
              <img class="image-fluid d-block mx-auto mb-4" src="assets/img/animated-logo.svg" alt="Betoken logo" style="width: 88px;">
              <p class="text-center text-muted mb-5">
                Your order is being saved on the Ethereum blockchain.
              </p>
              <hr>
              <form >
                <div class="form-group">
                  <label for="exampleFormControlInput1">Transaction ID</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
                    <div class="input-group-append">
                      <a class="btn btn-white h-100 d-flex align-items-center" href="https://etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- Step 4: transaction confirmed -->
            <!-- Investment confirmed body -->
            <div *ngIf="buyStep == 4">
              <p class="h1 text-center">
                <i class="fe fe-check-circle text-success"></i>
              </p>
              <p class="text-center text-muted mb-5">
                You bought <span class="font-weight-bold text-secondary">{{buyKairoAmount.toFormat(4)}}</span> KRO using <span class="font-weight-bold text-secondary">{{buyTokenAmount.toFormat(6)}}</span> {{selectedTokenSymbol}}.
              </p>
              <a target="_blank" href="https://twitter.com/intent/tweet?hashtags=Betoken%2C%20DeFi&related=betokenfund&text=I%27ve%20just%20joined%20Betoken%20as%20a%20fund%20manager%2C%20world%27s%20first%20crowd-powered%20cryptoassets%20management%20protocol!&url=https%3A%2F%2Fbetoken.fund&via=betokenfund">
                <button class="btn btn-twitter btn-block" type="button" name="button">Tweet about it</button>
              </a>
              <hr>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Transaction ID</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
                    <div class="input-group-append">
                      <a class="btn btn-white h-100 d-flex align-items-center" href="https://etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- Continue button for buyStep 1 -->
            <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="BuyBTKS" *ngIf="buyStep == 0" (click)="buyStep = agreementsChecked() ? 1 : 0" [ngClass]="{'disabled': !agreementsChecked()}">
              Buy Kairo tokens
            </button>
            <!-- Continue button for buyStep 2 -->
            <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="Continue to Buy" *ngIf="buyStep == 1" (click)="register();" [disabled]="!continueEnabled">
              Continue
            </button>
            <!-- Close button for buyStep 4 -->
            <a class="btn btn-block btn-success mt-auto" href="#/dashboard" target="_blank" *ngIf="buyStep == 4">Manager Portal</a>
          </div>
        </div>
      </div>
    </div><!-- / modal -->
  </div>
</div> <!-- / .main-content -->
