<!-- HEADER -->
<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <!-- Title -->
          <h1 class="header-title">
            Upgrade Governance
          </h1>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Active trades -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Upgrade proposals
              </h4>

            </div>
          </div> <!-- / .row -->
        </div>
        <ul class="list-group list-group-flush list">
          <li class="list-group-item justify-content-center text-center pt-5">
            <h3 class="mb-4">No active upgrade proposals</h3>
            <p>During the Intermission phase of each cycle, the managers community may decide to initiate an upgrade via a simple majority vote using their Kairo tokens. If the vote passed, then during the Manage phase, managers may use their Kairo to vote on which smart contract should be accepted as the new version. <a href="https://github.com/Betoken/Whitepaper/blob/master/BetokenWhitepaper.md#24-governance" target="_blank">Learn more</a></p>
            <!-- Time left until next intermission phase -->
            <h6 class="header-pretitle text-secondary mb-2 text-center">
              Time left until next upgrade proposal allowed
            </h6>
            <h4 class="header-title mb-4 text-center">
              0d 0h 0m 0s
            </h4>
            <img class="mb-4 image-fluid w-50 mx-auto d-block" src="assets/img/illustrations/undraw_queue_qt30.svg" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- / .row -->
</div>
