<!-- HEADER -->
<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <!-- Title -->
          <h1 class="header-title">
            Upgrade Governance
          </h1>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Active trades -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Active upgrade proposals
              </h4>

            </div>
          </div> <!-- / .row -->
        </div>
        <ul class="list-group list-group-flush list">
          <li class="list-group-item list-group-item-action py-0" >
            <a class="py-3 d-block text-secondary" href="#" data-toggle="modal" data-target="#modalCreateUpgradeProposal">
              <div class="row d-flex align-items-center">
                <div class="col mb-3 mb-lg-0">
                  <h4 class="h4 mb-1">
                    Sed ut perspiciatis unde omnis
                  </h4>
                  <p class="text-secondary small mb-0 text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-auto">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto mr-3">
                      <span class="text-success">●</span>
                    </div>
                    <div class="col">
                      <strong>60%</strong><br>
                      Yes
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto mr-3">
                      <span class="text-danger">●</span>
                    </div>
                    <div class="col">
                      <strong>40%</strong><br>
                      No
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="list-group-item list-group-item-action py-0" >
            <a class="py-3 d-block text-secondary" href="#" data-toggle="modal" data-target="#modalCreateUpgradeProposal">
              <div class="row d-flex align-items-center">
                <div class="col mb-3 mb-lg-0">
                  <h4 class="h4 mb-1">
                    Sed ut perspiciatis unde omnis
                  </h4>
                  <p class="text-secondary small mb-0 text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-auto">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto mr-3">
                      <span class="text-success">●</span>
                    </div>
                    <div class="col">
                      <strong>60%</strong><br>
                      Yes
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto mr-3">
                      <span class="text-danger">●</span>
                    </div>
                    <div class="col">
                      <strong>40%</strong><br>
                      No
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="list-group-item justify-content-center text-center pt-5">
            <h3 class="mb-4">No active upgrade proposals</h3>
            <button class="btn btn-success mb-5" routerLink="/investments" type="button" data-toggle="modal" data-target="#modalCreateUpgradeProposal">Create proposal</button>
            <img class="w-50 mx-auto d-block" src="assets/img/illustrations/undraw_empty_xct9.svg" alt="zero-state-illustration">
          </li>
          <li class="list-group-item justify-content-center text-center pt-5">
            <img class="mb-4 image-fluid w-50 mx-auto d-block" src="assets/img/illustrations/undraw_queue_qt30.svg" alt="">
            <!-- Time left until next intermission phase -->
            <h6 class="header-pretitle text-secondary mb-2 text-center">
              Time left until next upgrade proposal allowed
            </h6>
            <h4 class="header-title mb-4 text-center">
              0d 0h 0m 0s <a data-toggle="tooltip" title="During the Intermission phase of each cycle, the manager community may decide to initiate an upgrade via a simple majority vote using their Kairo. If the vote passed, then during the Manage phase managers may use their Kairo to vote on which smart contract should be accepted as the new version."><i class="fe fe-info"></i></a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- / .row -->
</div>