<div class="proposal-wrapper header-height col-12 col-lg-10 float-right">
  <div class="row">
        <div class="alert-window col-12 " *ngIf="sellalert">
                <div class="alert d-flex justify-content-between align-items-center col-12">
                    <p class="m-0">🚨 Sell your assets to redeem all your KRO staked before cycle’s end. More info.</p>
                    <button class="text-center alert-button" (click)="hidealert()">DISMISS</button>
                </div>
        </div>

        <div class="alert-window col-12 " *ngIf="nextphasealert">
                <div class="alert d-flex justify-content-between align-items-center col-12">
                    <p class="m-0">🚨 Portfolio proposal phase ended. Switch to next phase.</p>
                    <button class="text-center alert-button" (click)="changeproposal()">NEXT PHASE</button>
                </div>
        </div>

        <div class="alert-window col-12 " *ngIf="redeemalert">
                <div class="alert d-flex justify-content-between align-items-center col-12">
                    <p class="m-0">🚨 Redeem your commissions before the phase ends. More info.</p>
                    <button class="text-center alert-button" routerLink="/redeem">REDEEM COMMISSSION</button>
                </div>
        </div>

        <div class="proposal-table-sec col-12 mt-3">
          <div class="sec-header">
              <p class="sec-title">Managers Ranking List</p>
          </div>
          <div class="cards table-responsive">
              <table class="table proposal-table">
                  <thead class="betoken-font">
                    <tr>
                      <th scope="col">Rank</th> 
                      <th scope="col">Address</th> 
                      <th scope="col">Kairo Balance </th> 
                      <!-- <th scope="col">Asset</th>
                      <th scope="col">Staked KRO</th>
                      <th scope="col">Buy price</th>
                      <th scope="col">Curr. price</th>
                      <th scope="col">KRO to redeem</th>
                      <th scope="col">Action</th> -->
                    </tr>
                  </thead>
                  <tr>You</tr>
                  <tbody class="black-font">
                     
                        <tr >
                            <td class="identy">
                              <div class="d-flex align-items-center">                                 
                                  <div class="name ml-3">                                    
                                    <p class="m-0 expansion">{{userRanking}}</p>
                                  </div>
                              </div>
                            </td>
                            <td>{{userAddress}}</td>
                            <td>{{userValue}}</td>                          
                          </tr>
                   </tbody>

                  <tr>All</tr>
                  <tbody class="black-font">
                        
                        <tr *ngFor="let ranking of rankingArray">
                                <td class="identy">
                                  <div class="d-flex align-items-center">
                                     
                                      <div class="name ml-3">
                                        <p class="m-0 expansion">{{ranking.rank}}</p>
                                      </div>
                                  </div>
                                </td>
                                <td>{{ranking.address}}</td>
                                <td>{{ranking.kairoBalance}}</td>                                
                        </tr>
                              
                    <!-- <tr>
                      <td class="identy">
                        <div class="d-flex align-items-center">
                            <div class="dot purple"> </div>
                            <div class="name ml-3">
                              <p class="m-0 abrivation">ETH</p>
                              <p class="m-0 expansion">Ethereum</p>
                            </div>
                        </div>
                      </td>
                      <td>0.3000</td>
                      <td>$ 604.0000</td>
                      <td>$ 608.0000</td>
                      <td class="profit">
                          <span class="diffrence">0.3965</span>
                          <span class="value profit-font">+0.0965</span>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                        <td class="identy">
                          <div class="d-flex align-items-center">
                              <div class="dot orange"> </div>
                              <div class="name ml-3">
                                <p class="m-0 abrivation">MANA</p>
                                <p class="m-0 expansion">Decentraland</p>
                              </div>
                          </div>
                        </td>
                        <td>0.2500</td>
                        <td>$ 0.1000</td>
                        <td>$ 0.1456</td>
                        <td class="profit">
                          <span class="diffrence">0.3965</span>
                          <span class="value profit-font">+0.0965</span>
                        </td>
                        <td>
                          <button class="outline-button" (click)="sell()">SELL</button>
                        </td>
                      </tr> -->
                  </tbody>
                </table>
          </div>  
        </div>
        <!-- <div class="history-table-sec col-12 mt-3 mb-5">
        <div class="sec-header">
            <p class="sec-title">History</p>
        </div>
       <div class="cards table-responsive">
          <table class="table history-table">
              <thead class="betoken-font">
                <tr>
                  <th scope="col">Asset</th>
                  <th scope="col">Buy price</th>
                  <th scope="col">Sell price</th>
                  <th scope="col">KRO P/Loose</th>
                  <th scope="col">P/Loose</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody class="black-font">
                <tr>
                  <td class="identy">
                    <div class="d-flex align-items-center">
                        <div class="dot purple"> </div>
                        <div class="name ml-3">
                          <p class="m-0 abrivation">ETH</p>
                          <p class="m-0 expansion">Ethereum</p>
                        </div>
                    </div>
                  </td>
                  <td>$ 11.0000</td>
                  <td>$ 14.0000</td>
                  <td class="profit-font">+0.2334</td>
                  <td class="profit-font">+10.2334</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="identy">
                      <div class="d-flex align-items-center">
                          <div class="dot orange"> </div>
                          <div class="name ml-3">
                            <p class="m-0 abrivation">MANA</p>
                            <p class="m-0 expansion">Decentraland</p>
                          </div>
                      </div>
                  </td>
                  <td>$ 0.2500</td>
                  <td>$ 0.1000</td>
                  <td class="loss-font">-0.5640</td>
                  <td class="loss-font">-0.0340</td>
                  <td><img src="assets/images/export.png" class="pointer"></td>
                  </tr>
              </tbody>
            </table>
       </div>
        </div> -->
  </div>
</div>