<!-- HEADER -->
<div class="header">
  <div class="container-fluid px-md-5">
    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <!-- Title -->
          <h1 class="header-title">
            Managers Ranking
          </h1>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->
  </div>
</div> <!-- / .header -->
<!-- CARDS -->
<div class="container-fluid pb-6 px-md-5">
  <div class="row">
    <div class="col-12">
      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <!-- Title -->
              <h4 class="card-header-title">
                Kairo Balances & Current Return
              </h4>
            </div>
            <div class="col-auto">
              <!-- Refresh -->
              <button class="btn btn-sm btn-white" type="button" name="button" (click)="refreshDisplay()">
                <i class="fe fe-refresh-cw align-middle" *ngIf="isLoading == false"></i>
                <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="isLoading">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <!-- Form -->
              <form>
                <div class="input-group input-group-flush input-group-merge">
                  <input type="search" class="form-control form-control-prepended search"
                    (keyup)="filterTable($event,'rankings-table',1)" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive" data-toggle="lists"
          data-options='{"valueNames": ["tables-rank", "tables-kairo-balance", "tables-roi"]}'>
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  <a href="" class="text-muted sort" data-sort="tables-rank">Rank</a>
                </th>
                <th class="text-muted sort">
                  Manager
                </th>
                <th>
                  <a href="" class="text-muted sort" data-sort="tables-kairo-balance">Kairo Balance</a>
                </th>
                <th>
                  <a href="" class="text-muted sort" data-sort="tables-roi">Current Month ROI</a>
                </th>
              </tr>
            </thead>
            <tbody class="list" id="rankings-table">
              <tr class="bg-dark text-white">
                <td class="align-middle">
                  <strong>{{userRanking}}</strong>
                </td>
                <td class="align-middle">
                  <i class="fe fe-star text-warning ml-2"></i> You
                </td>
                <td class="align-middle">
                  {{userValue.toFormat(18)}}
                </td>
                <td class="align-middle">
                  <!-- Badge -->
                  <span class="badge badge-xl"
                    [ngClass]="{'badge-soft-success': userROI.gt(0), 'badge-soft-danger': !(userROI.gt(0))}">
                    {{userROI.toFormat(4)}}%
                  </span>
                </td>
              </tr>
              <tr *ngFor="let ranking of rankingArray; let i=index">
                <td class="align-middle tables-rank">
                  <strong>{{i+1}}</strong>
                </td>
                <td class="align-middle">
                  <span class="d-block text-truncate" style="width: 6rem;">{{ranking.id}}</span>
                  <span class="badge badge-soft-primary" *ngIf="isSupporter(ranking.id)">
                    Betoken Evangelist
                  </span>
                </td>
                <td class="align-middle tables-kairo-balance">
                  {{formatNumber(ranking.kairoBalanceWithStake)}}
                </td>
                <td class="align-middle tables-roi">
                  <!-- Badge -->
                  <span class="badge badge-xl"
                    [ngClass]="{'badge-soft-success': +ranking.kairoBalanceWithStake >= +ranking.baseStake, 'badge-soft-danger': +ranking.baseStake > +ranking.kairoBalanceWithStake}">
                    {{formatNumber(+ranking.kairoBalanceWithStake / +ranking.baseStake * 100 - 100)}}%
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
  <a href="https://github.com/solidified-platform/audits/blob/master/Audit%20Report%20-%20%20Betoken%20%5B20.05.2019%5D.pdf"
    target="_blank">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto mb-2 mb-lg-0">
        <div class="avatar avatar-sm">
          <img class="avatar-img rounded-circle bg-secondary" src="assets/img/solidified-logo.png"
            alt="Solidified logo">
        </div>
      </div>
      <div class="col-auto">
        <p class="small text-secondary mb-0 text-center">Betoken Smart Contracts are audited and secured by Solidified
        </p>
      </div>
      <div class="col-auto">
        <i class="fe fe-arrow-right text-secondary"></i>
      </div>
    </div>
  </a>
</div>