<!-- HEADER -->
<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="alert alert-primary alert-dismissible fade show d-flex d-md-none" role="alert">
        <a class="text-white" data-toggle="modal" href="#modalReferral">
          <strong>Invite friends</strong>, earn Kairo
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row align-items-end">
        <div class="col">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Overview
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            My Investments
          </h1>

        </div>
        <div class="col-auto d-none d-md-flex">

          <!-- Button -->
          <button class="btn btn-primary mt-3 mt-md-0" data-toggle="modal" href="#modalReferral">
            Invite friends, earn Kairo
          </button>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="card-deck mb-5">
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="Amount of Betoken's AUM you manage. The more Kairo you own, the more money you will manage.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Your Portfolio Value
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              {{portfolioValueInDAI}}
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 text-muted mb-0">DAI</span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="The more Kairo you own, the more money you will manage, the more commission you will receive. You will be able to earn Kairo by making profitable investments for the Betoken fund.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Your Kairo Balance
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              {{userValue}}
            </span>

            <!-- Badge -->
            <span class="badge" [ngClass]="{'badge-soft-success': +monthly_pl >= 0, 'badge-soft-danger': 0 > +monthly_pl}">
              {{monthly_pl}}%
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-zap text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>

    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="The more you stake KRO, the more you put at work Betoken's money, the more you earn commissions.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Staked Kairo Proportion
            </h6>

            <div class="row align-items-center no-gutters">
              <div class="col-auto">

                <!-- Heading -->
                <span class="h2 mr-2 mb-0">
                  {{currentStakeProportion}}%
                </span>

              </div>
              <div class="col">

                <!-- Progress -->
                <div class="progress progress-sm">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': currentStakeProportion + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-database text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="<strong>20%</strong> of Betoken's profits (if any) is set aside as commission and distributed among Kairo holders proportional to the amount they hold. <strong>0.1%</strong> is also set aside and distributed among Kairo holders. <strong>3%</strong> is charged whenever a limited partner (aka investor) withdraws his funds, and distributed among Kairo holders.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Your Estimated Commission This Month
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              {{expected_commission}}
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 text-muted mb-0">DAI</span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
  </div> <!-- / .row -->
  <div class="row">
    <div class="col-12">
      <!-- Active Investments -->
      <div class="card" data-toggle="lists" data-lists-values='["asset", "buy-price", "current-price", "staked-kro", "redeem-kro", "action"]'>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Your Active Investments
              </h4>

            </div>
            <div class="col-auto">

                <!-- Refresh -->
                <button class="btn btn-sm btn-white" type="button" name="button" (click) = "refresh()"><i class="fe fe-refresh-cw align-middle" *ngIf="isLoading() == false"></i><div class="loader loader-sm loader-secondary my-1" *ngIf="isLoading()"></div></button>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-12">

              <!-- Form -->
              <form>
                <div class="input-group input-group-flush input-group-merge">
                  <input type="search" class="form-control form-control-prepended search" (keyup)="filterTable($event,'active-investments-table',0)" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  <a href="#" class="text-muted sort" data-sort="asset">
                    Asset
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="buy-price">
                    Buy Price
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="current-price">
                    Current Price
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="staked-kro">
                    Staked KRO
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="redeem-kro">
                    KRO To Redeem
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="action">
                    Action
                  </a>
                </th>
              </tr>
            </thead>
            <tbody class="list" id="active-investments-table">
              <tr *ngFor = "let data of activeInvestmentList">
                <td class="asset py-auto">
                  <!-- Avatar -->
                  <span class="avatar avatar-xs align-middle">
                    <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                  </span>
                  <span class="align-middle ml-2">
                    {{data.tokenSymbol}} • <small class="text-muted small">Ethereum</small>
                  </span>
                </td>
                <td class="buy-price align-middle">
                  {{data.buyPrice.toFormat(6)}} DAI
                </td>
                <td class="current-price align-middle">
                  {{data.sellPrice.toFormat(6)}} DAI
                </td>
                <td class="staked-kro align-middle">
                  {{data.stake.toFormat(4)}} KRO
                </td>
                <td class="redeem-kro align-middle">
                  {{data.currValue.toFormat(4)}} KRO
                  <!-- Badge success -->
                  <span class="badge badge-soft-success" *ngIf = "+data.ROI >= 0">
                    {{data.ROI.toFormat(4)}}%
                  </span>
                  <!-- Badge danger -->
                  <span class="badge badge-soft-danger" *ngIf = "0 > +data.ROI">
                    {{data.ROI.toFormat(4)}}%
                  </span>
                </td>
                <td class="action align-middle" *ngIf = "data.isSold == false">
                    <button class="btn btn-sm btn-success" type="button" name="button" data-toggle="modal" data-target="#modalSell" (click)="sell(data)">Sell</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Past Investments -->
      <div class="card" data-toggle="lists" data-lists-values='["asset", "buy-price", "sell-price", "staked-kro", "redeemed-kro"]'>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Your Past Investments
              </h4>

            </div>
            <div class="col-auto">

                <!-- Refresh -->
                <button class="btn btn-sm btn-white" type="button" name="button" (click) = "refresh()"><i class="fe fe-refresh-cw align-middle" *ngIf="isLoading() == false"></i><div class="loader loader-sm loader-secondary my-1" *ngIf="isLoading()"></div></button>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-12">

              <!-- Form -->
              <form>
                <div class="input-group input-group-flush input-group-merge">
                  <input type="search" class="form-control form-control-prepended search" (keyup)="filterTable($event,'past-investments-table',0)" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  <a href="#" class="text-muted sort" data-sort="asset">
                    Asset
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="buy-price">
                    Buy Price
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="sell-price">
                    Sell Price
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="staked-kro">
                    Staked KRO
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="redeemed-kro">
                    Redeemed KRO
                  </a>
                </th>
              </tr>
            </thead>
            <tbody class="list" id="past-investments-table">
              <tr *ngFor = "let data of inactiveInvestmentList">
                <td class="asset py-auto">
                  <!-- Avatar -->
                  <span class="avatar avatar-xs align-middle">
                    <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                  </span>
                  <span class="align-middle ml-2">
                    {{data.tokenSymbol}} • <small class="text-muted small">Ethereum</small>
                  </span>
                </td>
                <td class="buy-price align-middle">
                  {{data.buyPrice.toFormat(6)}} DAI
                </td>
                <td class="sell-price align-middle">
                  {{data.sellPrice.toFormat(6)}} DAI
                </td>
                <td class="staked-kro align-middle">
                  {{data.stake.toFormat(4)}} KRO
                </td>
                <td class="redeemed-kro align-middle">
                  {{data.currValue.toFormat(4)}} KRO
                  <!-- Badge success -->
                  <span class="badge badge-soft-success" *ngIf = "+data.ROI >= 0">
                    {{data.ROI.toFormat(4)}}%
                  </span>
                  <!-- Badge danger -->
                  <span class="badge badge-soft-danger" *ngIf = "0 > +data.ROI">
                    {{data.ROI.toFormat(4)}}%
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>


<!-- Buy modal -->
<div class="modal fade fixed-right" id="modalBuy" tabindex="-1" role="dialog" aria-labelledby="modalBuy" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content" data-toggle="lists" data-lists-values="[&quot;name&quot;]">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <!-- Select Asset title -->
            <h4 class="card-header-title" *ngIf="createInvestmentPopupStep === 0">
              Select An Asset
            </h4>
            <!-- Selected Asset title -->
            <h4 class="card-header-title" *ngIf="createInvestmentPopupStep === 1">
              Buy {{selectedTokenSymbol}}
            </h4>
            <!-- Confirm asset investment title -->
            <h4 class="card-header-title" *ngIf="createInvestmentPopupStep === 2">
              Confirm Investment
            </h4>
            <!-- Processing title -->
            <h4 class="card-header-title" *ngIf="createInvestmentPopupStep === 3">
              Processing Investment
            </h4>
            <!-- Investment confirmed title -->
            <h4 class="card-header-title" *ngIf="createInvestmentPopupStep === 4">
              Investment confirmed
            </h4>
          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>

          </div>
        </div> <!-- / .row -->
      </div>
      <!-- Search in list assets -->
      <div class="card-header" *ngIf="createInvestmentPopupStep === 0">
        <form>
          <div class="input-group input-group-flush input-group-merge">
            <input type="search" class="form-control form-control-prepended search" placeholder="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fe fe-search"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-body">
        <!-- Step 0: select asset -->
        <!-- List Short assets -->
        <ul class="list-group list-group-flush list" *ngIf="createInvestmentPopupStep === 0">
            <li class="list-group-item px-0 text-secondary border-bottom-0">
                <h6 class="header-pretitle border-0">
                  Short Assets <span class="badge badge-soft-primary ml-auto">Soon</span>
                </h6>
            </li>
            <li class="list-group-item px-0 border-bottom-0">
                <a>
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <span class="avatar avatar-sm">
                        <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                      </span>

                    </div>
                    <div class="col ml--2">

                      <h4 class="mb-1 text-dark name">
                        sETH
                      </h4>

                      <p class="small text-secondary mb-0">
                        Short Ethereum
                      </p>

                    </div>
                    <div class="col-auto text-right">

                        <h6 class="header-pretitle">
                          Leveraged
                        </h6>

                        <h4 class="header-title text-dark">
                          0.5x
                        </h4>

                    </div>
                  </div>

                </a>
            </li>

        </ul>
        <!-- List Leveraged assets -->
        <ul class="list-group list-group-flush list mt-3" *ngIf="createInvestmentPopupStep === 0">
            <li class="list-group-item px-0 text-secondary border-bottom-0 border-top-0">
                <h6 class="header-pretitle border-0">
                  Leveraged Assets <span class="badge badge-soft-primary ml-auto">Soon</span>
                </h6>
            </li>
            <li class="list-group-item px-0 border-bottom-0">
                <a>
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <span class="avatar avatar-sm">
                        <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                      </span>

                    </div>
                    <div class="col ml--2">

                      <h4 class="mb-1 text-dark name">
                        LETH
                      </h4>

                      <p class="small text-secondary mb-0">
                        Leveraged Ethereum
                      </p>

                    </div>
                    <div class="col-auto text-right">

                        <h6 class="header-pretitle">
                          Leveraged
                        </h6>

                        <h4 class="header-title text-dark">
                          1.5x
                        </h4>

                    </div>
                  </div>

                </a>
            </li>
        </ul>
        <!-- List Market assets -->
        <ul class="list-group list-group-flush list mt-3" *ngIf="createInvestmentPopupStep === 0">
            <li class="list-group-item px-0 text-secondary border-bottom-0 border-top-0">
                <h6 class="header-pretitle border-0">
                  Market Assets
                </h6>
            </li>
            <li class="list-group-item px-0" *ngFor = "let token of tokenList">
                <a href="#/investments" (click)="selectedTokenSymbol = token; createInvestmentPopupStep = 1;">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <span class="avatar avatar-sm">
                        <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
                      </span>

                    </div>
                    <div class="col ml--2">

                      <h4 class="mb-1 text-dark name">
                        {{token}}
                      </h4>

                      <p class="small text-secondary mb-0">
                        Ethereum
                      </p>

                    </div>
                    <div class="col-auto text-right">

                      <span class="text-secondary">{{assetSymbolToPrice(token).dp(6)}} DAI</span>
                      <br>

                      <span class="badge badge-xl" [ngClass]="{'badge-soft-success': +getTokenDailyPriceChange(token) >= 0, 'badge-soft-danger': 0 > +getTokenDailyPriceChange(token)}">{{getTokenDailyPriceChange(token)}}%</span>

                    </div>
                  </div>

                </a>
            </li>
        </ul>

        <!-- Step 1: enter stake amount -->
        <!-- Asset logo -->
        <div class="row justify-content-center mb-4" *ngIf="createInvestmentPopupStep === 1">
          <span class="avatar avatar-lx align-middle">
            <img src="assets/img/icons/eth.svg" alt="Ethereum logo" class="avatar-img rounded-circle">
          </span>
        </div>

        <!-- Asset price -->
        <div class="row" *ngIf="createInvestmentPopupStep === 1">
          <div class="col">
            <h6 class="header-pretitle text-secondary">
              Current Price in $DAI
            </h6>
            <h3 class="text-dark mb-0">
              {{assetSymbolToPrice(selectedTokenSymbol)}}
            </h3>
          </div>
          <div class="col" >
            <h6 class="header-pretitle text-secondary">
              24h change
            </h6>
            <h3 class="text-dark mb-0">
              <span class="badge" [ngClass]="{'badge-soft-success': +getTokenDailyPriceChange(selectedTokenSymbol) >= 0, 'badge-soft-danger': 0 > +getTokenDailyPriceChange(selectedTokenSymbol)}">
                {{getTokenDailyPriceChange(selectedTokenSymbol)}}%
              </span>
            </h3>
          </div>
        </div>
        <!-- KRO to stake for this asset -->
        <hr *ngIf="createInvestmentPopupStep === 1">
        <form class="align-center" *ngIf="createInvestmentPopupStep === 1">
          <div class="form-group text-center">
            <label for="kroAmount" class="h4">Stake Kairo tokens to buy</label>
            <input type="number" class="form-control form-control-lg form-control-flush input-xl my-1 text-center" aria-describedby="kroBalance" placeholder="0 KRO" id="kairo-input">
            <small id="kroBalance" class="form-text text-secondary">{{kairo_balance}} KRO available</small>
          </div>
        </form>
        <!-- Do you know section step 1 -->
        <div class="card bg-light border mt-4 mb-0" *ngIf="createInvestmentPopupStep === 1">
          <div class="card-body">

            <h4 class="mb-2">
              Do you know?
            </h4>

            <p class="small text-muted mb-0">
              If the price of the asset goes up, you're rewarded with more Kairo. More Kairo means more monthly commissions, as well as more money you can use for investing. <a href="https://betoken.gitbook.io/betoken/portal/my-investments" target="_blank">Learn more</a>
            </p>

          </div>
        </div>

        <!-- Step 2: confirm transaction -->
        <p class="text-center text-muted mb-5" *ngIf="createInvestmentPopupStep === 2">
          Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick with these defaults gas limit and price.
        </p>

        <!-- Step 3: transaction broadcasted -->
        <!-- Processing investment body -->
        <div class="py-5 is-loading is-loading-lg" *ngIf="createInvestmentPopupStep === 3"></div>
        <p class="text-center text-muted mb-5" *ngIf="createInvestmentPopupStep === 3">
          Your investment is being saved on the Ethereum blockchain.
        </p>
        <hr *ngIf="createInvestmentPopupStep === 3">
        <form *ngIf="createInvestmentPopupStep === 3">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>

        <!-- Step 4: transaction confirmed -->
        <!-- Investment confirmed body -->
        <p class="h1 text-center" *ngIf="createInvestmentPopupStep === 4">
          <i class="fe fe-check-circle text-success"></i>
        </p>
        <p class="text-center text-muted mb-5" *ngIf="createInvestmentPopupStep === 4">
          You staked <span class="text-secondary">{{stakeAmount}}</span> KRO to support <span class="text-secondary">{{selectedTokenSymbol}}</span>.
        </p>
        <hr *ngIf="createInvestmentPopupStep === 4">
        <form *ngIf="createInvestmentPopupStep === 4">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Continue button for step 1 -->
      <div class="modal-footer border-0" *ngIf="createInvestmentPopupStep === 1">
        <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="Invest" (click)="createInvestment()">
          Continue
        </button>
      </div>

      <!-- Close button for step 4 -->
      <div class="modal-footer border-0" *ngIf="createInvestmentPopupStep === 4">
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal" aria-label="Close">
          Done
        </button>
      </div>
    </div>
  </div>
</div><!-- / modal -->

<!-- Sell modal -->
<div class="modal fade fixed-right" id="modalSell" tabindex="-1" role="dialog" aria-labelledby="modalSell" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- Confirm tx title -->
        <div class="header text-center" *ngIf="sellInvestmentPopupStep === 0">
          <div class="header-body">

            <h6 class="header-pretitle">
              Sell asset
            </h6>

            <h1 class="header-title">
              Confirm your transaction
            </h1>

          </div>
        </div>
        <!-- Confirm tx body -->
        <p class="text-center text-muted mb-5" *ngIf="sellInvestmentPopupStep === 0">
          Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick with these defaults gas limit and price.
        </p>

        <!-- Tx broadcasted title -->
        <div class="header text-center" *ngIf="sellInvestmentPopupStep === 1">
          <div class="header-body">

            <h6 class="header-pretitle">
              Sell asset
            </h6>

            <h1 class="header-title">
              Transaction broadcasted!
            </h1>

          </div>
        </div>
        <!-- loader -->
        <div class="py-5 is-loading is-loading-lg" *ngIf="sellInvestmentPopupStep === 1"></div>
        <!-- Tx broadcasted body -->
        <p class="text-center text-muted mb-5" *ngIf="sellInvestmentPopupStep === 1">
          Your transaction is being saved on the Ethereum blockchain. You can check its status on Etherscan.
        </p>
        <hr *ngIf="sellInvestmentPopupStep === 1">
        <form *ngIf="sellInvestmentPopupStep === 1">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>
        <!-- Asset sold title -->
        <div class="header text-center" *ngIf="sellInvestmentPopupStep === 2">
          <div class="header-body">

            <h6 class="header-pretitle">
              Sell asset
            </h6>

            <h1 class="header-title">
              Done!
            </h1>

          </div>
        </div>
        <!-- Asset sold body -->
        <p class="h1 text-center" *ngIf="sellInvestmentPopupStep === 2">
          <i class="fe fe-check-circle text-success"></i>
        </p>
        <p class="text-center text-muted mb-5" *ngIf="sellInvestmentPopupStep === 2">
          Your investment position was sold and you redeeemed {{kroRedeemed}} KRO.
        </p>
        <hr *ngIf="sellInvestmentPopupStep === 2">
        <form *ngIf="sellInvestmentPopupStep === 2">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- close button panel after Asset being sold -->
      <div class="modal-footer border-0" *ngIf="sellInvestmentPopupStep === 2">
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
    </div>
  </div>
</div><!-- / modal -->




<!-- ******OLD ANGULAR********


<div class="proposal-wrapper col-12 col-lg-10 float-right">
    <div class="row">
        <div class="alert-window" *ngIf="errorMsg !== '' ">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">{{errorMsg}}</p>
            </div>
        </div>
        <div class="alert-window" *ngIf="sellalert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Sell your assets to redeem all your KRO staked before cycle’s end. <a href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
                <button class="btn btn-link text-center alert-button" (click)="hideAlert()">DISMISS</button>
            </div>
        </div>

        <div class="alert-window" *ngIf="nextphasealert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Current phase has ended.</p>
                <button class="btn btn-link text-center alert-button" (click)="hideNextPhaseAlert()">DISMISS</button>
            </div>
        </div>

        <div class="alert-window" *ngIf="redeemalert">
            <div class="alert bg-warning d-flex justify-content-between align-items-center col-12">
                <p class="m-0">🚨 Redeem your commissions before the phase ends. <a href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
                <button class="btn btn-link text-center alert-button" routerLink="/redeem">REDEEM COMMISSSION</button>
            </div>
        </div>
        <div class="proposal-table-sec col-8">
            <div class="sec-header d-flex justify-content-between align-items-center">
                <p class="sec-title">Active Investments</p>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-outline-secondary text-secondary bg-white btn-sm" (click) = "refresh()">
                      <span *ngIf="isLoading() == false">REFRESH</span>
                      <span *ngIf="isLoading()">Loading...</span>
                  </button>
                </div>
            </div>
            <div class="cards table-responsive">
                <input class="outline-box w-100" id="search-box" (keyup)="filterTable($event,'investment-table',0)" placeholder="Search">
                <table class="table proposal-table">
                    <thead class="betoken-font">
                        <tr>
                            <th scope="col" class="pl-0">Asset</th>
                            <th scope="col">Buy price</th>
                            <th scope="col">Current price</th>
                            <th scope="col">Staked KRO</th>
                            <th scope="col">KRO to redeem</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="black-font" id="investment-table">
                        <tr *ngFor = "let data of activeInvestmentList">
                            <td class="identy pl-0">
                                <div class="d-flex align-items-center">
                                    <p class="m-0 abrivation">{{data.tokenSymbol}}</p>
                                </div>
                            </td>
                            <td class="pl-0">{{data.buyPrice.toFormat(4)}} DAI</td>
                            <td class="current-sell-price">{{data.sellPrice.toFormat(4)}} DAI</td>
                            <td>{{data.stake.toFormat(4)}}</td>
                            <td class="profit">
                                <span class="diffrence">{{data.currValue.toFormat(4)}}</span>
                                <span class="value green-font" *ngIf = "+data.ROI >= 0">{{data.ROI.toFormat(4)}}%</span>
                                <span class="value red-font" *ngIf = "0 > +data.ROI">{{data.ROI.toFormat(4)}}%</span>
                            </td>
                            <td class="pt-1" *ngIf = "data.isSold == false">
                                <button class="outline-button active" (click)="sell(data)" style="background-color: #18daa3; color: white">SELL</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="sec-header d-flex justify-content-between align-items-center">
                <p class="sec-title">Past Investments</p>
            </div>
            <div class="cards table-responsive">
                <input class="outline-box w-100" id="search-box" (keyup)="filterTable($event,'past-investment-table',0)" placeholder="Search">
                <table class="table proposal-table">
                    <thead class="betoken-font">
                        <tr>
                            <th scope="col" class="pl-0">Asset</th>
                            <th scope="col">Buy price</th>
                            <th scope="col">Sell price</th>
                            <th scope="col">Staked KRO</th>
                            <th scope="col">Redeemed KRO</th>
                        </tr>
                    </thead>
                    <tbody class="black-font" id="past-investment-table">
                        <tr *ngFor = "let data of inactiveInvestmentList">
                            <td class="identy pl-0">
                                <div class="d-flex align-items-center">
                                    <p class="m-0 abrivation">{{data.tokenSymbol}}</p>
                                </div>
                            </td>
                            <td>{{data.buyPrice.toFormat(4)}} DAI</td>
                            <td class="current-sell-price">{{data.sellPrice.toFormat(4)}} DAI</td>
                            <td>{{data.stake.toFormat(4)}}</td>
                            <td class="profit">
                                <span class="diffrence">{{data.currValue.toFormat(4)}}</span>
                                <span class="value green-font" *ngIf = "+data.ROI >= 0">{{data.ROI.toFormat(4)}}%</span>
                                <span class="value red-font" *ngIf = "0 > +data.ROI">{{data.ROI.toFormat(4)}}%</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="email-update-sec col-4 col-md-3 col-lg-4 mb-3">

            <div class="cards">
                <p class="update-info black-font">
                    Get updates about the fund status, beginning of new investment cycle phases and date to redeem commissions.
                </p>
                <p>Email address</p>
                <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="emailer-box">
                        <input class="outline-button w-100 mb-3" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
                        <div class="input-group-append">
                            <button class="text-center outline-button black-font w-100 mb-3" name="subscribe" id="mc-embedded-subscribe">
                                GET UPDATED
                            </button>
                        </div>
                    </div>
                </form>
                <div class="update-footer">
                    <a target="_blank" href="https://t.me/betokenfund">
                        <p class="black-font" style="text-align: center;">
                            Join our Telegram community
                            <img src="assets/images/iconmonstr-telegram-4.svg" width="24" class="ml-1">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="proposal-modal-wrapper"  [@toggleProposal]="state" [class.active]="active">
    <div class="content proposal-phase" *ngIf="showCreateInvestmentPopup">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Invest in assets
            </div>
            <div class="modal-close">
                <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="time-wrapper">
            <span class="time-left-title">Time left to invest: </span> <span class="time-left-value">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</span>
        </div>

        <div class="main-sec" *ngIf="createInvestmentPopupStep === 0">
            <p class="m-0 pb-4 black-font">Stake Kairo tokens to invest in crypto-assets.</p>
            <p class="m-0 pb-4 black-font">If the price of the asset goes up, you're rewarded with more Kairo.
                More Kairo means more monthly commissions, as well as more money you can use for investing.</p>
            <div class="row">
              <div class="col">
                <p>Select an asset</p>
                <div class="outline-box w-100 d-flex align-items-center justify-content-between">
                    <select id="selectedTokenSymbolidd" class="border-0 betoken-font w-100" (change)="updateDisplayedTokenInfo($event.target.value)" class="border-0 betoken-font" >
                        <option *ngFor = "let token of tokenList" >{{token}} </option>
                    </select>
                </div>
              </div>
              <div class="col">
                <p>KRO to stake</p>
                <input type="text" class="outline-box w-100 d-flex" (keyup) = "kairoInput($event)" placeholder="e.g. 1.0000">
              </div>
            </div>
            <hr>
            <div>
                <p>Your available balance: <span class="text-dark">{{kairo_balance}} KRO</span></p>
            </div>
            <hr *ngIf="showWidget === false">
            <div class="row" *ngIf="showWidget === false">
              <div class="col">
                <div class="token-price" *ngIf = "tradeAssetval !== undfined">
                    <p class="m-0">Current Price: <br><span class="text-dark">{{tradeAssetval}} DAI</span></p>
                </div>
              </div>
              <div class="col">
                <div>
                    <p class="m-0">24h change: <br><span [ngClass]="{'green-font': +getTokenDailyPriceChange(selectedTokenSymbol) >= 0, 'red-font': 0 > +getTokenDailyPriceChange(selectedTokenSymbol)}">{{dailyPriceChange}}%</span></p>
                </div>
              </div>
            </div>
            <hr *ngIf="showWidget === true">
            <div *ngIf="showWidget === true">
                <p>Monthly market trend:</p>
            </div>
        </div>

        <div class="confirmation-sec" *ngIf="createInvestmentPopupStep === 1">
            <p class="mb-3">
                🚨 Confirm your trade for this asset
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund contract.
                It's fine to stick with these defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>
        </div>

        <div class="broadcast-sec m-3" *ngIf="createInvestmentPopupStep === 2">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain.
                You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-3">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
                <input class="tx-hash" type="text" name="" value="{{transactionId}}">
                <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>

        <div class="final-sec m-3" *ngIf="createInvestmentPopupStep === 3">
            <p class="mb-3">
                🙌 Done. Trade registered. Good choice!
            </p>
            <p class="m-0 pb-4 black-font">
                You staked {{kairoinput}} KRO to support {{selectedTokenSymbol}}.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/finish.png">
            </div>
            <p class="m-0">
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>

        </div>

        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" (click)="createInvestment()" *ngIf= "createInvestmentPopupStep === 0">INVEST</button>
            <button class="text-center outline-button active w-100" (click)="closePopup()" *ngIf= "createInvestmentPopupStep === 3">MAKE A NEW INVESTMENT</button>
        </div>

    </div>

    <div class="content proposal-trade-phase" *ngIf="showSellInvestmentPopup">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Sell Your Assets
            </div>
            <div class="modal-close">
              <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="time-wrapper">
            <span class="time-left-title">Time left to sell assets: </span> <span class="time-left-value">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</span>
        </div>
        <div class="confirmation-sec" *ngIf="sellInvestmentPopupStep === 0">
            <p class="mb-3">
                🚨 Confirm your transaction
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund.
                It's fine to stick with these defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>

        </div>
        <div class="broadcast-sec m-3" *ngIf="sellInvestmentPopupStep === 1">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain.
                You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-3">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="final-sec m-3" *ngIf="sellInvestmentPopupStep === 2">
            <p class="mb-3">
                🙌 Done. Check your balance!
            </p>
            <p class="m-0 pb-4 black-font">
                You redeeemed {{kroRedeemed}} KRO.
            </p>
            <div class="d-flex justify-content-center mb-4">
                <img src="assets/images/finish.png">
            </div>
            <p class="m-0 mt-4">
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" *ngIf="sellInvestmentPopupStep === 2" (click)="closePopup()">TRADE SUCCESSFUL</button>
        </div>
    </div>

    <div class="content proposal-changefund-phase" *ngIf="showNextPhasePopup">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Change fund phase
            </div>
            <div class="modal-close">
              <button type="button" class="close" (click)="closePopup()"><img src="assets/images/ic_close_black_24px.svg" width="24"></button>
            </div>
        </div>
        <div class="main-sec" *ngIf="nextPhasePopupStep === 0">
            <p class="m-0 pb-5 black-font">This action will be repercuted on all the fund’s participants.
                By being the first to operate this action, you’ll be granted 10 KRO.
            </p>
        </div>
        <div class="confirmation-sec" *ngIf="nextPhasePopupStep === 1">
            <p class="mb-3">
                🚨 Confirm your transaction
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund contract. It's fine to stick with these
                defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>
        </div>
        <div class="broadcast-sec m-3" *ngIf="nextPhasePopupStep === 2">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain. You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-3">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" (click)="changefundstep1()" *ngIf="nextPhasePopupStep === 0">GO TO NEXT INVESTMENT PHASE</button>
            <button class="text-center outline-button active w-100 mt-4" (click)="closePopup()" *ngIf="nextPhasePopupStep === 2">DONE</button>
        </div>
    </div>
</div>
<div class="overlay-popup" [class.active]="active" (click)="closePopup()"></div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3"
    *ngIf="footerbtn1">
    <button class="text-center outline-button active" (click)="proposalPopup()">TRADE ASSSETS</button>
</div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3"
*ngIf="footerbtn2">
    <button class="text-center outline-button active" (click)="nextPhasePopup()">NEXT PHASE</button>
</div>
<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3" *ngIf="footerbtn3">
    <button class="text-center outline-button active" routerLink="/redeem">REDEEM COMMISSION</button>
</div>
-->
