<!-- HEADER -->
<div class="header bg-dark pb-5">
  <div class="container-fluid px-md-5">

    <!-- Body -->
    <div class="header-body">
      <!-- Title -->
      <h1 class="header-title text-white">
        Your stats
      </h1>
    </div>
    <!-- Body -->
    <div class="header-body">
      <div class="card-deck mb-5">
        <!-- Card -->
        <div class="card" data-toggle="tooltip" data-html="true" title="The total number of Betoken Fund Shares ($BTKS) owned by you.">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                  Betoken Shares Balance
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  {{sharesBalance.toFormat(4)}} BTKS
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-disc text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
        <!-- Card -->
        <div class="card" data-toggle="tooltip" data-html="true" title="The actual value in DAI stable coin of the total Betoken Fund shares owned by you.">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                  Total value
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  {{investmentBalance.toFormat(4)}} DAI
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
        <!-- Card -->
        <div class="card" data-toggle="tooltip" data-html="true" title="The actual value in DAI stable coin of the total Betoken Fund shares owned by you.">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                  Price/BTKS
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  {{sharesPrice.toFormat(4)}} DAI
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
      </div> <!-- / .row -->
      <div class="row align-items-end">
        <div class="col">

          <!-- Pretitle -->
          <h6 class="header-pretitle text-secondary mb-3">
            Betoken Fund Overview
          </h6>
          <!-- Title -->
          <h1 class="header-title text-white d-inline-block align-middle">
            BTKS Price Chart
          </h1>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

    <!-- Footer -->
    <div class="header-footer">

      <!-- Chart -->
      <div class="chart">
        <canvas id="roi-chart" class="chart-canvas">
        </canvas>
      </div>

    </div>

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid mt-n6 px-md-5">

  <div class="card-deck mb-5">
    <!-- Card -->
    <div class="card" >
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Price Change (Current Cycle)
            </h6>

            <!-- Heading -->
            <span class="badge badge-xl badge-soft-success">
              {{currMoROI}}%
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-activity text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" >
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Price Change (Since Inception)
            </h6>

            <!-- Heading -->
            <span class="badge badge-xl badge-soft-success">
              {{avgMonthReturn}}%
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-activity text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="Sortino ratio is a way to examine the performance of an investment by adjusting for its risk. The risk-free rate used here is 3% per year, an approximation of the US 10Y treasury bond's interest rate.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Sortino Ratio
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              {{sortinoRatio}}
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-shield text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" title="Standard deviation represents the volatility of an asset. The number shown here is the downside sample standard deviation of Betoken's cumulative ROI since inception.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2">
              Standard Deviation
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              {{standardDeviation}}
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-bar-chart-2 text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
  </div> <!-- / .row -->
</div>

<!-- CARDS -->
<div class="container-fluid pb-6 px-md-5">
  <div class="row">
    <div class="col-12">
      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Your Deposit & Withdraw History
              </h4>

            </div>
            <div class="col-auto">

              <!-- Refresh -->
              <button class="btn btn-sm btn-white" type="button" name="button" (click) = "refresh()"><i class="fe fe-refresh-cw align-middle" *ngIf="isLoading() == false"></i><div class="loader loader-sm loader-secondary my-1" *ngIf="isLoading()"></div></button>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table" id="historyTable">
            <thead>
              <tr>
                <th class="text-muted">
                  Type
                </th>
                <th class="text-muted">
                  Amount (DAI)
                </th>
                <th class="text-muted">
                  Timestamp
                </th>
                <th class="text-muted">
                  Transaction
                </th>
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let entry of depositWithdrawHistory">
                <td class="align-middle">
                  <span class="badge badge-soft-success" *ngIf="entry.type === 'Deposit'">
                    Deposit
                  </span>
                  <span class="badge badge-soft-danger" *ngIf="entry.type === 'Withdraw'">
                    Withdraw
                  </span>
                </td>
                <td class="align-middle">
                  {{entry.daiAmount.toFormat(4)}}
                </td>
                <td class="align-middle">
                  {{entry.timestamp}}
                </td>
                <td class="align-middle">
                  <div class="input-group-append">
                    <a class="btn btn-white h-100 d-flex align-items-center" href="https://ropsten.etherscan.io/tx/{{entry.txHash}}" target="_blank"><i class="fe fe-external-link"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>

<!-- Buy BTKS modal -->
<div class="modal fade fixed-right" id="modalInvestorBuy" tabindex="-1" role="dialog" aria-labelledby="modalInvestorBuy" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div *ngIf="phase == 0">
          <!-- Confirm rules title -->
          <h4 class="modal-title" *ngIf="buyStep == 0">
            Please confirm before continuing
          </h4>
          <!-- BTKS amount title -->
          <h4 class="modal-title" *ngIf="buyStep == 1">
            How many shares do you want to buy?
          </h4>
          <!-- BTKS Confirm buy title -->
          <h4 class="modal-title" *ngIf="buyStep == 2">
            Confirm order
          </h4>
          <!-- BTKS Processing buy title -->
          <h4 class="modal-title" *ngIf="buyStep == 3">
            Processing order
          </h4>
          <!-- BTKS confirmed buy title -->
          <h4 class="modal-title" *ngIf="buyStep == 4">
            Order confirmed
          </h4>
        </div>
        <!-- Wait until next intermission title -->
        <h4 class="modal-title" *ngIf="phase == 1">
          Operation not permitted
        </h4>
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <!-- Manage phase, buying not allowed -->
      <div class="modal-body" *ngIf="phase == 1">
        <img class="mb-4 image-fluid w-75 mx-auto d-block" src="assets/img/illustrations/undraw_queue_qt30.svg" alt="">
        <!-- Time left until operation allowed -->
        <h6 class="header-pretitle text-secondary mb-2 text-center">
          Time left until operation allowed
        </h6>
        <h4 class="header-title mb-4 text-center">
          {{days}}d {{hours}}h {{minutes}}m {{seconds}}s <a data-toggle="tooltip" title="Investors can buy or sell Betoken Shares every 27 days, during a 3-day investment phase."><i class="fe fe-info"></i></a>
        </h4>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mb-4 text-center" target="_blank" novalidate>
          <label class="text-secondary" for="mce-EMAIL">Be notified by email 👇.</label>
          <div class="input-group input-group-lg">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append bg-black">
              <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row text-center mb-4">
          <div class="col">
            <p class="text-secondary mb-2 text-center">Or follow us</p>
            <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/medium.svg" alt="medium logo" height="20">
            </a>
            <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
              <img class="mx-auto" src="assets/img/icons/github.svg" alt="medium logo" height="20">
            </a>
          </div>
        </div>
        <!-- Close button for buyStep 5 and buying not allowed page -->
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>

      <!-- Intermission, buying allowed -->
      <div class="card-header py-0 border-0" style="min-height: 24px;" *ngIf="phase == 0">
        <div class="progress" style="height: 8px;">
          <div [ngClass]="{'bg-success': buyStep >= 0, 'bg-secondary': buyStep !== 0}" class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          <div [ngClass]="{'bg-success': buyStep >= 1, 'bg-secondary': buyStep !== 1}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          <div [ngClass]="{'bg-success': buyStep >= 2, 'bg-secondary': buyStep !== 2}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          <div [ngClass]="{'bg-success': buyStep >= 3, 'bg-secondary': buyStep !== 3}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          <div [ngClass]="{'bg-success': buyStep >= 4, 'bg-secondary': buyStep !== 4}" class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="modal-body" *ngIf="phase == 0">
        <!-- before starting confirm rules -->
        <div *ngIf="buyStep == 0">
          <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="rule1" (change)="checkboxes[0] = !checkboxes[0]">
            <label class="custom-control-label small text-secondary" for="rule1">You are NEITHER a citizen or resident of, NOR currently located in any of the following states or territories, NOR an entity formed under the laws of: Afghanistan, Cuba, Democratic People's Republic of Korea, Iran, Iraq, People’s Republic of China, Russian Federation, Somalia, Sudan, Syria, United Arab Emirates, United States of America, Venezuela, Yemen.</label>
          </div>
          <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="rule2" (change)="checkboxes[1] = !checkboxes[1]">
            <label class="custom-control-label small text-secondary" for="rule2">You have read and agree to the <a href="#">Terms of Use</a>, <a href="#">Privacy Policy</a> and <a href="#">AML Policy</a>.</label>
          </div>
          <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="rule3" (change)="checkboxes[2] = !checkboxes[2]">
            <label class="custom-control-label small text-danger" for="rule3">💀 You understand that Betoken Protocol is in beta. Use at your own risk.</label>
          </div>
          <div class="card card-inactive mb-4">
            <div class="card-body">
              <h3>Disclaimer</h3>
              <p class="text-muted">
                Nothing herein constitutes an offer to sell, or the solicitation of an offer to buy, any securities or tokens.
              </p>
              <p class="text-muted">
                Betoken enables capital connection and managing using smart contracts which are open source. Betoken does not take custody of tokens and is only a collaborative hub for investors and managers. Betoken is not a licensed bank, broker-dealer, investment advisor or an exchange. Betoken uses partner protocols (Kyber, Compound, bZx, Maker DAO) to power its own ecosystem.
              </p>
            </div>
          </div>
        </div>

        <!-- Step 1: enter amount -->

        <!-- Quantity of share to buy -->
        <div *ngIf="buyStep == 1">
          <h6 class="header-pretitle">
            Current Betoken Share Price
          </h6>
          <h4 class="mb-5">
            {{sharesPrice.toFormat(4)}} DAI/BTKS
          </h4>
          <h6 class="header-pretitle text-secondary">I want to buy Betoken Shares with</h6>
          <div class="row justify-content-center mb-4">
            <div class="col">
              <div class="row align-items-center">
                <div class="col">
                  <form>
                    <div class="form-group row mb-2">
                      <div class="col">
                        <select class="form-control form-control-lg" id="buyTokenSelect" (change)="selectBuyToken($event.target.value)">
                          <option *ngFor="let token of tokenData">{{token.symbol}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <div class="input-group">
                          <input aria-describedby="Betoken Shares Amount to buy" class="form-control form-control-lg pr-0" type="number" placeholder="0.0" id="sharesAmountToBuy" (input)="refreshBuyOrderDetails($event.target.value)">
                          <div class="input-group-append">
                            <button class="btn btn-white" name="button" type="button" (click)="maxBuyAmount()">Max</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <small class="form-text text-secondary d-inline-block mb-0">{{selectedTokenBalance.toFormat(4)}} {{selectedTokenSymbol}} available</small>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table mb-4">
              <thead>
                <tr>
                  <th class="px-0 bg-transparent border-top-0">
                    <span class="h6">Order Details</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="px-0 small align-baseline text-muted">
                    Betoken Shares to receive
                  </td>
                  <td class="px-0 text-right small align-baseline">
                    {{buySharesAmount.toFormat(4)}} BTKS
                  </td>
                </tr>
                <tr>
                  <td class="px-0 small align-baseline text-muted">
                    Total cost
                  </td>
                  <td class="px-0 text-right h3 align-baseline">
                    {{buyTokenAmount.toFormat(6)}} {{selectedTokenSymbol}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <!-- Step 2: confirm transaction -->
        <p class="text-center text-muted mb-5" *ngIf="buyStep == 2">
          Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick with these defaults gas limit and price.
        </p>

        <!-- Step 3: transaction broadcasted -->
        <!-- Processing investment body -->
        <div *ngIf="buyStep == 3">
          <img class="image-fluid d-block mx-auto mb-4" src="assets/img/animated-logo.svg" alt="Betoken logo" style="width: 88px;">
          <p class="text-center text-muted mb-5">
            Your investment is being saved on the Ethereum blockchain.
          </p>
          <hr >
          <form >
            <div class="form-group">
              <label for="exampleFormControlInput1">Transaction ID</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
                <div class="input-group-append">
                  <a class="btn btn-white h-100 d-flex align-items-center" href="https://ropsten.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Step 4: transaction confirmed -->
        <!-- Investment confirmed body -->
        <div *ngIf="buyStep == 4">
          <p class="h1 text-center">
            <i class="fe fe-check-circle text-success"></i>
          </p>
          <p class="text-center text-muted mb-5">
            You bought <span class="font-weight-bold text-secondary">{{buySharesAmount.toFormat(4)}}</span> BTKS using <span class="font-weight-bold text-secondary">{{buyTokenAmount.toFormat(4)}}</span> {{selectedTokenSymbol}}.
          </p>
          <a class="btn btn-twitter btn-block" target="__blank" href="https://twitter.com/intent/tweet?hashtags=Betoken%2C%20DeFi&related=betokenfund&text=I%27ve%20just%20connected%20my%20capital%20to%20Betoken%2C%20world%27s%20first%20crowd-powered%20cryptoassets%20management%20protocol!&url=https%3A%2F%2Fbetoken.fund&via=betokenfund">Tweet about it</a>
          <hr>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Transaction ID</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
                <div class="input-group-append">
                  <a class="btn btn-white h-100 d-flex align-items-center" href="https://ropsten.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Continue button for buyStep 1 -->
        <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="BuyBTKS" *ngIf="buyStep == 0" (click)="buyStep = agreementsChecked() ? 1 : 0" [ngClass]="{'disabled': !agreementsChecked()}">
          Buy Betoken Shares
        </button>
        <!-- Continue button for buyStep 2 -->
        <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="Continue to Buy" *ngIf="buyStep == 1" (click)="deposit();">
          Continue
        </button>
        <!-- Close button for buyStep 4 -->
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal" aria-label="Close" *ngIf="buyStep == 4">
          Close
        </button>
      </div>
    </div>
  </div>
</div><!-- / modal -->

<!-- Sell BTKS modal -->
<div class="modal fade fixed-right" id="modalInvestorSell" tabindex="-1" role="dialog" aria-labelledby="modalInvestorSell" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content" data-toggle="lists" data-lists-values="[&quot;name&quot;]">
      <div class="modal-header border-0">
        <div *ngIf="phase == 0">
          <!-- BTKS amount title -->
          <h4 class="modal-title" *ngIf="sellStep == 0">
            How many shares do you want to sell?
          </h4>
          <!-- BTKS Confirm Sell title -->
          <h4 class="modal-title" *ngIf="sellStep == 1">
            Confirm Sell Order
          </h4>
          <!-- BTKS Processing Sell title -->
          <h4 class="modal-title" *ngIf="sellStep == 2">
            Processing Sell Order
          </h4>
          <!-- BTKS confirmed Sell title -->
          <h4 class="modal-title" *ngIf="sellStep == 3">
            Sell Order Confirmed
          </h4>
        </div>
        <div *ngIf="phase == 1">
          <h4 class="modal-title">
            Operation not permitted
          </h4>
        </div>
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <!--Intermission phase, selling allowed-->
      <div class="card-header py-0 border-0" style="min-height: 24px;" *ngIf="phase == 0">
        <div class="progress" style="height: 8px;">
            <div [ngClass]="{'bg-success': sellStep >= 0, 'bg-secondary': sellStep !== 0}" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            <div [ngClass]="{'bg-success': sellStep >= 1, 'bg-secondary': sellStep !== 1}" class="progress-bar border-left" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            <div [ngClass]="{'bg-success': sellStep >= 2, 'bg-secondary': sellStep !== 2}" class="progress-bar border-left" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            <div [ngClass]="{'bg-success': sellStep >= 3, 'bg-secondary': sellStep !== 3}" class="progress-bar border-left" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="modal-body" *ngIf="phase == 0">
        <!-- Step 0: enter amount of shares to sell -->
        <div *ngIf="sellStep == 0">
          <h6 class="header-pretitle">
            Current Betoken Share Price
          </h6>
          <h4 class="mb-5">
            {{sharesPrice.toFormat(4)}} DAI/BTKS
          </h4>

          <h6 class="header-pretitle text-secondary">I want to sell</h6>

          <div class="row justify-content-center mb-4">
            <div class="col">
              <!--Form for entering the sell amount-->
              <form>
                <div class="input-group mb-2">
                  <input type="number" min="0.0" class="form-control form-control-lg border-right-0 pr-0" aria-describedby="Betoken Shares Amount to sell" placeholder="0.0" id="sharesAmountToSell" (input)="refreshSellOrderDetails($event.target.value)">
                  <div class="input-group-append">
                    <span class="input-group-text border-left-0 border-right-0" id="maxSellPercentUnit">BTKS</span>
                    <button class="btn btn-white" name="button" type="button" (click)="maxSellAmount()">Max</button>
                  </div>
                </div>
                <small class="form-text text-secondary d-inline-block mb-0">{{sharesBalance.toFormat(4)}} BTKS available</small>
              </form>
            </div>
          </div>

          <h6 class="header-pretitle text-secondary">I want to receive</h6>

          <div class="form-group">
            <select class="form-control" id="sellTokenSelect" (change)="selectSellToken($event.target.selectedIndex)">
              <option *ngFor="let token of tokenData">
                {{token.name}} ({{token.symbol}})
              </option>
            </select>
          </div>

          <div class="table-responsive">
            <table class="table mb-4">
              <thead>
                <tr>
                  <th class="px-0 bg-transparent border-top-0">
                    <span class="h6">Order Details</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="px-0 small align-baseline text-muted">
                    Sell BTKS for
                  </td>
                  <td class="px-0 text-right h3 align-baseline">
                    {{sellTokenAmount.toFormat(6)}} {{selectedTokenSymbol}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Step 1: confirm transaction -->
        <p class="text-center text-muted mb-5" *ngIf="sellStep == 1">
          Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick with these defaults gas limit and price.
        </p>

        <!-- Step 2: transaction broadcasted -->
        <!-- Processing investment body -->
        <div *ngIf="sellStep == 2">
                  <img class="image-fluid d-block mx-auto mb-4" src="assets/img/animated-logo.svg" alt="Betoken logo" style="width: 88px;">
          <p class="text-center text-muted mb-5">
            Your investment is being saved on the Ethereum blockchain.
          </p>
          <hr>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Transaction ID</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
                <div class="input-group-append">
                  <a class="btn btn-white h-100 d-flex align-items-center" href="https://ropsten.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Step 3: transaction confirmed -->
        <!-- Sell order confirmed body -->
        <div *ngIf="sellStep == 3">
          <p class="h1 text-center">
            <i class="fe fe-check-circle text-success"></i>
          </p>
          <p class="text-center text-muted mb-5">
            You sold <span class="font-weight-bold text-secondary">{{sellSharesAmount.toFormat(6)}}</span> BTKS for <span class="font-weight-bold text-secondary">{{sellTokenAmount.toFormat(6)}}</span> {{selectedTokenSymbol}}.
          </p>
          <hr>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Transaction ID</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
                <div class="input-group-append">
                  <a class="btn btn-white h-100 d-flex align-items-center" href="https://ropsten.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Continue button for step 0 -->
        <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="Continue to Sell" *ngIf="sellStep == 0" (click)="sell()">
          Continue
        </button>

        <!-- Close button for step 3 -->
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal" aria-label="Close" *ngIf="sellStep == 3">
          Close
        </button>
      </div>


      <!--Manage phase, selling not allowed-->
      <div class="modal-body" *ngIf="phase == 1">
        <img class="mb-4 image-fluid w-75 mx-auto d-block" src="assets/img/illustrations/undraw_queue_qt30.svg" alt="">
        <!-- Time left until next intermission phase -->
        <h6 class="header-pretitle text-secondary mb-2 text-center">
          Time left until next investment phase
        </h6>
        <h4 class="header-title mb-4 text-center">
          {{days}}d {{hours}}h {{minutes}}m {{seconds}}s <a data-toggle="tooltip" data-html="true" title="Investors can buy or sell Betoken Shares every 27 days, during a 3-day investment phase."><i class="fe fe-info"></i></a>
        </h4>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mb-4 text-center" target="_blank" novalidate>
          <label class="text-secondary" for="mce-EMAIL">Be notified by email 👇.</label>
          <div class="input-group input-group-lg">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append bg-black">
              <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row text-center mb-4">
          <div class="col">
            <p class="text-secondary mb-2 text-center">Or follow us</p>
            <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/medium.svg" alt="medium logo" height="20">
            </a>
            <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
              <img class="mx-auto" src="assets/img/icons/github.svg" alt="medium logo" height="20">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div><!-- / modal -->
