<div class="investor-wrapper col-12 col-lg-10 float-right mt-2">
  <div class="row">
    <div class="left-sec col-12 col-lg-6 order-2 order-lg-1">
      <img class="ml-4" src="assets/images/investor-waiting-illustration.svg" width="472">
    </div>
    <div class="right-sec col-12 col-lg-5 order-1 order-lg-2">
        <div class="row">
            <div class="email-update-sec col-12 col-md-4 col-lg-12 mb-3">
                <div class="sec-header">
                    <p class="sec-title">Coming soon. Get early access by subscribing here</p>
                </div>

                    <p class="update-info black-font">
                        Invest in cryptocurrencies even if you’ve never gone down the rabbit hole. Let someone else do the hard work. You just take those sweet profits. <a class="green-font" href="https://betoken.fund/" target="_blank">Learn more.</a>
                    </p>


                    <p>
                        Email address
                    </p>

                    <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="emailer-box">
                            <input class="outline-button w-100 mb-3" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
                            <div class="input-group-append">
                                <button class="text-center outline-button black-font w-100 mb-3" name="subscribe" id="mc-embedded-subscribe">
                                    GET UPDATED
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="update-footer">
                        <a target="_blank" href="https://t.me/betokenfund">
                            <p class="black-font" style="text-align: center;">
                                Join our Telegram community
                                <img src="assets/images/iconmonstr-telegram-4.svg" width="24" class="ml-1">
                            </p>
                        </a>
                    </div>
            </div>
        </div>
    </div>
  </div>
</div>
