<!-- HEADER -->
<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="alert alert-primary alert-dismissible fade show d-flex d-md-none" role="alert">
        <a class="text-white" data-toggle="modal" href="#modalReferral">
          <strong>Invite friends</strong>, earn Kairo
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row align-items-end">
        <div class="col">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Overview
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            Market
          </h1>

        </div>
        <div class="col-auto d-none d-md-flex">

          <!-- Button -->
          <button class="btn btn-primary mt-3 mt-md-0" data-toggle="modal" href="#modalReferral">
            Invite friends, earn Kairo
          </button>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Prices & Trends
              </h4>

            </div>
            <div class="col-auto">

              <!-- Refresh -->
              <button class="btn btn-sm btn-white" type="button" name="button" (click) = "refresh()"><i class="fe fe-refresh-cw align-middle" *ngIf="isLoading() == false"></i><div class="loader loader-sm loader-secondary my-1" *ngIf="isLoading()"></div></button>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-12">

              <!-- Form -->
              <form>
                <div class="input-group input-group-flush input-group-merge">
                  <input type="search" class="form-control form-control-prepended search" (keyup)="filterTable($event,'market-table',0)" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th class="text-muted">
                    Asset
                </th>
                <th class="text-muted">
                    Price in $DAI
                </th>
                <th class="text-muted">
                    24h Change
                </th>
                <th class="text-muted">
                    7d change
                </th>
                <th class="text-muted">
                    1m change
                </th>
              </tr>
            </thead>
            <tbody class="list" id="market-table">
              <tr *ngFor="let token of tokenList">
                <td class="py-auto">
                  <!-- Avatar -->
                  <span class="avatar avatar-xs align-middle">
                    <img src="{{getTokenLogoUrl(token)}}" alt="token logo" class="avatar-img rounded-circle"> 
                  </span>
                  <span class="align-middle ml-2">
                    {{token}} • <small class="text-muted small">{{getTokenName(token)}}</small>
                  </span>
                </td>
                <td class="align-middle">{{getTokenPrice(token)}}</td>
                <td class="24h-change align-middle">
                  <span class="badge badge-xl" [ngClass]="{'badge-soft-success': +getTokenDailyPriceChange(token) >= 0, 'badge-soft-danger': 0 > +getTokenDailyPriceChange(token)}">
                    {{getTokenDailyPriceChange(token)}}%
                  </span>
                </td>
                <td class="align-middle">
                  <span class="badge badge-xl" [ngClass]="{'badge-soft-success': +getTokenWeeklyPriceChange(token) >= 0, 'badge-soft-danger': 0 > +getTokenWeeklyPriceChange(token)}">
                    {{getTokenWeeklyPriceChange(token)}}%
                  </span>
                </td>
                <td class="align-middle">
                  <span class="badge badge-xl" [ngClass]="{'badge-soft-success': +getTokenMonthlyPriceChange(token) >= 0, 'badge-soft-danger': 0 > +getTokenMonthlyPriceChange(token)}">
                    {{getTokenMonthlyPriceChange(token)}}%
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>
