.market-wrapper{
    position: relative;
    display: block;
    top: 112px;
    .proposal-table-sec{
        .sec-header{
          padding: 7px 0 8px;
        }
        .table-responsive{
            margin: 0 0 24px;
            .proposal-table{
                text-align: left !important;
                white-space: nowrap !important;
                thead{
                    font-size: 14px;
                    th{
                        border: none !important;
                        font-weight: normal;
                    }
                }
                tbody{
                    td{
                        border-top: none !important;
                        height: 48px;
                    }
                    tr{
                      padding: 14px 0;
                    }
                    .current-sell-price{
                      display: block;
                      width: 128px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                    .identy{
                        .name{
                            .abrivation{
                                color: #000000 !important;
                                line-height: 1 !important;
                            }
                            .expansion{
                                font-size: 14px !important ;
                                color: #8FA9B0 !important;
                            }
                        }
                    }
                    .value{
                      font-size: 12px;
                      margin-left: 8px;
                    }
                }
            }
        }

    }
}

@media (max-width: 575.98px) {
    .footer-wrapper{
        button{
            width: 50%;
        }
    }
}


.overflowDesign {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
