<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
  <div class="container-fluid">

    <div class="navbar-text p-0">
      <h6 class="header-pretitle text-muted mb-1 time-left-title">
        Time left {{phaseActionText()}}
      </h6>
      <h4 class="header-title text-secondary time-left-value">
        {{days}}d {{hours}}h {{minutes}}m {{seconds}}s
      </h4>
    </div>

    <!-- User -->
    <div class="navbar-user">
      <div class="mr-4 d-none d-md-flex">
        <!-- Toggle -->
        <a class="text-muted mt-3" data-toggle="modal" href="#modalEmailUpdates">
          <span class="icon active">
            <i class="fe fe-bell"></i>
          </span>
        </a>

      </div>
      <!-- cta -->
      <div *ngIf="checkRouterURL('/investing-dashboard') === false">
        <!--Provide onboarding for prospective managers with no Kairo-->
        <span *ngIf="userKairoValue.comparedTo(0) === 0">
          <a target="_blank" href="https://betoken.fund/iao/">
            <button class="btn btn-success mr-4" type="button">Become a Manager</button>
          </a>
        </span>

        <!--Provide actions for existing managers-->
        <span *ngIf="userKairoValue.comparedTo(0) !== 0">
          <button class="btn btn-success mr-4" routerLink="/investments" type="button" data-toggle="modal" data-target="#modalBuy" *ngIf="phase == 1">Make Investments</button>
          <button class="btn btn-success mr-4" routerLink="/commissions" type="button" data-toggle="modal" data-target="#modalRedeem" *ngIf="can_redeem_commission">Redeem Commission</button>
        </span>
        <button class="btn btn-success mr-4" type="button" *ngIf="days == 0 && hours == 0 && minutes == 0 && 1 >= seconds" (click)="nextPhase()">Next Phase</button>

        <!--Account display-->
        <button class="btn btn-white text-truncate" style="width: 12rem;" (click)="reloadAll()" *ngIf="user_address !== ZERO_ADDR"><span class="text-success">●</span> {{user_address}}</button>
        <button class="btn btn-white text-truncate" (click)="reloadAll()" *ngIf="user_address == ZERO_ADDR"><span class="text-danger">●</span> Connect Wallet </button>
      </div>
      <!-- cta -->
      <div *ngIf="checkRouterURL('/investing-dashboard') === true">
        <!--Action buttons-->
        <button class="btn btn-success mr-2" type="button" data-toggle="modal" data-target="#modalInvestorBuy">Buy BTKS</button>
        <button class="btn btn-white mr-4" type="button" data-toggle="modal" data-target="#modalInvestorSell">Sell BTKS</button>

        <!--Account display-->
        <button class="btn btn-white text-truncate" style="width: 12rem;" (click)="reloadAll()" *ngIf="user_address !== ZERO_ADDR"><span class="text-success">●</span> {{user_address}}</button>
        <button class="btn btn-white text-truncate" (click)="reloadAll()" *ngIf="user_address == ZERO_ADDR"><span class="text-danger">●</span> Connect Wallet </button>
      </div>
    </div>
  </div>
</nav>

<!-- PREHADER
================================================== -->
<div *ngIf="errorMsg !== '' ">
  <div class="alert alert-warning rounded-0 mb-0">
    {{errorMsg}}
  </div>
</div>

<!-- Get Updates modal -->
<div class="modal fade fixed-right" id="modalEmailUpdates" tabindex="-1" role="dialog" aria-labelledby="Get update modal by email" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="header text-center">
          <div class="header-body">

            <h6 class="header-pretitle">
              Betoken Fund Updates
            </h6>

            <h1 class="header-title">
              Get notified by email
            </h1>

          </div>
        </div>
        <!-- Text -->
        <p class="text-center text-muted mb-5">
          Be the first to know about new investment and management phases and when to redeem manager's commissions 👇.
        </p>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col mb-5" target="_blank" novalidate>
          <div class="input-group input-group-lg">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append bg-black">
              <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                  <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-auto mb-5">
            <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/medium.svg" alt="medium logo" height="20">
            </a>
            <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
              <img class="mx-auto" src="assets/img/icons/github.svg" alt="medium logo" height="20">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
