<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
  <div class="container-fluid">

    <div class="navbar-text p-0">
      <h6 class="header-pretitle text-muted mb-1 time-left-title">
        Time left {{phaseActionText()}}
      </h6>
      <h4 class="header-title text-secondary time-left-value">
        {{days}}d {{hours}}h {{minutes}}m {{seconds}}s
      </h4>
    </div>

    <!-- User -->
    <div class="navbar-user">
      <div class="mr-4 d-none d-md-flex">
        <!-- Toggle -->
        <a class="text-muted mt-3" data-toggle="modal" href="#modalEmailUpdates">
          <span class="icon active">
            <i class="fe fe-bell"></i>
          </span>
        </a>

      </div>
      <!-- cta -->
      <div *ngIf="checkRouterURL('/investor') === false">
        <button class="btn btn-success mr-4" routerLink="/investments" type="button" data-toggle="modal" data-target="#modalBuy" *ngIf="phase == 1">Make Investments</button>
        <button class="btn btn-success mr-4" routerLink="/redeem" type="button" data-toggle="modal" data-target="#modalRedeem" *ngIf="phase == 2 && can_redeem_commission">Redeem Commission</button>
        <button class="btn btn-white text-truncate" style="width: 12rem;" *ngIf="user_address !== '0x0'"><span class="text-success">●</span> {{user_address}}</button>
        <button class="btn btn-white text-truncate" *ngIf="user_address == '0x0'"><span class="text-danger">●</span> No Account</button>
      </div>
    </div>
  </div>
</nav>

<!-- PREHADER
================================================== -->
<div *ngIf="errorMsg !== '' ">
  <div class="alert alert-warning rounded-0 mb-0">
    {{errorMsg}}
  </div>
</div>

<div *ngIf="sellalert">
    <div class="alert alert-danger alert-dismissible fade show rounded-0 mb-0 d-flex justify-content-between align-items-center">
        <p class="m-0">🚨 Sell your assets to redeem all your KRO staked before cycle’s end. <a href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div *ngIf="nextphasealert">
    <div class="alert alert-info alert-dismissible fade show rounded-0 mb-0 d-flex justify-content-between align-items-center">
        <p class="m-0">🚨 Current phase has ended.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div *ngIf="redeemalert">
    <div class="alert alert-info alert-dismissible fade show rounded-0 mb-0 d-flex justify-content-between align-items-center">
        <p class="m-0">🚨 Redeem your commissions before the phase ends. <a href="https://medium.com/betoken/the-ultimate-guide-to-betoken-omen-39adfe204296" target="_blank">More info</a>.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<!-- Get Updates modal -->
<div class="modal fade fixed-right" id="modalEmailUpdates" tabindex="-1" role="dialog" aria-labelledby="Get update modal by email" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="header text-center">
          <div class="header-body">

            <h6 class="header-pretitle">
              Betoken Fund Updates
            </h6>

            <h1 class="header-title">
              Get notified by email
            </h1>

          </div>
        </div>
        <!-- Text -->
        <p class="text-center text-muted mb-5">
          Be the first to know about new investment and management phases and when to redeem manager's commissions 👇.
        </p>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col mb-5" target="_blank" novalidate>
          <div class="input-group input-group-lg">
            <input class="form-control bg-white" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append bg-black">
              <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                  <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-auto mb-5">
            <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
              <img class="mx-auto" src="assets/img/icons/medium.svg" alt="medium logo" height="20">
            </a>
            <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
              <img class="mx-auto" src="assets/img/icons/github.svg" alt="medium logo" height="20">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->

<!-- Referral modal -->
<div class="modal fade fixed-right" id="modalReferral" tabindex="-1" role="dialog" aria-labelledby="modalReferral" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body pb-5">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="header text-center">
          <div class="header-body">

            <h6 class="header-pretitle">
              Unlimited Free Kairo
            </h6>

            <h1 class="header-title">
              Share your love of digital currency
            </h1>

          </div>
        </div>
        <!-- Text -->
        <p class="text-center text-muted mb-5">
          Introduce a friend to Betoken. You will both get 10% of free Kairo relative to the amount of Kairo tokens your friend buys 👇.
        </p>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Share your link</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" value="https://betoken.fund/iao/?ref={{user_address}}" aria-label="Referral link" aria-describedby="basic-addon2" #userinput>
              <div class="input-group-append">
                <button class="btn btn-white" type="button" (click)="copyInputMessage(userinput)" value="click to copy"><i class="fe fe-copy"></i></button>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="row justify-content-center">
          <div class="col-auto">
            <h4 class="text-center">Share on</h4>
            <a class="btn btn-lg btn-twitter text-white mr-3" href="" rel="nofollow" target="_blank">Twitter</a>
            <a class="btn btn-lg btn-facebook text-white" href="" rel="nofollow" target="_blank">Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
