<header class="col-md-12 col-lg-12">

  <div class="row d-flex align-items-center">
    <div class="col-1 pr-0 nav-wrapper d-lg-none">
      <nav class="navbar navbar-light p-0">
        <button class="navbar-toggler p-0" type="button" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    <div class="col-2">
      <div class="logo pointer">
          <a target="_blank" href="https://betoken.fund">
              <img src="assets/images/betoken-logo.png" class="header-logo" width="148">
          </a>
      </div>

      <div class="notification-bar pointer mt-3">
          <div class="bt-notifications notification-icon" (click)="notification = !notification"></div>
      </div>
    </div>
    <div class="col-9 col-lg-6 d-flex align-items-center">
      <div class="portfolio-desc" (click)= "copyToClipBoard(kairo_balance)">
        <p class="portfolio-title betoken-font m-0">Kairo balance</p>
        <p class="portfolio-value black-font m-0 ellipseDesign" >{{kairo_balance}} </p>
      </div>
      <div class="portfolio-desc ml-4" (click)= "copyToClipBoard(monthly_pl)">
        <p class="portfolio-title betoken-font m-0">Monthly P/L</p>
        <p class="portfolio-value m-0" [ngClass]="{'green-font': +monthly_pl >= 0, 'red-font': 0 > +monthly_pl}">{{monthly_pl}}%</p>
      </div>
      <div class="portfolio-desc ml-4" (click)= "copyToClipBoard(monthly_pl)">
        <p class="portfolio-title betoken-font m-0">Est. Commission</p>
        <p class="portfolio-value black-font m-0">{{expected_commission}} DAI</p>
      </div>
    </div>

    <div class="col-4">
      <div class="button-wrapper" *ngIf="phase == 1">
        <button class="text-center outline-button active mr-4" (click)="proposalPopup()">TRADE ASSSETS</button>
      </div>
      <div class="button-wrapper" *ngIf="phase == 2">
        <button class="text-center outline-button active" routerLink="/redeem" (click)="redeemPopup()">REDEEM COMMISSION</button>
      </div>
      <div class="portfolio-desc" *ngIf="user_address !== '0x0'">
        <p class="portfolio-title betoken-font m-0"><img class="connected-wallet-logo" src="/assets/images/metamask.png" width="24">{{curr_network}}</p>
        <p class="black-font m-0" style="text-overflow: ellipsis; overflow: hidden;">{{user_address}}</p>
      </div>
    </div>
  </div>
</header>
