<!-- HEADER -->
<div class="header bg-dark pb-5">
  <div class="container-fluid px-md-5">

    <!-- Body -->
    <div class="header-body">
      <!-- Title -->
      <h1 class="header-title text-white" i18n="@@dashboardHeaderTitle">
        Your Stats
      </h1>
    </div>

    <!-- Body -->
    <div class="header-body">
      <div class="card-deck mb-4">
        <!-- Card -->
        <div class="card" data-toggle="tooltip" data-html="true" i18n-title="@@portfolioValueAttrTitle" title="Amount of Betoken's AUM you manage. The more Kairo tokens you own, the more money you will manage.">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@portfolioValueTitle">
                  Your Portfolio Value
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  {{portfolioValueInDAI.toFormat(4)}} DAI
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-pie-chart text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
        <!-- Card -->
        <div class="card" data-toggle="tooltip" data-html="true"  i18n-title="@@kroBalanceAttrTitle" title="The more Kairo tokens you own, the more money you will manage, the more commission you will receive. You will be able to earn Kairo tokens by making profitable investments for the Betoken fund.">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@kroBalanceTitle">
                  Your Kairo Balance
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  {{userValue.toFormat(4)}} KRO
                </span>

                <!-- Badge -->
                <span class="badge" [ngClass]="{'badge-soft-success': userROI.gte(0), 'badge-soft-danger': userROI.lt(0)}">
                  {{userROI.toFormat(4)}}%
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-zap text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
        <!-- Card -->
        <div class="card" data-toggle="tooltip" data-html="true"  i18n-title="@@estimateCommissionAttrTitle" title="<strong>20%</strong> of the fund's profit and <strong>0.1%</strong> of the AUM is set aside as commissions every month, which is paid to managers proportional to the Kairo tokens they hold. The estimate displayed here is calculated using the current fund ROI.">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@estimateCommissionTitle">
                  Your Estimated Commission This Month
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  {{expectedCommission.toFormat(4)}} DAI
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-award text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
        <!-- Card -->
        <div class="card">
          <div data-toggle="tooltip"  i18n-title="@@dashboardYourRankingAttrTitle" title="Your ranking among Betoken's managers based on your Kairo tokens balance">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">

                  <!-- Title -->
                  <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@dashboardYourRankingTitle">
                    Your Ranking
                  </h6>

                  <!-- Heading -->
                  <span class="h2 mb-0">
                    {{userRanking}}
                  </span>

                </div>
                <div class="col-auto">

                  <!-- Icon -->
                  <span class="h2 fe fe-user text-muted mb-0"></span>

                </div>
              </div> <!-- / .row -->

            </div>
          </div>
        </div>
      </div> <!-- / .card-deck -->
      <div class="row align-items-end">
        <div class="col">
          <!-- Title -->
          <h1 class="header-title text-white" i18n="@@dashboardBetokenStatsTitle">
            Betoken Stats
          </h1>
        </div>
        <div class="col-auto">

          <!-- Nav -->
          <ul class="nav nav-tabs header-tabs">

            <li class="nav-item" data-toggle="chart">
              <a href="#" class="nav-link active" data-toggle="tab" (click)="switchChartTab(0)">
                <h6 class="header-pretitle text-secondary" i18n="@@btksPriceTitle">
                  Betoken Shares Price
                </h6>
                <h3 class="text-white mb-0">
                  {{sharesPrice.toFormat(4)}} DAI
                </h3>
              </a>
            </li>
            <li class="nav-item" data-toggle="chart">
              <a href="#" class="nav-link" data-toggle="tab" (click)="switchChartTab(1)">
                <h6 class="header-pretitle text-secondary" i18n="@@aumTitle">
                  AUM
                </h6>
                <h3 class="text-white mb-0">
                  {{AUM.toFormat(4)}} DAI
                </h3>
              </a>
            </li>
          </ul>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

    <!-- Footer -->
    <div class="header-footer">

      <!-- Chart -->
      <div class="chart">
        <canvas id="roi-chart" class="chart-canvas">
        </canvas>
      </div>

    </div>

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid mt-n6 pb-6 px-md-5">
  <div class="card-deck mb-0 mb-md-4">
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@dashboardRoiTitle">
              ROI (Current Cycle)
            </h6>

            <!-- Heading -->
            <span class="badge badge-xl"
              [ngClass]="{'badge-soft-success': currMoROI.gte(0), 'badge-soft-danger': currMoROI.lt(0)}">
              {{currMoROI.toFormat(4)}}%
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-activity text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@dashboardRoiSinceInceptionTitle">
              ROI (Since Inception)
            </h6>

            <!-- Heading -->
            <span class="badge badge-xl"
              [ngClass]="{'badge-soft-success': avgMonthReturn.gte(0), 'badge-soft-danger': avgMonthReturn.lt(0)}">
              {{avgMonthReturn.toFormat(4)}}%
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-activity text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" i18n-title="@@standardDeviationAttrTitle" title="Standard deviation represents the volatility of an asset. The number shown here is the sample standard deviation of Betoken Shares' price since inception.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@standardDeviation">
              Standard Deviation
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              {{standardDeviation}}%
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-bar-chart-2 text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
    <!-- Card -->
    <div class="card" data-toggle="tooltip" data-html="true" i18n-title="@@dashboardTotalFundManagersAttrTitle" title="Number of fund managers actively managing Betoken's assets.">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">

            <!-- Title -->
            <h6 class="card-title text-uppercase text-muted mb-2" i18n="@@dashboardTotalFundManagersTitle">
              Total fund managers
            </h6>

            <!-- Heading -->
            <span class="h2 mb-0">
              {{totalUser}}
            </span>

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <span class="h2 fe fe-users text-muted mb-0"></span>

          </div>
        </div> <!-- / .row -->

      </div>
    </div>
  </div> <!-- / .row -->
  <a href="https://github.com/solidified-platform/audits/blob/master/Audit%20Report%20-%20%20Betoken%20%5B20.05.2019%5D.pdf" target="_blank">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto mb-2 mb-lg-0">
        <div class="avatar avatar-sm">
          <img class="avatar-img rounded-circle bg-secondary" src="assets/img/solidified-logo.png" alt="Solidified logo">
        </div>
      </div>
      <div class="col-auto">
        <p class="small text-secondary mb-0 text-center" i18n="@@solidifiedAudit">Betoken Smart Contracts are audited and secured by Solidified</p>
      </div>
      <div class="col-auto">
        <i class="fe fe-arrow-right text-secondary"></i>
      </div>
    </div>
  </a>
</div>
