<div class="account-wrapper col-12 col-lg-10 float-right">
    <div class="row">
        <div class="alert-window" *ngIf="errorMsg !== '' ">
            <div class="alert bg-primary d-flex justify-content-between align-items-center col-12">
                <p class="m-0">{{errorMsg}}</p>
            </div>
        </div>
        <div class="account-table-sec col-8">
            <div class="sec-header d-flex justify-content-between align-items-center">
                <p class="sec-title">Commissions history</p>
                <button class="text-center outline-button" (click) = "refresh()">
                    <span *ngIf="isLoading() == false">REFRESH</span>
                    <span *ngIf="isLoading()">Loading...</span>
                </button>
            </div>
            <div class="cards table-responsive">
                <table class="table proposal-table">
                    <thead class="betoken-font">
                        <tr>
                            <th scope="col" class="pl-0">Time</th>
                            <th scope="col">Redeemed in</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Details tx</th>
                        </tr>
                    </thead>
                    <tbody class="black-font">
                        <tr *ngFor="let details of transactionTable">
                            <td class="pl-0">{{details.timestamp}}</td>
                            <td>{{details.token}}</td>
                            <td>{{details.amount}}</td>
                            <td><img src="assets/images/ic_launch_black_24px.svg" class="pointer" (click) = "linkopen(details.txHash)"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="transaction-details-div">
                    <p>Betoken contract address</p>
                    <div class="outline-box d-flex justify-content-between align-items-center">
                        <p class="m-0">0x5910d5abd4d5fd58b39957664cd9735cbfe42bf0</p>
                    </div>
                    <p class="pt-4">Kairo (KRO) contract address</p>
                    <div class="outline-box d-flex justify-content-between align-items-center">
                        <p class="m-0">0xDeB05FE4905EE7662b1230e7c1f29F386E598E66</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="email-update-sec col-4 col-md-3 col-lg-4 mb-3">
            <!-- how to use betoken start -->
            <div class="sec-header">
                <p class="sec-title">How to join Betoken Beta?</p>
            </div>
            <div class="alert-window">
                <div class="alert bg-primary py-3 cards rounded" role="alert">
                  <a class="alert-link" href="https://betoken.fund/iao/" target="_blank">Create a manager account</a> by participating in our Initial Account Offering (IAO). You will receive Kairo --- Betoken's utility token necessary for managing the fund. Testnet Kairo will be credited at the end of each investment cycle (check the timer in the sidebar).
                </div>
            </div>
            <!-- how to use betoken END -->
            <div class="sec-header">
                <p class="sec-title">Receive updates</p>
            </div>
            <div class="cards">
                <p class="update-info black-font">
                    Get updates about the fund status, beginning of new investment cycle phases and date to redeem commissions.
                </p>
                <p>Email address</p>
                <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="emailer-box">
                        <input class="outline-button w-100 mb-3" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
                        <div class="input-group-append">
                            <button class="text-center outline-button black-font w-100 mb-3" name="subscribe" id="mc-embedded-subscribe">
                                GET UPDATED
                            </button>
                        </div>
                    </div>
                </form>
                <div class="update-footer">
                    <a target="_blank" href="https://t.me/betokenfund">
                        <p class="black-font" style="text-align: center;">
                            Join our Telegram community
                            <img src="assets/images/iconmonstr-telegram-4.svg" width="24" class="ml-1">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
