.account-wrapper{
    position: relative;
    display: block;
    top: 64px;
    .account-table-sec{
        .sec-header{
          padding: 7px 0 8px;
        }
        .table-responsive{
            .proposal-table{
                text-align: left !important;
                white-space: nowrap !important;
                thead{
                    font-size: 14px;
                    th{
                        border: none !important;
                        font-weight: normal;
                    }
                }
                tbody{
                    td{
                        border-top: none !important;
                        height: 48px;
                    }
                    tr{
                      padding: 14px 0;
                    }
                    .identy{
                        .name{
                            .abrivation{
                                color: #000000 !important;
                                line-height: 1 !important;
                            }
                            .expansion{
                                font-size: 14px !important ;
                                color: #8FA9B0 !important;
                            }
                        }
                    }
                    .profit{
                        .value{
                            margin-left: 8px;
                            font-size: 14px !important ;
                        }
                    }

                }
            }
        }
        .transaction-details-div{
            padding-top: 24px;
            border-top: 1px solid #D1DCDF;
        }

    }
}
