<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container px-lg-7">
    <div class="row justify-content-center align-items-center my-5">
      <div class="col">
        <img class="image-fluid" src="assets/img/illustrations/betoken-particuls.svg" alt="Betoken particuls"
          style="max-width: 88px;">
      </div>
      <div class="col-auto">
        <!-- notification -->
        <div class="navbar-toggler d-flex align-items-center">
          <!-- Toggle -->
          <a class="d-inline block mr-4 mr-md-0" data-toggle="modal" href="#modalLanguage">
            <span class="icon">
              <img src="assets/img/icons/baseline-translate-24px.svg" alt="">
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-6">
      <div class="col-11 col-lg-6 pr-lg-4 order-2 order-lg-1">
        <h5 class="header-pretitle d-none d-lg-block" i18n="@@investorOnboardingHeaderPreTitle">
          Welcome To
        </h5>
        <h1 class="display-2 font-weight-bold d-none d-lg-block" i18n="@@investorOnboardingHeaderTitle">Betoken Fund
        </h1>
        <p class="lead font-weight-bold mb-5 d-none d-lg-block" i18n="@@investorOnboardingHeaderSubtitle">If you think 2
          brains are better than one...How about
          hundreds of talented asset managers working for you? Worldwide!</p>
        <div class="media mb-4 mb-lg-3">
          <i class="fe fe-check text-green mr-3"></i>
          <div class="media-body">
            <h6 class="header-pretitle" i18n="@@investorOnboardingIntroSubtitle1">
              Crowd-powered finance
            </h6>
            <p>
              <ng-container i18n="@@investorOnboardingIntroText1a">Your capital is automatically distributed among
              </ng-container>&nbsp;<a routerLink="/rankings" target="_blank">
                <ng-container i18n="@@investorOnboardingIntroText1b">Betoken’s community of managers</ng-container>
              </a>.&nbsp;<ng-container i18n="@@investorOnboardingIntroText1c">The best of them will have the most
                influence over
                how that capital is put to work.</ng-container>
            </p>
          </div>
        </div>
        <div class="media">
          <i class="fe fe-check text-green mr-3"></i>
          <div class="media-body">
            <h6 class="header-pretitle" i18n="@@investorOnboardingIntroSubtitle2">
              70+ assets
            </h6>
            <p i18n="@@investorOnboardingIntroText2">
              By depositing your capital on Betoken protocol, you gain exposure to ETH, WBTC, BAT, MKR and 70+ ERC20
              tokens.
            </p>
          </div>
        </div>
        <div class="media">
          <i class="fe fe-check text-green mr-3"></i>
          <div class="media-body">
            <h6 class="header-pretitle" i18n="@@investorOnboardingIntroSubtitle3">
              No limits, no hidden fees
            </h6>
            <p>
              <ng-container i18n="@@investorOnboardingIntroText3a">Betoken allows anyone to buy or sell any amount of
                Betoken Shares, and Betoken's fee structure is
                completely transparent.</ng-container>&nbsp;<a
                href="https://betoken.gitbook.io/docs/deposit-withdraw/what-is-the-fees-structure" target="_blank">
                <ng-container i18n="@@investorOnboardingIntroText3b">More about fees, lockup, and liquidity
                </ng-container><i class="fe fe-arrow-right ml-2"></i>
              </a>
            </p>
          </div>
        </div>
        <div class="media">
          <i class="fe fe-check text-green mr-3"></i>
          <div class="media-body">
            <h6 class="header-pretitle" i18n="@@investorOnboardingIntroSubtitle4">
              Non-custodial
            </h6>
            <p i18n="@@investorOnboardingIntroText4">
              You always stay in control, it’s written on the blockchain. All user funds are locked in smart contracts,
              no one but you has direct access to those funds.
            </p>
          </div>
        </div>
      </div>
      <div class="col-11 col-lg-6 pl-lg-4 order-1 order-lg-2">
        <h5 class="header-pretitle d-block d-lg-none" i18n="@@investorOnboardingHeaderPreTitle">
          Welcome To
        </h5>
        <h1 class="display-4 font-weight-bold d-block d-lg-none" i18n="@@investorOnboardingHeaderTitle">Betoken Fund
        </h1>
        <p class="lead font-weight-bold mb-4 d-block d-lg-none" i18n="@@investorOnboardingHeaderSubtitle">If you think 2
          brains are better than one...How about
          hundreds of talented asset managers working for you? Worldwide! Get started by depositing your capital!</p>
        <div class="card mb-6">
          <div class="card-header d-flex text-center text-md-left">
            <!-- cta -->
            <span class="text-truncate d-block" *ngIf="user_address !== ZERO_ADDR"><span class="text-success">●</span>
              {{user_address}}</span>
            <span class="text-truncate" *ngIf="user_address == ZERO_ADDR"><span class="text-danger">●</span>&nbsp;
              <ng-container i18n="@@investorOnboardingConnectStatus">No Wallet Connected</ng-container></span>
          </div>
          <div class="card-body text-center text-md-left">
            <!--If has web3-->
            <button class="btn btn-block btn-lg btn-success" type="button" data-toggle="modal"
              data-target="#modalInvestorBuy" *ngIf="user_address != ZERO_ADDR" i18n="@@ctaGetStarted">Get
              Started</button>
            <!--If no web3, button connects wallet-->
            <button class="btn btn-block btn-lg btn-success" type="button" *ngIf="user_address == ZERO_ADDR"
              i18n="@@ctaGetStarted" (click)="reloadAll()">Get Started</button>
          </div>
          <a href="https://github.com/solidified-platform/audits/blob/master/Audit%20Report%20-%20%20Betoken%20%5B20.05.2019%5D.pdf"
            target="_blank">
            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="avatar avatar-sm">
                    <img class="avatar-img rounded-circle bg-secondary" src="assets/img/solidified-logo.png"
                      alt="Solidified logo">
                  </div>
                </div>
                <div class="col">
                  <p class="small text-secondary mb-0" i18n="@@solidifiedAudit">Betoken Smart Contracts are audited and
                    secured by Solidified</p>
                </div>
                <div class="col-auto">
                  <i class="fe fe-arrow-right text-secondary"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card card-inactive mb-6">
          <div class="card-body">
            <h3 id="disclaimer" i18n="@@disclaimerTitle">Disclaimer</h3>
            <p class="text-muted" i18n="@@disclaimertext1">
              Nothing herein constitutes an offer to sell, or the solicitation of an offer to buy, any securities or
              tokens.
            </p>
            <p class="text-muted" i18n="@@disclaimertext2">
              Betoken enables capital deposit, withdrawal, and managing using smart contracts which are open source.
              Betoken does
              not take custody of tokens and is only a collaborative hub for investors and managers. Betoken is not a
              licensed bank, broker-dealer, investment advisor or an exchange. Betoken uses partner protocols (Kyber,
              Compound, bZx, Maker DAO) to power its own ecosystem.
            </p>
            <p class="text-danger" i18n="@@disclaimertext3">
              💀 This project is in beta. Use at your own risk.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-11 col-lg-6">
        <h1 class="text-center" i18n="@@faqTitle">Frequently asked questions</h1>
        <div id="accordion">
          <!-- question -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text" i18n="@@investorOnboardingFaqQ1">
                      Can I buy and sell Betoken Shares at any time?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ng-container i18n="@@investorOnboardingFaqA1a">Yes. Betoken's protocol is 100% liquid. You can buy and
                  sell Betoken shares at any time in 2 ways:</ng-container>
                <ol>
                  <li>
                    <ng-container i18n="@@investorOnboardingFaqA1b">During Betoken's 3 days
                      intermission phase that happens every 27 days, you can buy and sell Betoken shares directly on the
                      investor dashboard.</ng-container>
                  </li>
                  <li>
                    <ng-container i18n="@@investorOnboardingFaqA1c">During Betoken's management phase (27 days), Betoken
                      shares token is freely tradable on decentralized exchanges (Fork Delta, Uniswap).
                      Depending of the market conditions, the price may be different from what's displayed on the
                      investor
                      dashboard.</ng-container>
                  </li>
                </ol>
              </div>
            </div>
            <div class="card-header border-bottom" id="headingTwo">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text" i18n="@@investorOnboardingFaqQ2">
                      How can I buy Betoken Shares?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body" i18n="@@investorOnboardingFaqA2">
                <p>Click on the Get Started button and follow the instructions. You'll be able to use Ether or any of
                  our 70+ supported ERC-20 tokens to buy Betoken Shares.</p>
              </div>
            </div>
            <div class="card-header border-bottom" id="headingThree">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text" i18n="@@investorOnboardingFaqQ3">
                      What is the fees structure?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h3 i18n="@@investorOnboardingFaqA3Title1">Management fees</h3>
                <p i18n="@@investorOnboardingFaqA3Text1">After the management phase is over (every 27 days):</p>
                <h4 i18n="@@investorOnboardingFaqA3Title2">IF the fund is profitable OR not profitable</h4>
                <ul i18n="@@investorOnboardingFaqA3Text2">
                  <li>0.1% of the total Betoken funds is set aside and distributed among fund manager holding Kairo
                    tokens.
                  </li>
                  <li>In order to provide funding for its maintenance and future development, Betoken protocol will mint
                    Betoken Shares and send them to the current development team. The amount will be equal to 0.1% of
                    the current Betoken Shares total supply, and it will occur at the end of every investment cycle.
                  </li>
                </ul>
                <h4 i18n="@@investorOnboardingFaqA3Title3">ONLY IF the fund is profitable</h4>
                <p i18n="@@investorOnboardingFaqA3text3">20% of the total Betoken's monthly profits is set aside as
                  commission and distributed among fund
                  managers holding Kairo tokens proportional to the amount they hold and their risk profile. The
                  commission is
                  taken into account IF and ONLY IF the fund is profitable during the actual investment cycle.</p>
                <h3 i18n="@@investorOnboardingFaqA3Title4">Redemptions fee</h3>
                <p i18n="@@investorOnboardingFaqA3Text4">Redemptions incur no withdrawal fee.</p>
              </div>
            </div>
            <div class="card-header border-bottom-0" id="headingFour">
              <a href="" class="text-secondary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour">
                <div class="row align-items-center no-gutters">
                  <div class="col mr-auto">
                    <h3 class="card-text" i18n="@@investorOnboardingFaqQ4">
                      How can I follow the activity of the fund?
                    </h3>
                  </div>
                  <div class="col-auto">
                    <i class="fe fe-plus"></i>
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body" i18n="@@investorOnboardingFaqA4">
                You have access to a dashboard where you
                can view your capital account.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-11 col-lg-6">
        <div class="card bg-green">
          <div class="card-body text-center">
            <h3 class="text-white" i18n="@@faqGetHelptitle">Can’t find what you’re looking for?</h3>
            <a class="btn btn-white mr-3" href="https://t.me/betokenfund">Telegram</a>
            <a class="btn btn-white mr-3" href="https://betoken.gitbook.io/docs/" i18n="@@faqCtaHelpCenter">Help
              Center</a>
          </div>
        </div>
        <ul class="nav justify-content-center my-4">
          <li class="nav-item">
            <a href="https://betoken.fund" class="nav-link text-center text-secondary" i18n="@@footerNavHome">Home</a>
          </li>
          <li class="nav-item">
            <a href="https://medium.com/betoken" class="nav-link text-center text-secondary"
              i18n="@@footerNavBlog">Blog</a>
          </li>
        </ul>
        <p class="text-center text-secondary">
          <ng-container i18n="@@contactUs">Contact us at</ng-container>&nbsp;<a class="text-secondary"
            href="mailto:hello@betoken.fund?subject=Hey">hello@betoken.fund</a>
        </p>
      </div>
    </div>

    <!-- Buy BTKS modal -->
    <div class="modal fade fixed-right" id="modalInvestorBuy" tabindex="-1" role="dialog"
      aria-labelledby="modalInvestorBuy" aria-hidden="true">
      <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
        <div class="modal-content">
          <div class="modal-header border-0">
            <div *ngIf="phase == 0">
              <!-- Confirm rules title -->
              <h4 class="modal-title" *ngIf="buyStep == 0" i18n="@@modalTitleConfirmRules">
                Please confirm before continuing
              </h4>
              <!-- BTKS amount title -->
              <h4 class="modal-title" *ngIf="buyStep == 1" i18n="@@modalTitleBtksAmount">
                How many Betoken shares do you want to buy?
              </h4>
              <!-- BTKS Confirm buy title -->
              <h4 class="modal-title" *ngIf="buyStep == 2" i18n="@@modalTitleConfirmTx">
                Confirm transaction
              </h4>
              <!-- BTKS Processing buy title -->
              <h4 class="modal-title" *ngIf="buyStep == 3" i18n="@@modalTitleProcessingTx">
                Processing transaction
              </h4>
              <!-- BTKS confirmed buy title -->
              <h4 class="modal-title" *ngIf="buyStep == 4" i18n="@@modalTitleTxConfirmed">
                Transaction confirmed
              </h4>
            </div>
            <!-- Wait until next intermission title -->
            <h4 class="modal-title" *ngIf="phase == 1" i18n="@@modalTitleOpNotPermitted">
              Operation not permitted
            </h4>
            <!-- Error -->
            <h4 class="modal-title" *ngIf="buyStep == -1" i18n="@@modalTitleError">
              That's an error
            </h4>
            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" i18n-aria-label="@@modalAriaLabelClose"
              aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!-- Manage phase, buying not allowed -->
          <div class="modal-body" *ngIf="phase == 1">
            <img class="mb-4 image-fluid w-75 mx-auto d-block" src="assets/img/illustrations/undraw_queue_qt30.svg"
              alt="">
            <!-- Time left until operation allowed -->
            <h6 class="header-pretitle text-secondary mb-2 text-center" i18n="@@modalSubtitleTimeLeft">
              Time left until operation allowed
            </h6>
            <h4 class="header-title mb-4 text-center">
              {{days}}<ng-container i18n="@@timeLeftInDays">d</ng-container>&nbsp;{{hours}}<ng-container
                i18n="@@timeLeftInHours">h</ng-container>&nbsp;{{minutes}}<ng-container i18n="@@timeLeftInMinutes">m
              </ng-container>&nbsp;{{seconds}}<ng-container i18n="@@timeLeftInSeconds">s</ng-container>&nbsp;<a
                class="text-muted ml-2" href="https://betoken.gitbook.io/docs/betoken-investment-cycle"
                i18n-title="@@modalTimeLeftUnitsTitleAttribute" title="Learn more" target="_blank"><span
                  class="fe fe-help-circle"></span></a>
            </h4>
            <form
              action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
              class="validate mb-4 text-center" target="_blank" novalidate>
              <label class="text-secondary" for="mce-EMAIL" i18n="@@modalBeNotifiedByEmail">Be notified by email
                👇</label>
              <div class="input-group input-group-lg">
                <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL"
                  i18n-placeholder="@@modalEmailPlaceholder" placeholder="myemail@address.com" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
                <div class="input-group-append bg-black">
                  <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                    <span class="fe fe-send"></span>
                  </button>
                </div>
              </div>
            </form>
            <div class="row text-center mb-4">
              <div class="col">
                <p class="text-secondary mb-2 text-center" i18n="@@modalFollowUs">Or follow us</p>
                <a href="https://t.me/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
                  <img class="mx-auto" src="assets/img/icons/telegram.svg" alt="telegram logo" height="20">
                </a>
                <a href="https://twitter.com/betokenfund" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
                  <img class="mx-auto" src="assets/img/icons/twitter.svg" alt="twitter logo" height="20">
                </a>
                <a href="https://medium.com/betoken" class="btn btn-rounded-circle btn-white mr-3" target="_blank">
                  <img class="mx-auto" src="assets/img/icons/medium.svg" alt="medium logo" height="20">
                </a>
                <a href="https://github.com/Betoken" class="btn btn-rounded-circle btn-white" target="_blank">
                  <img class="mx-auto" src="assets/img/icons/github.svg" alt="medium logo" height="20">
                </a>
              </div>
            </div>
            <!-- Close button for buyStep 5 and buying not allowed page -->
            <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal"
              i18n-aria-label="@@modalAriaLabelClose" aria-label="Close" i18n="@@modalCtaClose">
              Close
            </button>
          </div>

          <!-- Intermission, buying allowed -->
          <div *ngIf="phase == 0">
            <div class="card-header py-0 border-0" style="min-height: 24px;">
              <div class="progress" style="height: 8px;">
                <div [ngClass]="{'bg-success': buyStep >= 0, 'bg-secondary': buyStep !== 0}" class="progress-bar"
                  role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                <div [ngClass]="{'bg-success': buyStep >= 1, 'bg-secondary': buyStep !== 1}"
                  class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100"></div>
                <div [ngClass]="{'bg-success': buyStep >= 2, 'bg-secondary': buyStep !== 2}"
                  class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100"></div>
                <div [ngClass]="{'bg-success': buyStep >= 3, 'bg-secondary': buyStep !== 3}"
                  class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100"></div>
                <div [ngClass]="{'bg-success': buyStep >= 4, 'bg-secondary': buyStep !== 4}"
                  class="progress-bar border-left" role="progressbar" style="width: 20%" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="modal-body">
              <!-- before starting confirm rules -->
              <div *ngIf="buyStep == 0">
                <div class="custom-control custom-checkbox mb-4">
                  <input type="checkbox" class="custom-control-input" id="rule1"
                    (change)="checkboxes[0] = !checkboxes[0]">
                  <label class="custom-control-label small text-secondary" for="rule1" i18n="@@modalRule1">You are
                    NEITHER a citizen or
                    resident of, NOR currently located in any of the following states or territories, NOR an entity
                    formed under the laws of: Afghanistan, Cuba, Democratic People's Republic of Korea, Iran, Iraq,
                    People’s Republic of China, Russian Federation, Somalia, Sudan, Syria, United Arab Emirates, United
                    States of America, Venezuela, Yemen.</label>
                </div>
                <div class="custom-control custom-checkbox mb-4">
                  <input type="checkbox" class="custom-control-input" id="rule2"
                    (change)="checkboxes[1] = !checkboxes[1]">
                  <label class="custom-control-label small text-secondary" for="rule2">
                    <ng-container i18n="@@modalRule2">You have read and understood our</ng-container>&nbsp;<a
                      routerLink="/disclaimer" data-dismiss="modal" i18n-aria-label="@@modalAriaLabelClose"
                      aria-label="Close" i18n="@@modalDisclaimerCta">disclaimer</a>.
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-4">
                  <input type="checkbox" class="custom-control-input" id="rule3"
                    (change)="checkboxes[2] = !checkboxes[2]">
                  <label class="custom-control-label small text-danger" for="rule3" i18n="@@modalRule3">💀 You
                    understand that Betoken
                    Protocol is in beta. Use at your own risk.</label>
                </div>
              </div>

              <!-- Step 1: enter amount -->

              <!-- Quantity of share to buy -->
              <div *ngIf="buyStep == 1">
                <h6 class="header-pretitle" i18n="@@price">
                  Price (DAI)
                </h6>
                <h4 class="mb-5">
                  {{sharesPrice.toFormat(4)}}
                </h4>
                <h6 class="header-pretitle text-secondary" i18n="@@investorOnboardingBuyBtksModalIWantToBuyWith">I want
                  to buy Betoken shares with</h6>
                <div class="row justify-content-center mb-4">
                  <div class="col">
                    <form>
                      <div class="form-group row mb-2">
                        <div class="col">
                          <div class="input-group">
                            <input aria-describedby="Betoken Shares Amount to buy"
                              class="form-control form-control-lg pr-0" type="number" placeholder="0.0"
                              id="sharesAmountToBuy"
                              (input)="refreshBuyOrderDetails($event.target.value); continueEnabled = true;">
                            <div class="input-group-append">
                              <button class="btn btn-white" name="button" type="button" (click)="maxBuyAmount()"
                                i18n="@@modalCtaMax">Max</button>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <select class="form-control form-control-lg" id="buyTokenSelect"
                            (change)="selectBuyToken($event.target.value)">
                            <option *ngFor="let token of tokenData">{{token.symbol}}</option>
                          </select>
                        </div>
                      </div>
                      <small class="form-text text-secondary d-inline-block mb-0">{{selectedTokenBalance.toFormat(4)}}
                        {{selectedTokenSymbol}}&nbsp;<ng-container i18n="@@modalBalanceAvailable">available
                        </ng-container></small>
                    </form>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table mb-4">
                    <thead>
                      <tr>
                        <th class="px-0 bg-transparent border-top-0">
                          <span class="h6" i18n="@@modalTitleOrderDetail">Order Details</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="px-0 small align-baseline text-muted" i18n="@@modalBtksToReceive">
                          Betoken shares to receive
                        </td>
                        <td class="px-0 text-right small align-baseline">
                          {{buySharesAmount.toFormat(4)}} BTKS
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 small align-baseline text-muted" i18n="@@modalTotalCost">
                          Total cost
                        </td>
                        <td class="px-0 text-right h3 align-baseline">
                          {{buyTokenAmount.toFormat(6)}} {{selectedTokenSymbol}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


              <!-- Step 2: confirm transaction -->
              <!-- loader -->
              <img class="image-fluid d-block mx-auto mb-4" src="assets/img/animated-logo.svg" alt="Betoken logo"
                style="width: 88px;" *ngIf="buyStep == 2 || buyStep === 3">
              <p class="text-center text-muted mb-5" *ngIf="buyStep == 2" i18n="@@modalBodyTextStep1">
                Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to
                stick with these defaults gas limit and price.
              </p>

              <!-- Step 3: transaction broadcasted -->
              <!-- Processing transaction body -->
              <div *ngIf="buyStep == 3">
                <p class="text-center text-muted mb-5" i18n="@@modalBodyTextTxBroadcasted">
                  Your transaction is being saved on the Ethereum blockchain.
                </p>
                <hr>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1" i18n="@@modalBodyTxHash">Transaction hash</label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control form-control-lg" value="{{transactionId}}"
                        i18n-aria-label="@@investorOnboardingBuyBtksModalTxHashStep3AriaLabel"
                        aria-label="Transaction hash">
                      <div class="input-group-append">
                        <a class="btn btn-white h-100 d-flex align-items-center"
                          href="https://etherscan.io/tx/{{transactionId}}" target="_blank"><i
                            class="fe fe-external-link"></i></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <!-- Step 4: transaction confirmed -->
              <!-- Investment confirmed body -->
              <div *ngIf="buyStep == 4">
                <p class="h1 text-center">
                  <i class="fe fe-check-circle text-success"></i>
                </p>
                <p class="text-center text-muted mb-5">
                  <ng-container i18n="@@investorOnboardingBuyBtksModalTextStep4a">You bought</ng-container>&nbsp;<span
                    class="font-weight-bold text-secondary"> {{buySharesAmount.toFormat(4)}}</span>&nbsp;BTKS&nbsp;
                  <ng-container i18n="@@investorOnboardingBuyBtksModalTextStep4b">using</ng-container>&nbsp;<span
                    class="font-weight-bold text-secondary"> {{buyTokenAmount.toFormat(4)}}</span>&nbsp;{{selectedTokenSymbol}}.
                </p>
                <a target="_blank" i18n-href="@@investorOnboardingBuyBtksModalTweet"
                  href="https://twitter.com/intent/tweet?hashtags=Betoken%2C%20DeFi&related=betokenfund&text=I%27ve%20just%20connected%20my%20capital%20to%20Betoken%2C%20world%27s%20first%20crowd-powered%20cryptoassets%20management%20protocol!&url=https%3A%2F%2Fbetoken.fund&via=betokenfund">
                  <button class="btn btn-twitter btn-block" type="button" name="button"
                    i18n="@@investorOnboardingBuyBtksModalCtaTweet">Tweet about it</button>
                </a>
                <hr>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1" i18n="@@modalBodyTxHash">Transaction hash</label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control form-control-lg" value="{{transactionId}}"
                        i18n-aria-label="@@investorOnboardingBuyBtksModalTxHashStep4AriaLabel"
                        aria-label="Transaction hash">
                      <div class="input-group-append">
                        <a class="btn btn-white h-100 d-flex align-items-center"
                          href="https://etherscan.io/tx/{{transactionId}}" target="_blank"><i
                            class="fe fe-external-link"></i></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <!-- error -->
              <div *ngIf="buyStep == -1">
                <p class="h1 text-center">
                  <i class="fe fe-alert-circle text-danger"></i>
                </p>
                <p class="text-center text-muted mb-5" i18n="@@modalErrorText">
                  The operation has resulted in an error. Please try again.
                </p>
                <p class="text-center text-muted mb-5">
                  <ng-container i18n="@@modalErrorMsg">Error message:</ng-container>&nbsp;{{errorMsg}}
                </p>
              </div>

              <!-- Continue button for buyStep 1 -->
              <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="BuyBTKS" *ngIf="buyStep == 0"
                (click)="buyStep = agreementsChecked() ? 1 : 0" [ngClass]="{'disabled': !agreementsChecked()}"
                i18n="@@investorOnboardingBuyBtksModalCtaBuy">
                Buy Betoken shares
              </button>
              <!-- Continue button for buyStep 2 -->
              <button type="submit" class="btn btn-block btn-success mt-auto" aria-label="Continue to Buy"
                *ngIf="buyStep == 1" (click)="deposit();" [disabled]="!continueEnabled" i18n="@@modalCtaContinue">
                Continue
              </button>
              <!-- Try again button for error -->
              <button type="submit" class="btn btn-block btn-white mt-auto" i18n="@@modalTryAgainAriaLabel"
                aria-label="Try again" *ngIf="buyStep == -1" (click)="resetModals()" i18n="@@modalTryAgain">
                Try again
              </button>
              <!-- Close button for buyStep 4 -->
              <a class="btn btn-block btn-success mt-auto" routerLink="/invest" target="_blank" *ngIf="buyStep == 4"
                i18n="@@investorOnboardingBuyBtksModalCtaGoToDashboard">Investor Dashboard</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- / modal -->
  </div>
</div> <!-- / .main-content -->

<!-- Languages modal -->
<div class="modal fade fixed-right" id="modalLanguage" tabindex="-1" role="dialog"
  i18n-aria-describedby="@@headerLanguageModalAriaDescribedby" aria-describedby="Switch to another language"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title" i18n="@@headerLanguageModalTitle">
          Switch to another language
        </h4>
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" i18n-aria-label="@@modalAriaLabelClose"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/#/start">
              English
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/zh-Hans/#/start">
              简体中文
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/ja/#/start">
              日本語
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="https://betoken.fund/portal/pt/#/start">
              Português
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>