<!-- Redeem modal -->
<div class="modal fade fixed-right" id="modalRedeem" tabindex="-1" role="dialog" aria-labelledby="modalRedeem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <!-- Select Asset title -->
            <h4 class="card-header-title">
              Redeem your commissions
            </h4>

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>

          </div>
        </div> <!-- / .row -->
      </div>
      <div class="modal-body">
        <!-- commissions amount -->
        <div class="row" *ngIf="step === 0">
          <div class="col">
            <h6 class="header-pretitle text-secondary">
              This month's commission
            </h6>
            <h3 class="display-3 text-dark mb-0">
              {{commissionAmount}} DAI
            </h3>
          </div>
        </div>
        <!-- Do you know section step 1 -->
        <div class="card bg-light border mt-4 mb-0" *ngIf="step === 0">
          <div class="card-body">

            <h4 class="mb-2">
              Do you know?
            </h4>

            <p class="small text-muted mb-0">
              You can redeem your commissions in Betoken fund shares (BTKS) - meaning you swap your commissions for an equivalent number of shares in the fund. By doing so, you will make the fund Assets Under Management (AUM) grow quicker. A bigger AUM means more money to manage in the next cycle, and more commissions for you.
            </p>

          </div>
        </div>

        <!-- Confirm redeem body -->
        <p class="text-center text-muted mb-5" *ngIf="step === 1">
          Confirm the transaction in your wallet’s interface to save it on the Ethereum blockchain. It's fine to stick with these defaults gas limit and price.
        </p>
        <!-- Processing redeem body -->
        <div class="py-5 is-loading is-loading-lg" *ngIf="step === 2"></div>
        <p class="text-center text-muted mb-5" *ngIf="step === 2">
          Your commissions is being saved on the Ethereum blockchain.
        </p>
        <hr *ngIf="step3">
        <form *ngIf="step3">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>
        <!-- Redeem confirmed body -->
        <p class="h1 text-center" *ngIf="step === 3">
          <i class="fe fe-check-circle text-success"></i>
        </p>
        <p class="text-center text-muted mb-5" *ngIf="step === 3">
         You redeeemed <span class="text-secondary">{{commissionAmount}}</span> $DAI (or equivalent Betoken Shares.
        </p>
        <hr *ngIf="step === 3">
        <form *ngIf="step === 3">
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" value="{{transactionId}}" aria-label="Transaction ID" aria-describedby="">
              <div class="input-group-append">
                <a class="btn btn-white h-100" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"><i class="fe fe-external-link"></i></a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Redeem button for step 1 -->
      <div class="modal-footer border-0" *ngIf="step === 0">
          <div class="row">
              <div class="col mb-2">
                  <button type="submit" class="btn btn-success btn-lg btn-block" aria-label="Redeem in BTKS" (click)="redeemCommission(1)" >
                    Redeem in $BTKS
                  </button>
              </div>
              <div class="col">
                  <button type="submit" class="btn btn-white btn-lg btn-block" aria-label="Redeem in DAI" (click)="redeemCommission(0)" >
                    Redeem in $DAI
                  </button>
              </div>
          </div>
      </div>

      <!-- close button -->
      <div class="modal-footer border-0" *ngIf="step === 3">
        <button type="submit" class="btn btn-block btn-white mt-auto" data-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
    </div>
  </div>
</div><!-- / modal -->



<!-- Old angular stuff

<div class="redeem-modal-wrapper" [@toggleRedeem]="state" [class.active]="active">
    <div class="content redeem-phase">
        <div class="modal-header d-flex align-items-center">
            <div class="modal-tittle">
                Redeem your commissions
            </div>
            <div class="modal-close">
                <button type="button" routerLink="/home" class="close black-font" (click)="closePopup()">&times;</button>
            </div>
        </div>
        <div class="time-wrapper">
            <p class="m-0">Time left to redeem commission: {{days}}d {{hours}}h {{minutes}}m {{seconds}}s
            </p>
        </div>

        <div class="main-sec" *ngIf="step1">
            <p class="m-0 pb-4 black-font">
                As a Betoken fund manager, you're entitled to a commission payout every month, the amount of which is based upon your performance.
            </p>
            <p class="m-0 pb-4 black-font">
                You may choose to redeem your commission in DAI Stablecoin or in Betoken Shares.
            </p>

            <p class="m-0">Redeem commission in</p>
            <div class="mt-2 mb-4 outline-box w-100 d-flex  align-items-center justify-content-between">
                <select class="border-0 betoken-font w-100" (change)="updateRedeemOption($event)">
                    <option>DAI Stablecoin</option>
                    <option>BTKS Betoken Shares</option>
                </select>
            </div>
            <div>
                <p class="m-0">
                    Total commission value
                </p>
            </div>
            <div class="mt-2 outline-box w-100 d-flex align-items-center justify-content-between">
                <p class="m-0">{{commissionAmount}} DAI</p>
            </div>

        </div>

        <div class="confirmation-sec" *ngIf="step2">
            <p class="mb-3">
                🚨 Confirm your trade for this asset
            </p>
            <p class="m-0 pb-4 black-font">
                Confirm the transaction in the Metamask’s interface to submit it to the Betoken fund contract.
                It's fine to stick with these defaults gas limit and price.
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/metamask-big.png" width="128" height="128">
            </div>
        </div>

        <div class="broadcast-sec m-3" *ngIf="step3">
            <p class="mb-3">
                🎉 Transaction broadcasted!
            </p>
            <p class="m-0 pb-4 black-font">
                Your transaction is being saved on the Ethereum blockchain.
                You can check its status on Etherscan.
            </p>
            <div class="d-flex justify-content-center mb-5">
              <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
              </div>
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
              <input class="tx-hash" type="text" name="" value="{{transactionId}}">
              <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>

        <div class="final-sec m-3" *ngIf="step4">
            <p class="mb-3">
                🙌 Done. Check your balance!
            </p>
            <p class="m-0 pb-4 black-font">
                You redeeemed {{commissionAmount}} DAI (or equivalent Betoken Shares).
            </p>
            <div class="d-flex justify-content-center mb-5">
                <img src="assets/images/finish.png">
            </div>
            <p>
                Transaction ID
            </p>
            <div class="mt-2 w-100 d-flex align-items-center justify-content-between">
                <input class="tx-hash" type="text" name="" value="{{transactionId}}">
                <a class="link-tx-hash" href="https://rinkeby.etherscan.io/tx/{{transactionId}}" target="_blank"> <img src="assets/images/ic_launch_black_24px.svg" class="pointer ml-2"> </a>
            </div>
        </div>
        <div class="modal-button-wrapper">
            <button class="text-center outline-button active w-100" (click)="redeem()" *ngIf= "step1">REDEEM COMMSSIONS</button>
            <button class="text-center outline-button active w-100" routerLink="/home" (click)="closePopup()" *ngIf= "step4">CLOSE PANEL</button>
        </div>

    </div>
</div>

<div class="overlay-popup" routerLink="/home" [class.active]="active" (click)="closePopup()"></div>

<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white pt-3 pb-3"
    *ngIf="footerbtn1">
    <button class="text-center outline-button active" (click)="redeemPopup()">REDEEM COMMISSION</button>
</div>

<div class="col-12 d-none d-lg-none d-flex button-wrapper text-right justify-content-end footer-wrapper fixed-bottom bg-white  pt-3 pb-3"
    *ngIf="footerbtn2">
    <button class="text-center outline-button active">NEW CYCLE</button>
</div>
-->
