.side-nav-wrapper{
    background-color: #fff;
    height: 100%;
    border-right: 1px solid #D1DCDF;
    padding: 16px 0 0;
    position: fixed;
    top: 112px;
    z-index: 100;
    a{
      color: #8fa9b0;
    }
    .nav-bar{
        padding:0px;
        background-color: #FFFFFF !important;
        .time-left-title{
          margin: 0 24px;
          font-size: 14px;
          color: #8FA9B0;
        }
        .time-left-value{
          margin: 0 24px 16px;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.87);
        }
        ul{
            padding-left: 0;
            list-style: none;
            font-size: 14px;
            border-bottom: 1px solid #D1DCDF;
            padding-bottom: 1rem;
            li{
                height: 48px;
                padding:14px 5px;
                cursor: pointer;
                img{
                    padding:0 15px ;
                }
                span{
                    padding:0 15px ;
                }
            }

            li:last-child{
                padding-bottom: 20px;
            }
        }
        .app-nav{
            li{
                position: relative;
                .nav-indication{
                    display: block;
                    position: absolute;
                    width: 4px;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    padding: 0px !important;
                }
                &.active{
                    color: #000000 !important;
                    font-family: 'MavenProMedium';
                    .nav-indication{
                        background-color:#1CC886 !important;
                    }
                }
                .bt-home{
                  background-image: url(/assets/images/ic_home_grey_24px.svg);
                  background-position: center;
                  background-repeat: no-repeat;
                  display: block;
                  width: 24px;
                  height: 24px;
                }
                .bt-home.bt-home-active{
                  background-image: url(/assets/images/ic_home_black_24px.svg);
                }
                .bt-proposal{
                  background-image: url(/assets/images/ic_data_usage_grey_24px.svg);
                  background-position: center;
                  background-repeat: no-repeat;
                  display: block;
                  width: 24px;
                  height: 24px;
                }
                .bt-proposal.bt-proposal-active{
                  background-image: url(/assets/images/ic_data_usage_black_24px.svg);
                }
                .bt-market{
                  background-image: url(/assets/images/baseline-timeline-24px-grey.svg);
                  background-position: center;
                  background-repeat: no-repeat;
                  display: block;
                  width: 24px;
                  height: 24px;
                }
                .bt-market.bt-market-active{
                  background-image: url(/assets/images/baseline-timeline-24px-black.svg);
                }
                .bt-rank{
                  background-image: url(/assets/images/iconmonstr-medal-2-grey.svg);
                  background-position: center;
                  background-repeat: no-repeat;
                  display: block;
                  width: 24px;
                  height: 24px;
                }
                .bt-rank.bt-rank-active{
                  background-image: url(/assets/images/iconmonstr-medal-2-black.svg);
                }
                .bt-wallet{
                  background-image: url(/assets/images/ic_account_balance_wallet_grey_24px.svg);
                  background-position: center;
                  background-repeat: no-repeat;
                  display: block;
                  width: 24px;
                  height: 24px;
                }
                .bt-wallet.bt-wallet-active{
                  background-image: url(/assets/images/ic_account_balance_wallet_black_24px.svg);
                }
            }

        }

        .support-nav{
            border-bottom: none !important;
            li{
                height: 48px;
                padding:14px 24px;
                display: flex;
                cursor: default;
                a{
                 cursor: pointer;
                }
            }
        }
        .button-wrapper{
          display: block;
          width: 160px;
          margin: 0 auto 16px;
            .outline-button.invest{
              border-radius: 4px 0 0 4px;
              border-right: 0;
            }
            .outline-button.manage{
              border-radius: 0 4px 4px 0;
            }
        }
    }
    .sidenav-bg-image{
        overflow: hidden;
        display: flex;
        align-items: stretch;
        padding-top: 80px;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
        img{
            width: 100%;
        }
    }
}

.notification-wrapper{
    position: fixed;
    width: 450px;
    background-color: #ffffff;
    z-index: 1030;
    height: 100%;
    .content{
        .modal-header{
                font-family: 'MavenProMedium' !important;
                font-size: 18px !important;
                color: #000000;
                .close{
                    font-family: 'MavenProBold' !important;
                    font-size: 28px !important;
                    opacity: 1 !important;
                    padding: 0 !important;
                    margin: 0 !important;
                }
        }
        .notification-display{
            .notification{
                padding: 15px;
                border-bottom: 1px solid #D1DCDF;
                .info{
                    font-size: 16px;
                }
                .time{
                    font-size: 14px;
                }
            }
        }
        }
}

.overlay-popup{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    bottom: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    &.active{
        visibility: visible;
        opacity: 0.3;
    }
}


@media (max-width: 575.98px) {
    .side-nav-wrapper{
        width: 250px;
        top: 75px;
        height: calc(100% - 67px);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .side-nav-wrapper{
        width: 250px;
        top: 70px;
        height: calc(100% - 67px);
    }
}

@media (min-width: 768px) and (max-width: 991.98px)  {
    .side-nav-wrapper{
        width: 250px;
        top: 83px;
        height: calc(100% - 67px);
    }
}
